beautifulsoup4==4.7.1
ccy==1.0.0
certifi==2019.3.9
Django==2.2.4
django-debug-toolbar==1.11.1
django-sniplates==0.6.0
django-tastypie==0.14.2
markdown2==2.3.7
mwparserfromhell==0.5.4
numpy==1.16.4
psycopg2==2.7.6.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-mimeparse==1.6.0
pytz==2019.1
scipy==1.2.1
six==1.12.0
soupsieve==1.8
sqlparse==0.3.0
