Old config

Django==1.4.5
Markdown==2.3.1
MySQL-python==1.2.4
ccy==0.5.1
simplejson==3.3.0
pyparsing==1.5.7
python-dateutil==2.1
numpy==1.7.1

New Py3 config

numpy 1.7.1
python-markdown2 2.1.1
python-dateutil 2.1
psycopg2 2.5.1
Django 1.6
South 0.8.2
ccy 0.5.1
simplejson 3.3.0

For Otolia

Django==1.5.4
Markdown==2.3.1
python-dateutil==2.1
psycopg2==2.5.1
South==0.8.2
ccy==0.5.1
simplejson==3.3.0
numpy==1.7.1
