numpy>=1.7.1
markdown2>=2.1.1
python-dateutil>=2.1
psycopg2>=2.5.1
Django>=1.8,<1.9
ccy>=0.5.1
django-debug-toolbar
django-tastypie
django-sniplates
beautifulsoup4
pyparsing
git+https://github.com/earwig/mwparserfromhell.git
