{% comment %}
This prints a table of root events. Called from events.html.
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

<div class="table" style="width: 67em;">
{% for part in bigs %}
    <div class="row">
    {% for e in part %} 
        <div class="rowevent" style="width: 34em;">
        {% if e %}
            <div class="eventh"><a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a></div>
            <div class="events">
            {% with children=e.get_immediate_children.all %}
            {% if children|eventliststart %}
                <span id="inv-{{e.id}}" style="display: none;">
                {% for f in children|eventliststart %}
                    <a href="/results/events/{{ f.id }}-{{ f.fullname|urlfilter }}/">{{ f.name }}</a>,
                {% endfor %}
                </span>
                <span id="clc-{{e.id}}" style="display: inline;">
                    <a href="#" onclick="togvis_span('inv-{{e.id}}'); togvis_span('clc-{{e.id}}'); return false;">(...)</a>
                </span>
            {% endif %}
            {% for f in children|eventlistend %}
                <a href="/results/events/{{ f.id }}-{{ f.fullname|urlfilter }}/">{{ f.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endwith %}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>

{% if smalls %}
    <form method="get" action="/results/events/">
    <p><strong>{% trans "Smaller events:" %}</strong>
    <select name="goto">
    {% for e in smalls %}
        <option value="{{ e.id }}">{{ e.name }}</option>
    {% endfor %}
    </select>
    {% comment %}Translators: Go as in go to a page.{% endcomment %}
    <input type="submit" value="{% trans "Go" %}" />
    </p>
    </form>
{% endif %}
