{% extends "index.html" %}

{% comment %}
This is the template for the earnings of a player. It's called from ratings.views.player_earnings.
{% endcomment %}

{% load ratings_extras %}
{% load humanize %}
{% load i18n %}

{% comment %}Translators: Earnings for [someone]{% endcomment %}
{% block title %}{% blocktrans with tag=player.tag %}{{tag}} earnings{% endblocktrans %}{% endblock %}

{% block content %}
<p>{% blocktrans with tag=player.tag money=totalearnings|add_separator %}In total, {{tag}} has earned ${{money}}.{% endblocktrans %}</p>

{% if by_currency %}<p>{% trans "Broken down by currency, that is…" %}</p>
<ul>
{% for currency, earnings in by_currency.items %}
<li>{{ earnings|add_sep_and_cur:currency }}</li>
{% endfor %}
</ul>
{% endif %}

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 6em; text-align: right;">{% trans "Placement" %}</td>
        <td style="width: 0.1em;"></td>
        <td>{% trans "Tournament" %}</td>
        <td style="width: 13em; text-align: right;">{% trans "Earnings" %}</td>
        <td style="width: 2em;"></td>
        <td style="width: 19em;">{% trans "Dates" %}</td>
    </tr>
    {% for earning in earnings %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td style="text-align: right;">
            {% if earning.rng %}
                {% if earning.rng.0 != earning.rng.1 %}
                    {{ earning.rng.0|ordinal }}&ndash;{{ earning.rng.1|ordinal }}
                {% else %}
                    {{ earning.rng.0|ordinal }}
                {% endif %}
            {% endif %}
            </td>
            <td></td>
            <td>
                {% for event in earning.event.get_ancestors_event %}
                    <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">{{ event.name }}</a>
                {% endfor %}
            </td>
            <td style="text-align: right;">
                {{ earning.origearnings|add_sep_and_cur:earning.currency }} 
                {% if earning.origearnings != earning.earnings %}
                    ({{ earning.earnings|add_sep_and_cur:"USD" }})
                {% endif %}
            </td>
            <td></td>
            <td>
            {% if earning.event.earliest != earning.event.latest %}
                {{ earning.event.earliest }} &ndash; {{ earning.event.latest }}
            {% else %}
                {{ earning.event.latest }}
            {% endif %}             
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
