{% comment %}
This is the rating list subroutine, used on every page that needs players listed by rating. It expects the
arguments:

- entries: A list of rating objects.
- sortable: True if the list should be sortable, false otherwise. If given, the page, race and nats arguments
            should also be provided.
- startcount: The count for the first player on the list. (Usually 1, except when showing other pages, for
              example.)
- displayteams: Display teams
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

{% include "periodpagenav.html" %}

<table class="results">
    <tr class="header">
        <td class="rl_number">{% trans "#" %}</td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_name">{% trans "Name" %}</td>
        <td class="rl_team">{% if displayteams %}{% trans "Team" %}{% endif %}</td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=&amp;race={{ race }}&amp;nats={{ nats }}">
                {% trans "Rating" %}↓
            </a>
            {% else %}{% trans "Rating" %}{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vp&amp;race={{ race }}&amp;nats={{ nats }}">
                {% trans "vP" %}↓
            </a>
            {% else %}{% trans "vP" %}{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vt&amp;race={{ race }}&amp;nats={{ nats }}">
                {% trans "vT" %}↓
            </a>
            {% else %}{% trans "vT" %}{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vz&amp;race={{ race }}&amp;nats={{ nats }}">
                {% trans "vZ" %}↓
            </a>
            {% else %}{% trans "vZ" %}{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_arrow"></td>
    </tr>
    {% if entries %}
    {% for entry in entries %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td class="rl_number">
            {% if startcount %}
                {{ forloop.counter|add:startcount }}.
            {% else %}
                {{ forloop.counter }}.
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.position and entry.prev.position and rl_pos_arrow %}
                {% if entry.prev.position < entry.position %}
                <img src="{{ "downarrow"|img }}" alt="down" class="btm" 
                     title="{{ entry.prev.position|sub:entry.position }}" />
                {% elif entry.prev.position > entry.position %}
                <img src="{{ "uparrow"|img }}" alt="up" class="btm"
                     title="+{{ entry.prev.position|sub:entry.position }}" />
                {% endif %}
            {% elif rl_pos_arrow %}
            <img src="{{ "new"|img }}" alt="new" style="vertical-align: text-bottom;" />
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.player.country %}
            <img src="{{ entry.player.country|lower|img:"flags" }}" alt="{{ entry.player.country }}" />
            {% endif %}
        </td>
        <td class="rl_icon">
            <img src="{{ entry.player.race|img }}" alt="{{entry.player.race}}" class="btm" />
        </td>
        <td class="rl_name">
            <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/">{{ entry.player.tag }}</a>
        </td>
        <td class="rl_team">
            {% if displayteams and entry.team %}
                <a href="/teams/{{ entry.teamid }}-{{ entry.teamfull|urlfilter }}/">{{ entry.team }}</a>
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
            <img src="{{ entry.rating_diff|makearrows|img }}" style="vertical-align: text-bottom;"
                 title="{{ entry.rating_diff|ratscalediff|signify }}" />
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vp|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
            <img src="{{ entry.rating_diff_vp|makearrows|img }}" style="vertical-align: text-bottom;"
                 title="{{ entry.rating_diff_vp|ratscalediff|signify }}" />
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vt|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
            <img src="{{ entry.rating_diff_vt|makearrows|img }}" style="vertical-align: text-bottom;"
                 title="{{ entry.rating_diff_vt|ratscalediff|signify }}" />
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vz|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
            <img src="{{ entry.rating_diff_vz|makearrows|img }}" style="vertical-align: text-bottom;"
                 title="{{ entry.rating_diff_vz|ratscalediff|signify }}" />
            {% endif %}
        </td>
        <td class="rl_arrow">
            {% if entry.decay == 0 %}
                <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/period/{{ entry.period_id }}/">→</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="nonheader row2">
        <td colspan="15">{% trans "No entries found." %}</td>
    </tr>
    {% endif %}
</table>

{% include "periodpagenav.html" %}
