/* Title text ('ALIGULAC') and subheading */
h1 {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 60px;
    letter-spacing: 0.6em;
    text-align: center;
    padding-left: 0.7em; /* Required for centering */
}

.subheading {
    letter-spacing: 0.1em;
    text-align: center;
}

/* Major headings are in h2 */
h2 {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 2em;
    font-weight: 400;
    border-style: none none solid none;
    border-width: 0.05em;
    border-color: #e7e7e7;
}

/* A blacklink is always black and never underlied. */
a.blacklink {
    color: #000000;
}

a.blacklink:hover {
    text-decoration: none;
} 

/* Centered navbar */
@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: none;
    }
} 

.navbar {
    border-radius: 0;
    border-style: solid none solid none;
}
    

/* Centered footer */
footer {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 80px;
}

/* Change the glow around focused input */
.form-control:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(0, 0, 0, .4);
    box-shadow:         inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(0, 0, 0, .4);
}

/* Autocomplete styles */
.ui-autocomplete {
    padding: 0.3em;
    font-family: 'Roboto', sans-serif;
}

.ui-menu .ui-menu-item a {
    border-radius: 0;
}

.autocomp-team {
    margin-left: 10em; /* So that the team names don't get too close */
}

.autocomp-player {
    margin-left: 0.5em; /* So that the player name isn't too close to the race icon */
}

.autocomp-header {
    display: block;
    text-align: center;
    width: 100%;
    background: #f8f8f8;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #999999;
    margin-top: 2px;
}

/* Right-pointing caret */
.right-caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: middle;
    width: 0;
}

/* Ratinglist table */
.rl_number {
    width: 2em;
    text-align: right;
}

.rl_icon {
    width: 1em;
    text-align: center;
}

.rl_arrow {
    width: 2em;
    text-align: right;
}

.rl_name {
    width: 25%;
}

.rl_team {
    width: 20%;
}

.rl_rating {
    width: 8%;
    text-align: right;
    padding-left: 1em;
}

/* Historical overview table */
.ho_icon {
    width: 13%;
    text-align: right;
}

.ho_pctg {
    width: 2em;
    text-align: right;
}

.ho_num {
    width: 13%;
    text-align: right;
}

/* Earnings table */
.ea_number {
    width: 2em;
    text-align: right;
}

.ea_icon {
    width: 1em;
    text-align: center;
}

.ea_name {
}

.ea_team {
}

.ea_earnings {
    text-align: right;
    width: 10em;
}

.ea_flush {
    width: 15%;
}
    

/* Subelements of h2 headings -- make sure the h2 has position: relative; */
h2.sub {
    position: relative;
}

h2.sub > small.right {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    position: absolute;
    bottom: 0.2em;
    right: 0;
}

h2.sub > .left {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    position: absolute;
    bottom: 0.2em;
    margin-left: 1em;
}

/* Wrap paragraphs in a div.text to make them justified */
div.text > p {
    text-align: justify;
}

/* Styles for message boxes */
.message {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.message > img {
    margin-right: 1em;
}

.m-success {
    background: #dff0d8;
    border-color: #c1e2b3;
}

.m-success:hover {
    background-color: #c1e2b3;
}

.m-warning {
    background: #fcf8e3;
    border-color: #f7ecb5;
}

.m-warning:hover {
    background-color: #f7ecb5;
}

.m-info {
    background: #d9edf7;
    border-color: #afd9ee;
}

.m-info:hover {
    background-color: #afd9ee;
}

.m-error {
    background: #f2dede;
    border-color: #e4b9b9;
}

.m-error:hover {
    background-color: #e4b9b9;
}

/* Class for inline form labels, help spacing */
.inline-label {
    margin-left: 1em;
    margin-right: 0.2em;
}

/* Infobox tables */
.ibox-left {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e7e7e7;
}

.player img, .ui-corner-all img {
    padding-right: 0.3em;
}