body {
    text-align: center;
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: 'Donegal One', Times, serif;
    font-size: 0.8em;
}

table#main {
    margin-left: auto;
    margin-right: auto;
    width: 67em;
}

td#heading {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 4em;
    letter-spacing: 1em;
    padding-left: 1em;
    padding-top: 0.3em;
}

td#subheading {
    border-width: 0.2em;
    border-style: none none solid none;
    font-family: 'Donegal One', Times, serif;
    letter-spacing: 0.2em;
    padding-bottom: 0.2em;
}

td.menu {
    font-family: 'Donegal One', Times, serif;
    font-variant: small-caps;
    border-style: none none solid none;
    border-width: 0em 0em 0.2em 0em;
}

td#content {
    text-align: left;
    padding-bottom: 4em;
}

td#footer {
    border-width: 0.2em;
    border-style: solid none none none;
    font-size: 0.8em;
    padding-top: 1em;
}

a:link {
    color: #0000aa;
    text-decoration: none;
}

a:visited {
    color: #0000aa;
    text-decoration: none;
}

a:hover {
    color: #5555ff;
    text-decoration: none;
}

a#title {
    color: #000000;
}

img.btm {
    vertical-align: text-bottom;
}

div.table {
    display: table;
    border-collapse: collapse;
}

div.numtable {
    font-family: Verdana, Geneva, sans-serif;
}

div.table a {
    color: #000088;
}

div.rowh a {
    color: #ffffff;
}

div.rowh a:hover {
    color: #bbbbbb;
}

div.rowh2 a {
    color: #ffffff;
}

div.rowh2 a:hover {
    color: #bbbbbb;
}

div.rowevent a {
    color: #000000;
}

div.rowevent a:hover {
    color: #555555;
}

div.table div.rowh {
    display: table-row;
    background: #555555;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Marcellus SC';
}

div.table div.rowh2 {
    display: table-row;
    background: #888888;
    color: #ffffff;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Marcellus SC';
}

div.table div.rowe {
    display: table-cell;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

div.table div.rowevent {
    display: table-cell;
    background: #eeeeee;
    border-style: dashed;
    border-width: 0.1em;
}

div.table div.rowel {
    display: table-cell;
    text-align: right;
    padding: 0.2em;
    padding-right: 1em;
    border-style: none dotted none none;
    border-width: 0.1em;
}

div.table div.rower {
    display: table-cell;
    text-align: left;
    padding: 0.2em;
    padding-left: 1em;
}

div.table div.row {
    display: table-row;
}

div.table a.row {
    display: table-row;
    text-decoration: none;
    color: #000000;
}

div.table div.row1 {
    background: #d0d0d0;
}

div.table a.row1 {
    background: #d0d0d0;
}

div.table div.row2 {
    background: #eeeeee;
}

div.table a.row2 {
    background: #eeeeee;
}

div.ibox {
    border-style: solid;
    border-width: 0.1em;
    /*float: right;*/
    margin-bottom: 1.5em;
}

div.ibox div.iboxh {
    width: auto;
    background: #555555;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Marcellus SC';
    text-align: center;
    padding: 0.15em;
}

div.iboxh a:link {
    color: #aaaaaa;
}

div.iboxh a:visited {
    color: #aaaaaa;
}

div.iboxh a:hover {
    color: #777777;
}

div.ibox div.iboxtable {
    display: table;
    border-collapse: collapse;
    font-size: 0.85em;
}

div.ibox div.iboxtable div.row {
    display: table-row;
    background: #eeeeee;
}

div.ibox div.iboxtable div.rowel {
    display: table-cell;
    text-align: right;
    padding: 0.2em;
    padding-right: 1em;
    border-style: none dotted none none;
    border-width: 0.1em;
}

div.ibox div.iboxtable div.rower {
    display: table-cell;
    text-align: left;
    padding: 0.2em;
    padding-left: 1em;
}

div.eventh {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 2.7em;
    font-weight: 400;
    padding-left: 0.6em;
    padding-top: 0.2em;
}

div.events {
    padding-left: 1em;
    padding-bottom: 1em;
}

h2 {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 2em;
    font-weight: 400;
    border-style: none none solid none;
    border-width: 0.05em;
}

h3 {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 1.5em;
    font-weight: 400;
    border-style: none;
    text-decoration: underline;
}

span.small {
    font-size: 0.8em;
}

img.longplot {
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.postdetails {
    margin-top: -2em;
    text-align: right;
    font-size: 0.8em;
}

div.faqpost {
    text-align: justify;
}

div.faqpost img {
    float: right;
}
table.results tr.nonheader {
    font-family: Verdana, Geneva, sans-serif;
}

tr.row2 {
    background: #eeeeee;
}

tr.row1 {
    background: #d0d0d0;
}

tr.header {
    background: #555555;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Marcellus SC';
}

table.results a {
    text-decoration: none;
    color: #000088;
}

table.results a:hover {
    text-decoration: none;
    color: #5555ff;
}

tr.header a {
    color: #ffffff;
    text-decoration: none;
}

tr.header a:hover {
    color: #bbbbbb;
    text-decoration: none;
}

table.results td {
    padding: 0.4em;
}


/* =====================================================================
 * Menu
 * =====================================================================
 */

 .menu > ul {
    margin: 0;
    padding: 0;
}

    .menu > ul > li a {
        color: black;
    }

    .menu > ul > li {
        display: inline-block;
        position: relative;
        padding-bottom: 1px;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }

        .menu > ul > li > ul {
            display: none;
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            left: 0px;
            background-color: white;
            white-space: nowrap;
            z-index: 2;
        }

            .menu > ul > li > ul > li {
                padding: 3px;
            }
            .menu > ul > li > ul > li > .ui-button {
                text-align: left;
            }

        .menu > ul > li > .ui-widget-content {
            border: none;
        }

        .menu > ul > li > .ui-menu .ui-menu-item a {
            background: none;
            background-color: white;
            color: black;
            padding: 0;
            margin: 0;
            border-radius: 0;
            font-family: 'Donegal One', Times, serif;
            font-size: 0.8em;
        }

        .menu > ul > li:hover > ul {
            display: block !important;
        }

td.menu {
    padding-bottom: 0;
}

a.menucur {
    color: #880000 !important;
}

/* =====================================================================
 * TABLES
 * =====================================================================
 */

table.dottedint {
    border-collapse: collapse;
}

table.dottedint tr td {
    border-top: dotted 0.1em;
    border-left: dotted 0.1em;
    text-align: center;
    padding: 0.2em;
}

table.dottedint tr:first-child td {
    border-top: none;
}

table.dottedint tr td:first-child {
    border-left: none;
}

table.results {
    width: 100%;
    border-collapse: collapse;
}

table.prizepool {
    width: 40em;
}

/* ========== MATCHLIST TABLE ========= */

td.lm_date {
    width: 7em;
}

td.lm_rta {
    width: 4em;
    text-align: right;
}

td.lm_pla {
    width: 19em;
    text-align: right;
}

td.lm_score {
    width: 5em;
    text-align: center;
}

td.lm_plb {
    width: 19em;
}

td.lm_rtb {
    width: 4em;
    text-align: right;
}

td.lm_right {
    width: 7em;
    text-align: right;
}

/* ========== RATINGLIST TABLE ========= */

td.rl_number {
    width: 2em;
    text-align: right;
}

td.rl_icon {
    width: 1em;
    text-align: center;
}

td.rl_arrow {
    width: 2em;
    text-align: right;
}

td.rl_name {
    width: 18em;
}

td.rl_team {
    width: 8em;
}

td.rl_rating {
    width: 6em;
    text-align: right;
}

/* ========= MESSAGES ========== */

table.messages {
    width: 67em;
    border-collapse: collapse;
    margin-bottom: 1em;
}

tr.minfo {
    background-color: #bbbbff;
}

td.micon {
    border-style: solid none solid solid;
    border-width: 0.1em;
    width: 5em;
    text-align: center;
    padding: 0.3em;
}

td.mtext {
    border-style: solid solid solid none;
    border-width: 0.1em;
    width: auto;
    padding: 0.5em 0.5em 0.5em 0em;
}

td.minfoicon {
    border-color: #0000aa;
}

td.minfotext {
    border-color: #0000aa;
}

tr.mwarning {
    background-color: #ffffaa;
}

td.mwarningicon {
    border-color: #666600;
}

td.mwarningtext {
    border-color: #666600;
}

tr.merror {
    background-color: #ffbbbb;
}

td.merroricon {
    border-color: #aa0000;
}

td.merrortext {
    border-color: #aa0000;
}

tr.msuccess {
    background-color: #bbffbb;
}

td.msuccessicon {
    border-color: #00aa00;
}

td.msuccesstext {
    border-color: #00aa00;
}


/* ========= FORMS ========= */

div.hiddenform {
    border-style: solid;
    border-width: 0.2em;
    border-color: #000000;
    background-color: #ffffff;
    width: 70em;
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -35em;
    max-height: 90%;
    overflow-y: auto;
}

table.hiddenform {
    margin-top: 4em;
    margin-bottom: 3em;
}

table.bigform {
    width: 67em;
}

td.form_left {
    width: 15em;
    text-align: right;
    border-style: none dotted none none;
    border-width: 0.1em;
    padding-right: 1em;
}

td.form_right {
    width: 52em;
    padding-left: 1em;
}

td.va_top {
    vertical-align: top;
}

.wideinput {
    width: 35em;
}

.verywideinput {
    width: 50em;
}

.narrowinput {
    width: 15em;
}

input.text {
    width: 35em;
}

input.date {
    width: 6.5em;
}

input.player {
    width: 15em;
}

select.small {
    width: 15em;
}

div.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: Verdana, Geneva, sans-serif;
}

/* PERCENTAGES */

.progress {
    width: 95%;
    border: 1px solid black;
    position: relative;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.percent {
    position: absolute;
    left: 0.3em;
    top: 0.35em;
    height: 100%;
    font-size: 12px;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

.percent-right {
    left: inherit;
    right: 0.3em;
}

.bar {
    height: 25px;
    background-color: #bbb;
    border-right: 0.1em dotted #555;
    display: inline-block;
    margin-bottom: -1em;
}

/* TABS */

td.tabsel {
    text-align: center;
    border: solid 0.1em #000000;
    background: #555555;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Marcellus SC', Times, serif;
    padding: 0.3em;
    font-size: 1.1em;
    cursor: pointer;
}

td.tabunsel {
    text-align: center;
    border: solid 0.1em #000000;
    background: #cccccc;
    color: #000000;
    font-weight: bold;
    font-family: 'Marcellus SC', Times, serif;
    padding: 0.3em;
    font-size: 1.1em;
    cursor: pointer;
}

td.tabsel a {
    color: #ffffff;
    text-decoration: none;
}

td.tabunsel a {
    color: #222222;
    text-decoration: none;
}

td.tabunsel a:hover {
    color: #555555;
    text-decoration: none;
}

/* SORTABLE LISTS */

#sortable {
    list-style-type: none;
    margin: 2em;
    padding: 0;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.ui-state-default {
    background: #fff;
    border: dotted 0.1em #000;
    color: #000;
    font-weight: normal;
}

.ui-sortable-helper {
    background: #eee;
}

