{% extends "index.html" %}

{% comment %}
This is the template for the admin page for submitting matches. It's called from
ratings.submitviews.add_matches.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}

{% block title %}Submit results{% endblock %}

{% block content %}
    {% include "messages.html" %}

    {% if matches %}
    <p>The following entries were successfully submitted{% if adm %}:{% else %}. They are pending review
    before being visible.{% endif %}</p>
        <table class="results">
        {% include "matchlist.html" with lm_list=matches lm_adm=adm lm_header="full" %}
        </table>
    {% endif %}

    <script type="text/javascript">
    <!--
        togs = ['guide','syntax','examples','problems'];
    //-->
    </script>

    <p>Show: <a href="#" onclick="switch_to('guide',togs); return false;">guide</a>,
             <a href="#" onclick="switch_to('syntax',togs); return false;">match syntax</a>,
             <a href="#" onclick="switch_to('examples',togs); return false;">examples</a>,
             <a href="#" onclick="switch_to('problems',togs); return false;">common problems</a></p></div>

    <div id="guide" style="display: block;">
        <ul>
            {% if not adm %}
            <li><strong>Event:</strong> Anything that can be used to identify the tournament the games were
            played in. Please provide as much information as possible. (Rounds, day number, week number,
            etc.)</li>
            {% endif %}
            {% if adm %}
            <li><strong>Event object:</strong> The event the games were played in. 
                <span style="color: #ff0000;">If you can't find the correct event object, you have to <a
                    href="/add/events/">make it</a>. If these are the final games associated with an event
                    object, please close it afterwards.</span></li>
            {% endif %}
            <li><strong>Date played:</strong> The date the games were played (as accurate as possible). This
            will be used to check for possible duplicates.</li>
            <li><strong>Game:</strong> Indicate which version of SC2 the games were played on.</li>
            <li><strong>Type:</strong> Use <strong>offline</strong> for games that were played at a live
            tournament, otherwise use <strong>online</strong>.</li>
            {% if not adm %}
            <li><strong>Source:</strong> An URL to a credible source where the results can be double checked
            (for example: official tournament brackets, Liquipedia page or Team Liquid live report
            thread).</li>
            <li><strong>Contact:</strong> (Optional) A way to contact you if we have questions about your
            submission. E-mail, Team Liquid username, Reddit username etc. are fine.</li>
            <li><strong>Notes:</strong> (Optional) Any extra information you have that may or may not be of
            use.</li>
            {% endif %}
            <li><strong>Matches:</strong> A list of the results you want to add. Please see 
            <a href="#" onclick="switch_to('syntax',togs); return false;">match syntax</a> for more
            information.</li>
        </ul>

        <p>Please check out <a href="#" onclick="switch_to('problems',togs); return false;">common
            problems</a> if you are unsure about a player.</p>
    </div>

    <div id="syntax" style="display: none;">
        <p>Each line corresponds to a match, and should be entered using this format:</p>

        <pre><code>    &lt;Player A&gt;-&lt;Player B&gt; &lt;Score A&gt;-&lt;Score B&gt;</code></pre>

        {% if adm %}
        <p>The player information must uniquely identify the player, and should be space-separated list of any
        of the following:</p>
        {% else %}
        <p>The player information does not have to uniquely identify the player, and should be a
        space-separated list of any of the following:</p>
        {% endif %}

        <ul>
            <li>Player tag, e.g. &quot;DongRaeGu&quot;.</li>
            <li>Race, i.e. &quot;P&quot;, &quot;T&quot;, &quot;Z&quot;, &quot;R&quot; (Random) or
            &quot;S&quot; (Race Switcher).</li>
            <li>A two- or three-letter <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1
                alpha-2</a> country code. e.g. &quot;KR&quot; or &quot;KOR&quot;, or the common English name
            of a country (the latter will only work if the country name does not contain spaces.</li> 
            <li>Team name, e.g. &quot;MVP&quot;.</li>
            <li>Player or team aliases, e.g. &quot;DRG&quot;. The most common ones should be recognized.</li>
            <li>A player ID number, which you can get from the URL of the 
            <a href="/players/4-DongRaeGu/">player page</a>, e.g. &quot;4&quot;.</li>
        </ul>

        <p>If you are adding a match by a race switcher you need to tell the system which race the player was
        playing in that match. Do this by adding a &quot;R:&lt;race&gt;&quot; clause at the
        <strong>end</strong> of the player information. For example, if MorroW plays Protoss, you can do
        this:</p>

        <pre><code>    Morrow r:p-DongRaeGu 0-2</code></pre>

        <p>Please also provide race information about random players whenever this is known, though it's not
        required.</p>

        <p>Everything is based on case-insensitive search. There is no recognizable difference between
        &quot;Mvp&quot; (the player) and &quot;MVP&quot; (the team).</p>

        {% if adm %}
        <p>When submitted, the system will try to add as many of the matches as it can. Some entries might
        produce warnings, in which case you will be notified about what to do. This happens when:</p>

        <ul>
            <li>a player is not uniquely identified. In this case, add more information. Use the ID number if
            necessary.</li> 
            <li>a player can't be found. In this case, add the switch &quot;<strong>!MAKE</strong>&quot; to
            the end of the respective line(s).  This will make a player entry if needed. In this case, you
            <strong>must</strong> provide a player tag and race.  Please also provide a country code if
            possible, and make sure the player tag is spelled correctly (including capitalisation).</li>
            <li>a duplicate entry was found. If you are certain that the two players in question played more
            than one match within a single day with the same result (this can happen, but it's rare), add the
            switch &quot;<strong>!DUP</strong>&quot; to the end of the respective line(s). This will force the
            match to be entered.</li>
        </ul>
        {% else %}
        <p>When submitted, the system will try to find as many players as it can. If a player can't be found,
        or if the information provided applies to more than one player, that's fine. We will fix it when
        reviewing the submission.</p>

        <p>The system will also try to avoid duplicates. If your match appears to be a duplicate of another
        match in the database (same players, score and close in time), you will get a warning. To avoid this,
        add the switch &quot;<strong>!DUP</strong>&quot; to the end of the match description. This will force
        the match to be entered.</p>
        {% endif %}

        <p>Most players are uniquely identifiable through their nickname alone. For a list of the most common
        exceptions, please look at <a href="#" onclick="switch_to('problems',togs); return false;">common
            problems</a>.</p>
    </div>

    <div id="examples" style="display: none;">
    <p>Here are some real-world examples. From the GSL:</p>

<pre><code>    MarineKing-Roro 2-1
    Keen-IM Mvp 2-1
    MarineKing-Keen 2-0
    Roro-IM Mvp 2-0
    Keen-Roro 0-2</code></pre>

    <p>Some players have to be identified by race and/or country, such as Creator:</p>

<pre><code>    Creator P KR-Byul 2-0</code></pre>
    
    <p>Some players have aliases to help entering their names, such as BBoongBBoong:</p>

<pre><code>    Hyun-B4 0-2</code></pre>

    <p>Some players are more easily identified by team, such as Mvp and HerO:</p>

<pre><code>    Liquid Hero-IM Mvp 2-0</code></pre>
</div>

    <div id="problems" style="display: none;">
        <ul>
            <li>Liquid HerO, CJ herO, Woongjin ZerO, StarTale Zero, MVP Killer and Clarity KiLLeR should be
            identified by team.</li>
            <li>Creator, Dream, First, Happy, Maru, Rain, Tails, TheBest, and Top all need to be identified by
            race and/or country.</p>
        </ul>
        <p>Common country codes: Canada (CA), France (FR), Germany (DE), Korea (KR), Poland (PL), Russia (RU),
        Sweden (SE), Ukraine (UA), USA (US).</p>
    </div>

    <form method="post" action="/add/">
    {% csrf_token %}
    <table class="bigform">
        {% form "forms.html" %}
        {% use "hidden" name="submit" value="submit" %}
        {% if adm %}
            {% field "select" form.eventobj override=event_override class="wideinput" %}
        {% else %}
            {% field "basic" form.eventtext class="wideinput" %}
        {% endif %}
        {% field "date" form.date %}
        {% field "select" form.game class="wideinput" %}
        {% field "checkbox" form.offline class="wideinput" %}
        {% if not adm %}
            {% field "basic" form.source class="verywideinput" %}
            {% field "basic" form.contact class="verywideinput" %}
            {% field "textarea" form.notes class="verywideinput" rows="5" %}
        {% endif %}
        {% field "textarea" form.matches class="verywideinput" rows="20" %}
        {% use "submit" name="commit" text="Commit" %}
        {% use "submit" name="commit_close" text="Commit and close event" %}
        {% endform %}
    </table>
    </form>

{% endblock %}
