{% extends "index.html" %}

{% comment %}
Template for the change password function. Called from aligulac.views.changepwd.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <p>{% blocktrans %}To change the password for {{ user }}, fill in the form.{% endblocktrans %}</p>

    <form method="post" action="/changepwd/">
    {% csrf_token %}
    <div class="table" style="width: 35em;">
        <div class="row">
            <div class="rowe" style="width: 15em; text-align: right;">
                {% trans "Old password" %}:
            </div>
            <div class="rowe" style="width: 20em;"><input type="password" name="old" /></div>
        </div>
        <div class="row">
            <div class="rowe" style="width: 15em; text-align: right;">
                {% trans "New password" %}:
            </div>
            <div class="rowe" style="width: 20em;"><input type="password" name="new" /></div>
        </div>
        <div class="row">
            <div class="rowe" style="width: 15em; text-align: right;">
                {% trans "New password again" %}:
            </div>
            <div class="rowe" style="width: 20em;"><input type="password" name="newre" /></div>
        </div>
        <div class="row">
            <div class="rowe" style="width: 15em; text-align: right;"></div>
            <div class="rowe" style="width: 20em;"><input type="submit" value="{% trans "Change" %}" /></div>
        </div>
    </div>
    </form>
{% endblock %}
