{% extends "index.html" %}

{% comment %}
Number of days since.
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

{% block title %}{% trans "Days since…" %}{% endblock %}

{% block content %}

<script>
var clocks_toggle_more = function(e) {
  if ($(e).next().is(":visible")) {
    $(e).next().hide();
    $(e).children().first().text("→");
  } else {
    $(e).next().show();
    $(e).children().first().text("↘");
  }
};
</script>

<table class="clocks">
  {% for clock in clocks %}
  <tr {% if clock.type != "one_time" %}onclick="clocks_toggle_more(this);" style="cursor: pointer;" {% endif %}class="clock-more-button">
    <td style="width: 25px;">{% if clock.type != "one_time" %}→{% endif %}</td>
    <td{% if clock.alt_desc %} title="{{ clock.alt_desc }}"{% endif %}>{{ clock.desc }}</td>
    <td class="clock">
      {% if clock.years > 0 %}
      <div class="clock-number">{{ clock.years }}</div>
      {% blocktrans count clock.years as nyears %}year{% plural %}years{% endblocktrans %}
      {% endif %}
      <div class="clock-number">{{ clock.days }}</div>
      {% blocktrans count clock.days as ndays %}day{% plural %}days{% endblocktrans %}
    </td>
  </tr>
  {% if clock.type == "match" %}
  <tr style="display:none;">
    <td></td>
    <td colspan="2">
      <table class="clock-results-table results">
        {% include "matchlist.html" with lm_list=clock.extra lm_adm=0 lm_header="partial"%}
      </table>
    </td>
  </tr>
  {% endif %}
  {% if clock.type == "event_winner" %}
  <tr style="display:none;">
    <td></td>
    <td colspan="2">
      <table class="clock-event-table">
        <thead><tr class="header">
            <th>{% trans "Date" %}</th><th>{% trans "Event" %}</th><th></th><th></th></tr></thead>
        <tbody>
        {% for e, earn in clock.extra %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
          <td>{{ e.latest|date:"Y-m-d" }}</td>
          <td>{{ e|event }}</td>
          <td>{{ earn.0.player|player }}</td>
          <td>{{ earn.0.earnings|add_sep_and_cur:"USD" }}</td>
        </tr>
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
          <td></td>
          <td></td>
          <td>{{ earn.1.player|player }}</td>
          <td>{{ earn.1.earnings|add_sep_and_cur:"USD" }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </td>
  </tr>
  {% endif %}
{% endfor %}
</table>

<p> <small>
{% blocktrans %}<b>Major</b> is defined by being a tournament where the first place prize money exceeds $2,000.{% endblocktrans %} <br/>
{% blocktrans %}<b>Premier</b> is defined by being an offline tournament where the first place prize money exceeds $10,000{% endblocktrans %} <br/>
{% blocktrans with a="<a href=\"http://liquipedia.net/\">" %}These differ from the definitions used by {{a}}Liquipedia</a>. The reason for this being that it's hard use their definition when doing a database lookup as their definitions aren't well-defined.{% endblocktrans %}
</small> </p>
{% endblock %}
