{% extends "index.html" %}

{% comment %}
Number of days since.
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

{% block title %}{% trans "Comparing players" %}{% endblock %}

{% block content %}

<table class="comp">
  <thead>
    <tr>
      <th></th>
      {% for p in players %}
      <th class="comp-head">
        <div class="comp-player-race">
	  {{ p.race|large_race_img|safe }}
        </div>
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th></th>
      {% for p in players %}
      <th class="comp-head">
        <div class="comp-player-tag">{{ p.tag }}</div>
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th></th>
      {% for p in players %}
      <th class="comp-head">
        {% if p.country %}
        <div class="comp-player-country">
	  <img src="{{ p.country|lower|img:'flags' }}" />
          {{ p.country|countryfull }}
        </div>
	{% endif %}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for comp in comparisons %}
    {% if comp and comp.name %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <th>
        {{ comp.name }}
      </th>
      {% for e in comp.entries %}
      <td class="{% if e.is_best %}comp-best{% elif e.is_worst %}comp-worst{% endif %}" title="#{{ e.index }}">{{ e.value_print }}</td>
      {% endfor %}
    </tr>
    {% elif comp %}
    <tr class="hline header">
      <th colspan="{{ players|length }}">{{ comp }}</th><th></th>
    </tr>
    {% else %}
    <tr class="hline">
      <td></td>
      <td colspan="{{ players|length }}"></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
