{% extends "index.html" %}

{% comment %}
For comparing two players.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Compare{% endblock %}

{% block content %}
    {% if pla and plb %}
    <h2>{{ pla.tag }} vs. {{ plb.tag }}</h2>

    <p><a href="/players/{{ winner.id }}-{{ winner.tag|urlfilter }}/">{{ winner.tag }}</a>
       is better than
       <a href="/players/{{ loser.id }}-{{ loser.tag|urlfilter }}/">{{ loser.tag }}</a>
       overall with significance <em>p</em> ≈ {{ sig|floatformat:-3 }}.</p>

    <p><a href="/players/{{ winner_vp.id }}-{{ winner_vp.tag|urlfilter }}/">{{ winner_vp.tag }}</a>
       is better than
       <a href="/players/{{ loser_vp.id }}-{{ loser_vp.tag|urlfilter }}/">{{ loser_vp.tag }}</a>
       versus Protoss with significance <em>p</em> ≈ {{ sig_vp|floatformat:-3 }}.</p>

    <p><a href="/players/{{ winner_vt.id }}-{{ winner_vt.tag|urlfilter }}/">{{ winner_vt.tag }}</a>
       is better than
       <a href="/players/{{ loser_vt.id }}-{{ loser_vt.tag|urlfilter }}/">{{ loser_vt.tag }}</a>
       versus Terran with significance <em>p</em> ≈ {{ sig_vt|floatformat:-3 }}.</p>

    <p><a href="/players/{{ winner_vz.id }}-{{ winner_vz.tag|urlfilter }}/">{{ winner_vz.tag }}</a>
       is better than
       <a href="/players/{{ loser_vz.id }}-{{ loser_vz.tag|urlfilter }}/">{{ loser_vz.tag }}</a>
       versus Zerg with significance <em>p</em> ≈ {{ sig_vz|floatformat:-3 }}.</p>
    {% endif %}

    <p>Low <em>p</em>-values denote <em>higher</em> significance. Usually you ought to require at least
    <em>p</em> &lt; 0.05 before making claims. The <em>p</em>-value is <em>not</em> related to the probability
    of either player being better than the other, it merely indicates the probability of the observed results
    occuring by chance if they were equally strong.</p>

    <p>This analysis is based solely on past results, and does not take into account playstyle or scene
    heterogenity. This means that you should be extra careful comparing, say, Koreans with foreigners.</p>

    <h2>Compare</h2>

    {% if errs %}
    <p>Please fix the following problems:</p>
    <ul>
        {% for e in errs %}
        <li>{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="get" action="/compare/">
    <div class="table" style="width: 50em;">
        <div class="row">
            <div class="rowel">Player A</div>
            <div class="rower">
                <input name="pla" style="width: 30em;" value="{{ plas }}" />
            </div>
        </div>
        <div class="row">
            <div class="rowel">Player B</div>
            <div class="rower">
                <input name="plb" style="width: 30em;" value="{{ plbs }}" />
            </div>
        </div>
        <div class="row">
            <div class="rowel"></div>
            <div class="rower">
                <input type="submit" value="Compare" />
            </div>
        </div>
    </div>
    </form>

    <p>The player information must uniquely identify the player, and should be space-separated list of any of
    the following:</p>

    <ul>
        <li>Player tag, e.g. &quot;DongRaeGu&quot;</li>
        <li>Race, i.e. &quot;P&quot;, &quot;T&quot;, &quot;Z&quot;, &quot;R&quot; or &quot;S&quot;</li>
        <li>A two- or three-letter <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1 alpha-2</a>
        country code. e.g. &quot;KR&quot;, or the common English name of a country</li> 
        <li>Team name, e.g. &quot;MVP&quot;</li>
        <li>Player or team aliases (we add these to the database when we feel like they're needed), e.g.
        &quot;DRG&quot;</li>
        <li>A player ID number, which you can get from the URL of the player page, e.g. &quot;4&quot;</li>
    </ul>

    <p>Note that everything is case insensitive.</p>
{% endblock %}
