{% extends "index.html" %}

{% comment %}
Number of days since.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}
{% load i18n %}

{% block title %}{% trans "Compare players" %}{% endblock %}

{% block content %}

{% include "messages.html" %}

<form method="get" action="/misc/compare/">
  <table class="bigform">
    {% form "forms.html" %}
    {% use "hidden" name="op" value="compare" %}
    {% field "textarea" form.players class="wideinput" rows="6" %}
    {% trans "Compare" as compare %}
    {% use "submit" text=compare %}
    {% endform %}
  </table>
</form>

{% endblock %}
