{% extends "index.html" %}

{% comment %}
This is the template for the earnings of a player. It's called from ratings.views.player_earnings.
{% endcomment %}

{% load ratings_extras %}
{% load humanize %}
{% load i18n %}

{% block title %}Earnings ranking{% endblock %}

{% block content %}
<p>
{% if not empty %}
{% with year=filters.year origpp=totalorigprizepool|add_sep_and_cur:filters.currency %}
{% with totalpp=totalprizepool|add_sep_and_cur:'USD' %}
{% if filters.year != 'all' and filters.currency != 'all' and filters.currency != 'USD' %}
{% blocktrans %}In {{ year }}, {{ origpp }} ({{ totalpp }}) was awarded in prize money.{% endblocktrans %}
{% elif filters.year == 'all' and filters.currency != 'all' and filters.currency != 'USD' %}
{% blocktrans %}In total, {{ origpp }} ({{ totalpp }}) was awarded in prize money.{% endblocktrans %}
{% elif filters.year != 'all' %}
{% blocktrans %}In {{ year }}, {{ totalpp }} was awarded in prize money.{% endblocktrans %}
{% else %}
{% blocktrans %}In total, {{ totalpp }} was awarded in prize money.{% endblocktrans %}
{% endif %}
{% endwith %}{% endwith %}
{% else %}{% trans "The filters came up empty. :(" %}{% endif %}
<br/>
<form method="get" action="/earnings/">
    <input type="hidden" name="page" value="{{ page }}" />
    {% trans "Filter by year:" %}
    <select name="year">
        <option value="all" {% if filters.year == 'all' %}selected{% endif %}>{% trans "All" %}</option>
        <option value="2014" {% if filters.year == '2014' %}selected{% endif %}>2014</option>
        <option value="2013" {% if filters.year == '2013' %}selected{% endif %}>2013</option>
        <option value="2012" {% if filters.year == '2012' %}selected{% endif %}>2012</option>
        <option value="2011" {% if filters.year == '2011' %}selected{% endif %}>2011</option>
        <option value="2010" {% if filters.year == '2010' %}selected{% endif %}>2010</option>
    </select>
    {% trans "Filter by country:" %}
    <select name="country">
        <option value="all" {% if filters.country == 'all' %}selected{% endif %}>{% trans "All" %}</option>
        <option value="foreigners" {% if filters.country == 'foreigners' %}selected{% endif %}>{% trans "Non-Koreans" %}</option>
        {% for country in countries %}
        <option value="{{ country.cc }}" {% if filters.country == country.cc %}selected{% endif %}>{{ country.name }}</option>
        {% endfor %}
    </select>
    {% trans "Filter by currency:" %}
    <select name="currency">
        <option value="all" {% if filters.currency == 'all' %}selected{% endif %}>{% trans "All" %}</option>
        {% for currency in currencies %}
        <option value="{{ currency.code }}" {% if filters.currency == currency.code %}selected{% endif %}>{{ currency.code }} - {{ currency.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter" />
</form>
</p>
{% if not empty %}
<div class="table" style="min-width: 67em;">
    <div class="row">
        <div class="rowe" style="width: 23.5em;">
        </div>
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if page > 1 %}
            <a href="?page=1&amp;year={{ filters.year }}&amp;country={{ filters.country }}&amp;currency={{ filters.currency }}">
                <img src="{{ "first"|img }}" alt="first" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if page > 1 %}
            <a href="?page={{ page|add:"-1" }}&amp;year={{ filters.year }}&amp;country={{ filters.country }}&amp;currency={{ filters.currency }}">
                <img src="{{ "prev"|img }}" alt="previous" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 8em; text-align: center;">
            {% blocktrans %}Page {{ page }}/{{ npages }}{% endblocktrans %}
        </div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if page < npages %}
            <a href="?page={{ page|add:"1" }}&amp;year={{ filters.year }}&amp;country={{ filters.country }}&amp;currency={{ filters.currency }}">
                <img src="{{ "next"|img }}" alt="next" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if page < npages %}
            <a href="?page={{ npages }}&amp;year={{ filters.year }}&amp;country={{ filters.country }}&amp;currency={{ filters.currency }}">
                <img src="{{ "last"|img }}" alt="last" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 22.5em;">
        </div>
    </div>
</div>

<table class="results" style="width: 67em;">
    <tr class="header">
        <td class="rl_number">#</td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_name">{% trans "Name" %}</td>
        <td style="width: 15em;">{% trans "Team" %}</td>
        <td style="width: 15em; text-align: right;">{% trans "Total earnings" %}</td>
    </tr>
    {% for earning in ranking %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td class="rl_number">
            {% if startcount %}
                {{ forloop.counter|add:startcount }}.
            {% else %}
                {{ forloop.counter }}.
            {% endif %}
            </td>
            <td class="rl_icon">
                {% if earning.playerobj.country != "" %}
                    <img src="{{ earning.playerobj.country|lower|img:"flags" }}" alt="{{ earning.playerobj.country }}" />
                {% endif %}
            </td>
            <td class="rl_icon">
                <img src="{{ earning.playerobj.race|img }}" alt="{{ earning.playerobj.race }}" class="btm" />
            </td>
            <td class="rl_name">
                <a href="/players/{{ earning.playerobj.id }}-{{ earning.playerobj.tag|urlfilter }}/">{{ earning.playerobj.tag }}</a>
            </td>
            <td>
                {% if earning.teamobj %}
                    <a href="/teams/{{ earning.teamobj.id }}-{{ earning.teamobj.name|urlfilter }}/">{{ earning.teamobj.name }}</a>
                {% endif %}
            </td>
            <td style="text-align: right;"><a href="/players/{{ earning.playerobj.id }}-{{ earning.playerobj.tag|urlfilter }}/earnings/">
            {% if filters.currency != 'all' %}{{ earning.totalorigearnings|add_sep_and_cur:filters.currency }}
            {% if filters.currency != 'USD' %} ({{ earning.totalearnings|add_sep_and_cur:'USD' }}){% endif %}
            {% else %}{{ earning.totalearnings|add_sep_and_cur:'USD' }}
            {% endif %}</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
