{% extends "index.html" %}

{% comment %}
This is the template for the event manager admin page. It's called from ratings.submitviews.manage_events.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Manage events{% endblock %}

{% block content %}
    <h2>Manage events</h2>

    <p>You are logged in as: {{ user }} (<a href="/logout/">logout</a>, <a href="/changepwd/">change password</a>)</p>

    <p>The events are organized in a tree, loosely hierarchical with organizer→season→tournament→stage
    (qualifiers/groups/playoffs)→round and so on. There are no hard rules.</p>
    
    <p>The name displayed everywhere on the page is the concatenation of the event name and <strong>all its
    parents</strong>. Thus GSL→2013 Season 1→Code S→Ro32→Group A will be shown as «GSL 2013 Season 1 Code S
    Ro32 Group A». With this in mind, try to name the events so that the full name is as reasonable as
    possible.</p>
    
    <p>Do not repeat information. If you have an event called «Qualifiers», the subevents should not be called
    «Korean Qualifiers». Just «Korea» is fine.</p>
    
    <p>Matches can only be assigned to leaf events (i.e. events with no subevents).</p>
    
    <p>Close an event after all the matches has been assigned. This will remove it from the list below and all
    drop-down boxes on the site, to help readability. If you want to reopen an event, this can only be done in
    the admin interface.</p>
    
    <p>You can improve readability by making an event «invisible» (open the admin interface and check the
    «noprint» option). This will hide the name. This is useful for events called e.g. «Group Stage» to turn
    «Code S Group Stage Group A» into «Code S Group A», which flows better.</p>
    
    <p>Events with many games should also be marked «big». This will cause the list of games to be cut
    off.</p>

    <p>If you experience problems or inconsistencies, the first thing you should do is to open the 
    <a href="/add/misc/">misc</a> page and restore the NSM and event names.</p>

    <form method="post" action="/add/events/">
        {% csrf_token %}
        <input type="hidden" name="parent" value="" />
        <p>
            Add root event: 
            <input type="text" name="name" style="width: 20em;" /> 
            <input type="submit" name="op" value="Add" />
        </p>
    </form>

    {% for node in nodes %}
    <div class="table numtable" style="width: 67em; border-style: dotted; border-width: 0.05em;" id="{{ node.0 }}"> 
        <div class="row row2">
            <div class="rowe"> {{ node.2|indent|safe }}
            {% if node.3 > 0 %}
                <a href="" onclick="togvis_div('list-{{node.0}}'); return false;">{{ node.1 }}</a>
            {% else %}
                {{ node.1 }}
            {% endif %}
            (<a href="/admin/ratings/event/{{ node.0 }}/">a</a>, <a href="/results/events/{{ node.0 }}/">e</a>)
        </div>
        <div class="rowe" style="text-align: right;">
            <div id="link-{{ node.0 }}" style="display: block;">
                <a href="#" onclick="togvis_div('form-{{ node.0 }}'); togvis_div('link-{{ node.0 }}'); return false;">modify</a>
            </div>
            <div id="form-{{ node.0 }}" style="display: none;">
                <div class="table" style="width: 35em; margin-left: auto;">
                    <div class="row">
                        <div class="rowel" style="width: 5em;">Add</div>
                        <div class="rower" style="width: 30em;">
                            <form method="post" action="/add/events/#{{ node.0 }}">
                                {% csrf_token %}
                                <input type="hidden" name="parent" value="{{node.0}}" />
                                <select name="name" style="width: 25em;">
                                    <option value="Group Stage, Playoffs">Group stage and playoffs</option>
                                    <option value="Group A,Group B,Group C,Group D">Groups A through D</option>
                                    <option value="Group A,Group B,Group C,Group D,Group E,Group F,Group G,Group H">Groups A through H</option>
                                    <option value="Ro64,Ro32,Ro16,Ro8,Ro4,Final">Ro64→Final</option>
                                    <option value="Ro32,Ro16,Ro8,Ro4,Final">Ro32→Final</option>
                                    <option value="Ro16,Ro8,Ro4,Final">Ro16→Final</option>
                                    <option value="Ro8,Ro4,Final">Ro8→Final</option>
                                    <option value="Ro4,Final">Ro4→Final</option>
                                    <option value="Ro64,Ro32,Ro16,Ro8,Ro4,Third place match,Final">Ro64→Final + 3rd place</option>
                                    <option value="Ro32,Ro16,Ro8,Ro4,Third place match,Final">Ro32→Final + 3rd place</option>
                                    <option value="Ro16,Ro8,Ro4,Third place match,Final">Ro16→Final + 3rd place</option>
                                    <option value="Ro8,Ro4,Third place match,Final">Ro8→Final + 3rd place</option>
                                    <option value="Ro4,Third place match,Final">Ro4→Final + 3rd place</option>
                                    <option value="Early rounds,Ro64,Ro32,Ro16,Ro8,Ro4,Final">Ro64→Final + early rounds</option>
                                    <option value="Early rounds,Ro32,Ro16,Ro8,Ro4,Final">Ro32→Final + early rounds</option>
                                    <option value="Early rounds,Ro16,Ro8,Ro4,Final">Ro16→Final + early rounds</option>
                                    <option value="Early rounds,Ro8,Ro4,Final">Ro8→Final + early rounds</option>
                                    <option value="Early rounds,Ro4,Final">Ro4→Final + early rounds</option>
                                    <option value="Early rounds,Ro64,Ro32,Ro16,Ro8,Ro4,Third place match,Final">Ro64→Final + 3rd place and early rounds</option>
                                    <option value="Early rounds,Ro32,Ro16,Ro8,Ro4,Third place match,Final">Ro32→Final + 3rd place and early rounds</option>
                                    <option value="Early rounds,Ro16,Ro8,Ro4,Third place match,Final">Ro16→Final + 3rd place and early rounds</option>
                                    <option value="Early rounds,Ro8,Ro4,Third place match,Final">Ro8→Final + 3rd place and early rounds</option>
                                    <option value="Early rounds,Ro4,Third place match,Final">Ro4→Final + 3rd place and early rounds</option>
                                </select>
                                <input type="submit" name="op" value="Add" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowel" style="width: 5em;">Add</div>
                        <div class="rower" style="width: 30em;">
                            <form method="post" action="/add/events/#{{ node.0 }}">
                                {% csrf_token %}
                                <input type="hidden" name="parent" value="{{node.0}}" />
                                <input type="text" id="inp-{{node.0}}" name="name" style="width: 25em;" />
                                <input type="submit" name="op" value="Add" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowel" style="width: 5em;">Close</div>
                        <div class="rower" style="width: 30em;">
                            <form method="post" action="/add/events/#{{ node.4 }}">
                                {% csrf_token %}
                                <input type="hidden" name="parent" value="{{node.0}}" />
                                <input type="submit" name="op" value="Close" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> </div>
    {% if node.3 > 0 %}
        <div id="list-{{ node.0 }}" style="display: block;">
    {% elif node.3 < 0 %}
        {{ node.3|unfold|safe }}
    {% endif %}
    {% endfor %}
{% endblock %}
