{% extends "index.html" %}

{% comment %}
This is the template for the event manager admin page. It's called from ratings.submitviews.manage_events.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Manage events{% endblock %}

{% block content %}

<h2>Open events</h2>

<p>These events have games, which means that they are currently active and have not yet finished.  If the
event has finished, please make sure that all matches have been added before closing the event.</p>

<form method="post" action="/add/events2/">
{% csrf_token %}
<table class="results" style="width: 67em;">
	<tr class="header">
		<td style="width: 50m;">Open events with games</td>
		<td style="width: 16m;">External links</td>
		<td class="rl_icon"></td>
	</tr>
	{% for event in openevents %}
		<tr class="nonheader {% cycle 'row2' 'row1' %}">
			<td>
				{% for e in event.get_path_print %}
					<a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>
				{% endfor %}
				(<a href="../events/#{{ event.id }}">manage</a>)
			</td>
			<td>
            	{% if event.get_homepage %}
                	<a href="{{ event.get_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.get_tlpd_kr_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-korean/leagues/{{ event.get_tlpd_kr_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tlpd_in_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-international/leagues/{{ event.get_tlpd_in_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tl_thread %}
                	<a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.get_tl_thread }}" target="_blank">TL</a>
                {% endif %}
                {% if event.get_lp_name %}
                	<a href="http://wiki.teamliquid.net/starcraft2/{{ event.get_lp_name }}" target="_blank">LP</a>
                {% endif %}
			</td>
			<td>
				<input type="checkbox" name="openevent" value="{{ event.id }}">
			</td>
		</tr>
	{% endfor %}
	<tr class="nonheader">
		<td colspan="3" style="text-align: right;"><input type="Submit" name="openevents" value="Close events" /></td>
	</tr>
</table>
</form>
<br>

<p>These events have no games yet, which means that they are either future events or finished events that are
not yet in the database.  In the latter case, feel free to use the external links provided to add the matches
to the database and close the event when you are done.</p>

<table class="results" style="width: 67em;">
	<tr class="header">
		<td style="width: 50m;">Open events without games</td>
		<td style="width: 16m;">External links</td>
		<td class="rl_icon"></td>
	</tr>
	{% for event in emptyopenevents %}
		<tr class="nonheader {% cycle 'row2' 'row1' %}">
			<td>
				{% for e in event.get_path_print %}
					<a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>
				{% endfor %}
				(<a href="../events/#{{ event.id }}">manage</a>)
			</td>
			<td>
            	{% if event.get_homepage %}
                	<a href="{{ event.get_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.get_tlpd_kr_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-korean/leagues/{{ event.get_tlpd_kr_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tlpd_in_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-international/leagues/{{ event.get_tlpd_in_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tl_thread %}
                	<a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.get_tl_thread }}" target="_blank">TL</a>
                {% endif %}
                {% if event.get_lp_name %}
                	<a href="http://wiki.teamliquid.net/starcraft2/{{ event.get_lp_name }}" target="_blank">LP</a>
                {% endif %}
			</td>
			<td></td>
		</tr>
	{% endfor %} 
</table>

<h2>Missing prize pool information</h2>
<p>These events are closed and have no information on their prize pools yet.</p>

<ul>
<li>If you know the events prize pool, visit the event page and add the prize pool information there.</li> 
<li>If you know the event has no prize pool, you can mark the event as having no prize pool. Don't just assume that an event has no prize pool just because it is a qualifier, however. Some do!</li>  
<li>If you are not sure whether the event has a prize pool or do not have the exact sums, do nothing.</li>
</ul>

<form method="post" action="/add/open_events/">
{% csrf_token %}
<table class="results" style="width: 67em;">
	<tr class="header">
		<td style="width: 50m;">Events with no prize pool information</td>
		<td style="width: 16m;">External links</td>
		<td class="rl_icon"></td>
	</tr>
	{% for event in noprizepoolevents %}
		<tr class="nonheader {% cycle 'row2' 'row1' %}">
			<td>
				{% for e in event.get_path_print %}
					<a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>
				{% endfor %}
			</td>
			<td>
            	{% if event.get_homepage %}
                	<a href="{{ event.get_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.get_tlpd_kr_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-korean/leagues/{{ event.get_tlpd_kr_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tlpd_in_id %}
                	<a href="http://www.teamliquid.net/tlpd/sc2-international/leagues/{{ event.get_tlpd_in_id }}" target="_blank">TLPD</a>
                {% endif %}
                {% if event.get_tl_thread %}
                	<a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.get_tl_thread }}" target="_blank">TL</a>
                {% endif %}
                {% if event.get_lp_name %}
                	<a href="http://wiki.teamliquid.net/starcraft2/{{ event.get_lp_name }}" target="_blank">LP</a>
                {% endif %}
			</td>
			<td>
				<input type="checkbox" name="prizepool" value="{{ event.id }}">
			</td>
		</tr>
	{% endfor %} 
	<tr class="nonheader">
		<td colspan="3" style="text-align: right;"><input type="Submit" name="prizepools" value="Marked events have no prize pool" /></td>
	</tr>
</table>
</form>
{% endblock %}
