{% extends "index.html" %}

{% comment %}
This is the template for the event manager admin page. It's called from ratings.submitviews.manage_events.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}

{% block title %}Manage events{% endblock %}

{% block content %}

{% include "messages.html" %}

<p>The events are organized in a tree, loosely hierarchical with organizer→season→tournament→stage
(qualifiers/groups/playoffs)→round and so on. There are no hard rules.</p>

<p>The name displayed everywhere on the site is the concatenation of the event name and <strong>all its
parents</strong>. Thus GSL→2013 Season 1→Code S→Ro32→Group A will be shown as «GSL 2013 Season 1 Code S
Ro32 Group A». With this in mind, try to name the events so that the full name flows as well as
possible.</p>

<p>Do not repeat information. If you have an event called «Qualifiers», the subevents should not be called
«Korean Qualifiers». Just «Korea» is fine.</p>

<p>Matches can only be assigned to leaf events (i.e. events with no subevents).</p>

<p>Close an event after all the matches has been assigned. This will remove it from the list below and all
drop-down boxes on the site, to help readability. If you want to reopen an event, this can only be done in
the admin interface.</p>

<p>You can improve readability by making an event «invisible» (open the admin interface and check the
«noprint» option). This will hide the name. This is useful for events called e.g. «Group Stage» to turn
«Code S Group Stage Group A» into «Code S Group A», which flows better.</p>

<p>Events with many games should also be marked «big». This will cause the list of games to be cut
off.</p>

<p>If you experience problems or inconsistencies, the first thing you should do is to open the 
<a href="/add/misc/">misc</a> page and restore the NSM and event names.</p>

<p><strong>Naming conventions:</strong> Ro («round of») with capital R and small o, followed immediately by
the number. Third place matches should be named exactly that (not «3rd»).</p>

<p>
    <a href="#" onclick="$('#parent_name').html('Root (N/A)'); $('#parent_id_field')[0].value = '-1'; $('#id_type')[0].selectedIndex = 0; $('#addevent').show(); return false;">Add root event</a>.
</p>

{% if adm %}
<div class="hiddenform" style="display: none;" id="addevent">
<div class="close-button">
    <a href="#" onclick="$('#addevent').hide(); return false;">close</a>
</div>
<form method="post" action="/add/events/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% use "hidden" name=form.parent_id.html_name value="" id="parent_id_field" %}
    {% use "text" left="Parent" right_id="parent_name" %}
    {% field "select" form.predef_names class="wideinput" onchange="if (document.getElementById('id_predef_names').selectedIndex > 0) document.getElementById('id_custom_names').value = '';" %}
    {% field "basic" form.custom_names class="wideinput" onkeypress="if (document.getElementById('id_custom_names').value != '') document.getElementById('id_predef_names').selectedIndex = 0;" %}
    {% field "select" form.type class="wideinput" %}
    {% field "checkbox" form.big class="wideinput" %}
    {% field "checkbox" form.noprint class="wideinput" %}
    {% use "submit" text="Commit new sub-events" %}
    {% use "submit" text="Close event" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

<script type="text/javascript">
// <![CDATA[  

/*
  addSlashes to escape javascript.

  Source: http://stackoverflow.com/a/2555643/1428974
*/
String.prototype.addSlashes = function() 
{ 
   //no need to do (str+'') anymore because 'this' can only be a string
   return this.replace(/[\\"']/g, '\\$&').replace(/\u0000/g, '\\0');
} 

function change_and_toggle_form(html, id, cat)
{
    $("#parent_name").html(html);
    $("#parent_id_field")[0].value = id;
    $("#id_type")[0].selectedIndex = cat;
    $("#addevent").show();
}

function add_node(id, obj, div)
{
    var tbl = document.createElement('table');
    tbl.setAttribute('class', 'results');
    tbl.setAttribute('style', 'width: 67em; border-style: dotted; border-width: 0.05em;');
    tbl.setAttribute('id', obj['id']);

    var tr = document.createElement('tr');
    tbl.appendChild(tr);
    tr.setAttribute('class', 'nonheader row2');
    if (obj['type'] == 'event')
        tr.setAttribute('style', 'background: #ffcccc;');
    else if (obj['type'] == 'round')
        tr.setAttribute('style', 'background: #ccffcc;');

    var td1 = document.createElement('td');
    tr.appendChild(td1);
    for (var i = 0; i < 4*obj['uplink__distance__max']; i++)
        td1.appendChild(document.createTextNode('\u00a0'));
    if (obj['has_subtree'])
    {
        var a_exp = document.createElement('a');
        td1.appendChild(a_exp);
        a_exp.setAttribute('href', '#');
        a_exp.setAttribute('onclick', "toggle_sub('" + obj['id'] + "'); return false;");
        a_exp.setAttribute('id', 'expand-' + obj['id']);
        a_exp.innerHTML = '[+]';
    }
    else
    {
        var nothing = document.createElement('span');
        td1.appendChild(nothing);
        nothing.setAttribute('style', 'color: #aaaaaa;');
        nothing.innerHTML = '[ ]';
    }
    td1.appendChild(document.createTextNode(' ' + obj['name'] + ' '));
    var small = document.createElement('span');
    td1.appendChild(small);
    small.setAttribute('class', 'small');
    small.appendChild(document.createTextNode('('));
    a1 = document.createElement('a');
    a1.setAttribute('href', '/admin/ratings/event/' + obj['id'] + '/');
    a1.innerHTML = 'adm';
    small.appendChild(a1);
    small.appendChild(document.createTextNode(', '));
    a1 = document.createElement('a');
    a1.setAttribute('href', '/results/events/' + obj['id'] + '/');
    a1.innerHTML = 'edit';
    small.appendChild(a1);
    if (obj['type'] == 'round') {
        small.appendChild(document.createTextNode(', '));
        a1 = document.createElement('a');
        a1.setAttribute('href', '/add/?eventid=' + obj['id']);
        a1.innerHTML = 'add';
        small.appendChild(a1);
    }
    small.appendChild(document.createTextNode(', ' + obj['type'] + ')'));

    var td2 = document.createElement('td');
    tr.appendChild(td2);
    td2.setAttribute('style', 'text-align: right;');
    mod = document.createElement('a');
    td2.appendChild(mod);
    mod.setAttribute('href', '#');
    var s = "change_and_toggle_form('" + obj['fullname'].addSlashes() + " (" + obj['type'] + ")'";
    s = s + ", '" + obj['id'] + "'";
    if (obj['type'] == 'category')
        s = s + ", 0";
    else
        s = s + ", 2";
    s = s + "); return false;";
    mod.setAttribute('onclick', s);
    mod.innerHTML = 'modify';

    div.appendChild(tbl);

    var ndiv = document.createElement('div');
    ndiv.setAttribute('id', 'list-' + obj['id']);
    ndiv.setAttribute('style', 'display: none;');
    ndiv.innerHTML = 'unloaded';
    div.appendChild(ndiv);
}

function toggle_sub(id)
{
    var div = $("#list-" + id);
    if (div.text() == 'unloaded')
    {
        div.html("");
        $.getJSON('/add/events/children/' + id + '/', function(data, status, xhr) {
            for (i in data) {
                add_node(id, data[i], div[0]);
            }
        });
    }

    div.toggle();
}
// ]]>
</script> 

{% for node in nodes %}
<table class="results" style="width: 67em; border-style: dotted; border-width: 0.05em;" id="{{ node.id }}"> 
    <tr class="nonheader row2" style="{% if node.type == "event" %}background: #ffcccc;{% elif node.type == "round" %}background: #ccffcc;{% endif %}">
        <td>
        {% if node.downlink__distance__max > 0 %}
            <a href="#" onclick="toggle_sub('{{ node.id }}'); return false;" id="expand-{{ node.id }}">[+]</a>
        {% else %}
            <span style="color: #aaaaaa;">[ ]</span>
        {% endif %}
            {{ node.name }}
            <span class="small">
            (<a href="/admin/ratings/event/{{ node.id }}/">adm</a>, 
            <a href="/results/events/{{ node.id }}-{{ node.fullname|urlfilter }}/">edit</a>, {% if node.type == 'round' %}<a href="/add/?eventid={{ node.id }}">add</a>, {% endif %}
            {{ node.type }})
            </span>
        </td>
        <td style="text-align: right;">
            <a href="#" onclick="change_and_toggle_form('{{ node.fullname|jsescape }} ({{ node.type }})', '{{ node.id }}', '{% if node.type == "category" %}0{% else %}2{% endif %}'); return false;">modify</a>
        </td>
    </tr> 
</table>
<div id="list-{{ node.id }}" style="display: none;">unloaded</div>
{% endfor %}
{% endblock %}
