{% comment %}
This shows the event overview page. Called from ratings.views.events.
{% endcomment %}

{% extends "index.html" %}

{% load ratings_extras %}

{% block title %}Events{% endblock %}

{% block content %}
    <h2>Events</h2>

    <script type="text/javascript">
    <!--
    function toggle_visibility(id) 
    {
        var e = document.getElementById(id);
        if (e.tagName == 'SPAN')
        {
            if (e.style.display == 'inline')
                e.style.display = 'none';
            else
                e.style.display = 'inline';
        }
    }
    //-->
    </script>

    <p style="text-align: justify;">The events are organized in a hierarchical fashion. Thus, all GSL
    tournaments are filed under GSL, all Code S under their respective seasons, all groups under their
    respective Code S event, and so on.</p>

    <h2>Individual leagues and events</h2>

    {% include "eventtable.html" with bigs=ind_bigs smalls=ind_smalls %}

    <h2>Team leagues</h2>

    {% include "eventtable.html" with bigs=team_bigs smalls=team_smalls %}

    <h2>Frequently recurring cups</h2>

    {% include "eventtable.html" with bigs=freq_bigs smalls=freq_smalls %}

{% endblock %}
