{% extends "index.html" %}

{% load ratings_extras %}

{% block title %}Manage events{% endblock %}

{% block content %}

{% include "messages.html" %}

<p>These events have games, which means that they are currently active and have not yet finished.  If the
event has finished, please make sure that all matches have been added before closing the event.</p>

<form method="post" action="/add/open_events/">
{% csrf_token %}
<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 35em;">Open events with games</td>
        <td style="width: 15em;">Last added game</td>
        <td style="width: 16em;">External links</td>
        <td class="rl_icon"></td>
    </tr>
    {% for event in open_games %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td>
                <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">
                    {{ event.fullname }}
                </a>
            </td>
            <td>
                {{ event.latest }}
            </td>
            <td>
                {% if event.up_homepage %}
                    <a href="{{ event.up_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.up_tl_thread %}
                    <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.up_tl_thread }}" 
                       target="_blank">TL</a>
                {% endif %}
                {% if event.up_lp_name %}
                    <a href="http://wiki.teamliquid.net/starcraft2/{{ event.up_lp_name }}" 
                       target="_blank">LP</a>
                {% endif %}
                {% if event.up_tlpd_id %}
                    {% for tl, human in event.up_tlpd_db|get_tlpd_list %}
                    <a href="http://www.teamliquid.net/tlpd/{{ tl }}/leagues/{{ event.up_tlpd_id }}"
                       target="_blank">{{ human }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                <input type="checkbox" name="open_games_ids" value="{{ event.id }}">
            </td>
        </tr>
    {% endfor %}
    <tr class="nonheader">
        <td colspan="4" style="text-align: right;"><input type="Submit" name="open_games" value="Close events" /></td>
    </tr>
</table>
</form>
<br>

<p>These events have no games yet, which means that they are either future events or finished events that are
not yet in the database.  In the latter case, feel free to use the external links provided to add the matches
to the database and close the event when you are done.</p>

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 50m;">Open events without games</td>
        <td style="width: 16m;">External links</td>
        <td class="rl_icon"></td>
    </tr>
    {% for event in open_nogames %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td>
                <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">
                    {{ event.fullname }}
                </a>
            </td>
            <td>
                {% if event.up_homepage %}
                    <a href="{{ event.up_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.up_tl_thread %}
                    <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.up_tl_thread }}" 
                       target="_blank">TL</a>
                {% endif %}
                {% if event.up_lp_name %}
                    <a href="http://wiki.teamliquid.net/starcraft2/{{ event.up_lp_name }}" 
                       target="_blank">LP</a>
                {% endif %}
                {% if event.up_tlpd_id %}
                    {% for tl, human in event.up_tlpd_db|get_tlpd_list %}
                    <a href="http://www.teamliquid.net/tlpd/{{ tl }}/leagues/{{ event.up_tlpd_id }}"
                       target="_blank">{{ human }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            <td></td>
        </tr>
    {% endfor %} 
</table>

<h2>Missing prize pool information</h2>
<p>These events are closed and have no information on their prize pools yet.</p>

<ul>
<li>If you know the prize pool, visit the event page and add the prize pool information there.</li> 
<li>If you know the event has no prize pool, you can mark the event as having no prize pool. Don't just assume
that an event has no prize pool just because it is a qualifier, however. Some do!</li>  
<li>If you are not sure whether the event has a prize pool or do not have the exact sums, do nothing.</li>
</ul>

<form method="post" action="/add/open_events/">
{% csrf_token %}
<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 50m;">Events with no prize pool information</td>
        <td style="width: 16m;">External links</td>
        <td class="rl_icon"></td>
    </tr>
    {% for event in pp_events %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td>
                <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">
                    {{ event.fullname }}
                </a>
            </td>
            <td>
                {% if event.up_homepage %}
                    <a href="{{ event.up_homepage }}" target="_blank">Homepage</a>
                {% endif %}
                {% if event.up_tl_thread %}
                    <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.up_tl_thread }}" 
                       target="_blank">TL</a>
                {% endif %}
                {% if event.up_lp_name %}
                    <a href="http://wiki.teamliquid.net/starcraft2/{{ event.up_lp_name }}" 
                       target="_blank">LP</a>
                {% endif %}
                {% if event.up_tlpd_id %}
                    {% for tl, human in event.up_tlpd_db|get_tlpd_list %}
                    <a href="http://www.teamliquid.net/tlpd/{{ tl }}/leagues/{{ event.up_tlpd_id }}"
                       target="_blank">{{ human }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                <input type="checkbox" name="pp_events_ids" value="{{ event.id }}">
            </td>
        </tr>
    {% endfor %} 
    <tr class="nonheader">
        <td colspan="3" style="text-align: right;">
            <input type="Submit" name="pp_events" value="Marked events have no prize pool" />
        </td>
    </tr>
</table>
</form>
{% endblock %}
