{% extends "index.html" %}

{% comment %}
This template shows the results for an event. (Not the event overview page.) It's called from
ratings.views.events.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}

{% block title %}{{ event }}{% endblock %}

{% block content %}

    <h2>{{ event }}</h2>

    {% include "messages.html" %}

    <div class="ibox" style="margin-left: 2em;">
        <div class="iboxh">Details
        {% if adm %} <br/>
            (<a href="#" onclick="toggle_form('modevent'); return false;" title="Edit info">edit</a>, 
            <a href="#" onclick="toggle_form('addevent'); return false;" title="Add subevents">sub</a>, 
            {% if event.type == "event" %}
                <a href="#" onclick="toggle_form('modpp'); return false;" title="Prize pool">pp</a>, 
            {% endif %}
            {% if not event.has_children %}
                <a href="#" onclick="toggle_form('modstories'); return false;" title="Stories">st</a>, 
            {% endif %}
            <a href="/admin/ratings/event/{{ event.id }}/" title="Admin interface">adm</a>,
            <a href="/add/?eventid={{ event.id }}" title="Add more matches">add</a>)
        {% endif %}
        </div>
        <div class="iboxtable">
            <div class="row infobox">
                <div class="rowel" style="width: 7em;">Date{% ifnotequal event.earliest event.latest %}s{% endifnotequal %}</div>
                <div class="rower" style="width: 18em;">
                    {% if event.earliest and event.latest %}
                        {% ifequal event.earliest event.latest %}
                        {{ event.earliest }}
                        {% else %}
                        {{ event.earliest }} to {{ event.latest }}
                        {% endifequal %}
                    {% endif %}
                </div>
            </div>
            {% if game %}
            <div class="row infobox">
                <div class="rowel">Game</div>
                <div class="rower">{{ game }}</div>
            </div>
            {% endif %}
            <div class="row infobox">
                <div class="rowel">On-/Offline</div>
                <div class="rower">{{ offline|yesno:"Offline,Online,Both" }}</div>
            </div>
            {% if prizepoolorig %}
            <div class="row infobox">
                <div class="rowel">Prize pool</div>
                <div class="rower">{% for pp in prizepoolorig %}{{ pp.pp|add_sep_and_cur:pp.cur }}{% if not forloop.last %} + {% endif %}{% endfor %} 
                {% if nousdpp %}({{ prizepool|add_sep_and_cur:"USD" }}){% endif %}</div>
            </div>
            {% endif %}
            {% if adm %}
            <div class="row infobox">
                <div class="rowel">Type</div>
                <div class="rower">{{ event.type|capfirst }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="rowel">Players</div>
                <div class="rower">{{ nplayers }}</div>
            </div>
            <div class="row">
                <div class="rowel">Games</div>
                <div class="rower">{{ ngames }}</div>
            </div>
            <div class="row">
                <div class="rowel">Matches</div>
                <div class="rower">{{ nmatches }}</div>
            </div>
            <div class="row">
                <div class="rowel">PvT</div>
                <div class="rower">
                    {{ pvt_wins }}–{{ pvt_loss }} ({{ pvt_wins|pctg_add:pvt_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">PvZ</div>
                <div class="rower">
                    {{ pvz_wins }}–{{ pvz_loss }} ({{ pvz_wins|pctg_add:pvz_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">TvZ</div>
                <div class="rower">
                    {{ tvz_wins }}–{{ tvz_loss }} ({{ tvz_wins|pctg_add:tvz_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">PvP</div>
                <div class="rower">
                    {{ pvp_games }}
                </div>
            </div>
            <div class="row">
                <div class="rowel">TvT</div>
                <div class="rower">
                    {{ tvt_games }}
                </div>
            </div>
            <div class="row">
                <div class="rowel">ZvZ</div>
                <div class="rower">
                    {{ zvz_games }}
                </div>
            </div>

            {% if event.get_homepage or event.tlpd_id or event.get_tl_thread or event.get_lp_name %}
            <div class="row infobox">
                <div class="rowel">External</div>
                <div class="rower">
                    {% if event.get_homepage %}
                    <a href="{{ event.get_homepage }}" target="_blank">Homepage</a>
                    {% endif %}
                    {% with tlpds=event.get_tlpd_id %}
                        {% if tlpds.KR %}
                        <a href="http://www.teamliquid.net/tlpd/sc2-korean/leagues/{{ tlpds.KR }}" target="_blank">TLPD</a>
                        {% endif %}
                        {% if tlpds.IN %}
                        <a href="http://www.teamliquid.net/tlpd/sc2-international/leagues/{{ tlpds.IN }}" target="_blank">TLPD</a>
                        {% endif %}
                        {% if tlpds.HotS %}
                        <a href="http://www.teamliquid.net/tlpd/hots/leagues/{{ tlpds.HotS }}" target="_blank">TLPD</a>
                        {% endif %}
                        {% if tlpds.HotSbeta %}
                        <a href="http://www.teamliquid.net/tlpd/hots-beta/leagues/{{ tlpds.HotSbeta }}" target="_blank">TLPD</a>
                        {% endif %}
                        {% if tlpds.WoLbeta %}
                        <a href="http://www.teamliquid.net/tlpd/sc2-beta/leagues/{{ tlpds.WoLbeta }}" target="_blank">TLPD</a>
                        {% endif %}
                    {% endwith %}
                    {% if event.get_tl_thread %}
                    <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id={{ event.get_tl_thread }}" target="_blank">TL</a>
                    {% endif %}
                    {% if event.get_lp_name %}
                    <a href="http://wiki.teamliquid.net/starcraft2/{{ event.get_lp_name }}" target="_blank">LP</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </form>

    <p><a href="/results/events/">Root</a> →
    {% for e in path %}
        {% if forloop.last %}{{ e.name }}{% else %}
        <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a> →{% endif %}
    {% endfor %}

    {% if children or siblings %}
    <div class="table" style="width: 35em;">

    {% if siblings %}
    <div class="row">
        <div class="rowel" style="width: 7em;">Same level:</div>
        <div class="rower" style="width: 28em;">
        {% if siblings.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in siblings %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in siblings %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    {% if children %}
    <div class="row">
        <div class="rowel" style="width: 7em;">Next level:</div>
        <div class="rower" style="width: 28em;">
        {% if children.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in children %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in children %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    </div>
    {% endif %}

    {% if not event.closed %}
        <p>This event is still <strong>open</strong>. Games may be added.</p>
    {% endif %}
    
{% if event.big %}
    <p>This event is <strong>big</strong>, so the list of games has been cut-off. Go to an event on the next
    level to see a complete list.</p>
{% endif %}
    
{% if adm %}
<div class="hiddenform" style="display: none;" id="addevent">
<form method="post" action="/results/events/{{ event.id }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% use "hidden" name="addevent" value="addevent" %}
    {% field "basic"        addform.name      class="narrowinput" before=event.fullname %}
    {% field "select"       addform.type      class="wideinput" %}
    {% field "checkbox"     addform.noprint   class="wideinput" %}
    {% field "checkbox"     addform.closed    class="wideinput" %}
    {% use "submit" %}
{% endform %}
</table>
</form>
</div>

{% if not event.has_children and stform %}
<div class="hiddenform" style="display: none;" id="modstories">
    {% if stform.existing_stories %}
    <p style="margin: 3em;">This event already has stories for the following players: 
    {% for p in stform.existing_stories %}{{ p }}{% if not forloop.last %},{% endif %}{% endfor %}.</p>
    {% endif %}
<form method="post" action="/results/events/{{ event.id }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% use "hidden" name="modstories" value="modstories" %}
    {% field "select"       stform.player     class="wideinput" %}
    {% field "date"         stform.date       class="wideinput" %}
    {% field "basic"        stform.text       class="wideinput" %}
    {% use "submit" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

{% if event.type == "event" %}
<div class="hiddenform" style="display: none;" id="modpp">
<form method="post" action="/results/events/{{ event.id }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% use "hidden" name="modpp" value="modpp" %}
    {% field "select"       ppform.currency   class="wideinput" %}
    {% field "textarea"     ppform.ranked     class="wideinput" %}
    {% field "textarea"     ppform.unranked   class="wideinput" %}
    {% use "submit" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

<div class="hiddenform" style="display: none;" id="modevent">
<p style="margin: 3em;"><strong>Warning:</strong> Changes to date, game and offline will modify all
matches associated with all events in this tree. Changing type will potentially change all children and
ancestor events! Make sure you know what you are doing!</p>
<form method="post" action="/results/events/{{ event.id }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% use "hidden" name="modevent" value="modevent" %}
    {% field "basic"        form.name       class="wideinput" %}
    {% field "date"         form.date       class="wideinput" %}
    {% field "select"       form.game       class="wideinput" %}
    {% field "select"       form.offline    class="wideinput" %}
    {% field "select"       form.type       class="wideinput" %}
    {% field "checkbox"     form.same_level class="wideinput" %}
    {% field "basic"        form.homepage   class="wideinput" %}
    {% field "basic"        form.tlpd_id    class="wideinput" %}
    {% field "selectmulti"  form.tlpd_db    class="wideinput" %}
    {% field "basic"        form.tl_thread  class="wideinput" %}
    {% field "basic"        form.lp_name    class="wideinput" %}
    {% use "submit" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

{% if matches %}
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_adm=0 lm_header="full" %}
    </table>
{% else %}
    <p>This event has no registered games... yet.</p>
{% endif %}

<p>Notice something missing? We're always looking for people to help <a href="/add/">populate our database</a>!</p>
{% endblock %}
