{% extends "index.html" %}

{% comment %}
This template shows the results for an event. (Not the event overview page.) It's called from
ratings.views.events.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ event }}{% endblock %}

{% block content %}
    <h2>{{ event }}</h2>

    <div class="ibox" style="margin-left: 2em;">
        <div class="iboxh">Details</div>
        <div class="iboxtable">
            <div class="row">
                <div class="rowel" style="width: 7em;">Dates</div>
                <div class="rower" style="width: 18em;">
                    {% if earliest and latest %}
                    {{ earliest }} to {{ latest }}
                    {% endif %}
                </div>
            </div>
            {% if game %}
            <div class="row">
                <div class="rowel">Game</div>
                <div class="rower">{{ game }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="rowel">On-/Offline</div>
                <div class="rower">{{ offline|yesno:"Offline,Online,Both" }}</div>
            </div>
            {% if adm %}
                {% if eventtype %}
                <div class="row">
                    <div class="rowel">Type</div>
                    <div class="rower">{{ eventtype|capfirst }}</div>
                </div>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="rowel">Games</div>
                <div class="rower">{{ ngames }}</div>
            </div>
            <div class="row">
                <div class="rowel">Matches</div>
                <div class="rower">{{ nmatches }}</div>
            </div>
            <div class="row">
                <div class="rowel">PvT</div>
                <div class="rower">
                    {{ pvt_wins }}–{{ pvt_loss }} ({{ pvt_wins|pctg:pvt_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">PvZ</div>
                <div class="rower">
                    {{ pvz_wins }}–{{ pvz_loss }} ({{ pvz_wins|pctg:pvz_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">TvZ</div>
                <div class="rower">
                    {{ tvz_wins }}–{{ tvz_loss }} ({{ tvz_wins|pctg:tvz_loss }}%)
                </div>
            </div>
        </div>
    </div>

    <p><a href="/results/events/">Root</a> →
    {% for e in path %}
        {% if forloop.last %}{{ e.name }}{% else %}
        <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a> →{% endif %}
    {% endfor %}
    {% if adm %}
        [<a href="/admin/ratings/event/{{ event.id }}/">admin</a>]
    {% endif %}

    {% if children or siblings %}
    <div class="table" style="width: 35em;">

    {% if siblings %}
    <div class="row">
        <div class="rowel" style="width: 7em;">Same level:</div>
        <div class="rower" style="width: 28em;">
        {% if siblings.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in siblings %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in siblings %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    {% if children %}
    <div class="row">
        <div class="rowel">Next level:</div>
        <div class="rower">
        {% if children.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in children %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in children %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    </div>
    {% endif %}

    {% if event.closed %}
        <p>This event is <strong>closed</strong>. No more games will be added.</p>
    {% else %}
        <p>This event is still <strong>open</strong>. Games may be added.</p>
    {% endif %}
    
    {% if event.big %}
        <p>This event is <strong>big</strong>, so the list of games has been cut-off. Go to an event on the next
        level to see a complete list.</p>
    {% endif %}
    
    {% if message %}
        {{ message }}
    {% endif %}

    {% if matches %}
        <table class="results">
        {% include "matchlist.html" with lm_list=matches lm_adm=0 lm_header="full" %}
        </table>
    {% else %}
        <p>This event has no registered games... yet.</p>
    {% endif %}

    {% if adm %}
        <p>The following modifications will be made to <strong>all</strong> matches in this event:</p>
        <form method="post" action="/results/events/{{ event.id }}/">
        {% csrf_token %}
        
        <table class="bigform">
            <!-- <tr>
                <td class="form_left">
                    <label for="event">Event object</label>
                </td>
                <td class="form_right">
                    <select name="event" id="event">
                        <option value="nochange" selected>No change</option>
                        {% for event in events %}
                        <option value="{{ event.id }}">{{ event }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr> -->
            <tr>
                <td class="form_left">
                    <label for="type">Event type</label>
                </td>
                <td class="form_right">
                    <select name="type" id="type">
                        <option value="nochange" selected>No change</option>
                        <option value="category" />Category</option>
                        <option value="event" />Event</option>
                        <option value="round" />Round</option>
                    </select>
                    <input type="checkbox" id="siblings" name="siblings" value="siblings" />
                    <label for="siblings">Apply to all events on the same level</label>
                </td>
            </tr>
            <tr>
                <td class="form_left">
                    <label for="date">Date</label>
                </td>
                <td class="form_right">
                    <input type="text" class="date" name="date" id="date" value="" />
                    <script type="text/javascript">
                        // <![CDATA[  
                        var opts = {                            
                            formElements:{"date":"Y-ds-m-ds-d"},
                            statusFormat:"l-cc-sp-d-sp-F-sp-Y", 
                        };
                        datePickerController.createDatePicker(opts);
                        // ]]>
                    </script>
                </td>
            </tr>
            <tr>
                <td class="form_left">
                    <label for="offline">On/Offline</label>
                </td>
                <td class="form_right">
                    <select name="offline" id="offline">
                        <option value="nochange" selected>No change</option>
                        <option value="online">Online</option>
                        <option value="offline">Offline</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="form_left">
                    <label for="game">Game version</label>
                </td>
                <td class="form_right">
                    <select name="game" id="game">
                        <option value="nochange" selected>No change</option>
                        <option value="WoL">Wings of Liberty</option>
                        <option value="HotS">Heart of the Swarm</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="form_left"></td>
                <td class="form_right">
                    <input type="Submit" name="op" value="Modify" />
                </td>
            </tr>
        </table>

        </form>
    {% endif %}

<p>Notice something missing? We're always looking for people to help <a href="/add/">populate our database</a>!</p>
{% endblock %}
