{% extends "index.html" %}

{% comment %}
This template shows the results for an event. (Not the event overview page.) It's called from
ratings.views.events.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ event }}{% endblock %}

{% block content %}
    <h2>{{ event }}</h2>

    <div class="ibox" style="margin-left: 2em;">
        <div class="iboxh">Quick numbers</div>
        <div class="iboxtable">
            <div class="row">
                <div class="rowel" style="width: 7em;">Dates</div>
                <div class="rower" style="width: 18em;">
                    {% if earliest and latest %}
                    {{ earliest }} to {{ latest }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="rowel">Games</div>
                <div class="rower">{{ ngames }}</div>
            </div>
            <div class="row">
                <div class="rowel">Matches</div>
                <div class="rower">{{ nmatches }}</div>
            </div>
            <div class="row">
                <div class="rowel">PvT</div>
                <div class="rower">
                    {{ pvt_wins }}–{{ pvt_loss }} ({{ pvt_wins|pctg:pvt_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">PvZ</div>
                <div class="rower">
                    {{ pvz_wins }}–{{ pvz_loss }} ({{ pvz_wins|pctg:pvz_loss }}%)
                </div>
            </div>
            <div class="row">
                <div class="rowel">TvZ</div>
                <div class="rower">
                    {{ tvz_wins }}–{{ tvz_loss }} ({{ tvz_wins|pctg:tvz_loss }}%)
                </div>
            </div>
        </div>
    </div>

    <p><a href="/results/events/">Root</a> →
    {% for e in path %}
        {% if forloop.last %}{{ e.name }}{% else %}
        <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a> →{% endif %}
    {% endfor %}
    {% if adm %}
        [<a href="/admin/ratings/event/{{ event.id }}/">admin</a>]
    {% endif %}

    {% if children or siblings %}
    <div class="table" style="width: 35em;">

    {% if siblings %}
    <div class="row">
        <div class="rowel" style="width: 7em;">Same level:</div>
        <div class="rower" style="width: 28em;">
        {% if siblings.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in siblings %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in siblings %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    {% if children %}
    <div class="row">
        <div class="rowel">Next level:</div>
        <div class="rower">
        {% if children.count > 9 %}
            <form method="get" action="/results/events/">
            <select name="goto">
                {% for e in children %}
                <option value="{{ e.id }}">{{ e.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        {% else %}
        {% for e in children %}
            <a href="/results/events/{{ e.id }}-{{ e.fullname|urlfilter }}/">{{ e.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}

    </div>
    {% endif %}

    {% if event.closed %}
        <p>This event is <strong>closed</strong>. No more games will be added.</p>
    {% else %}
        <p>This event is still <strong>open</strong>. Games may be added.</p>
    {% endif %}
	
	{% if adm %}
	Add type:
	<form method="post" action="/results/events/{{ event.id }}/">
		{% csrf_token %}
		<input type="radio" name="type" value="category" />Category
		<input type="radio" name="type" value="event" />Event
		<input type="radio" name="type" value="round" />Round
		<input type="submit" name="op" value="Add" />
	</form>
	{% endif %}
	
    {% if event.big %}
        <p>This event is <strong>big</strong>, so the list of games has been cut-off. Go to an event on the next
        level to see a complete list.</p>
    {% endif %}

{% if matches %}
    <table class="results">
    {% for ml in matches %}
        {% if ml %}
        {% include "list_matches.html" with lm_list=ml lm_show_date=1 lm_adm=0 lm_header_event=1 %}
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <p>This event has no registered games... yet.</p>
{% endif %}

<p>Notice something missing? We're always looking for people to help <a href="/add/">populate our database</a>!</p>
{% endblock %}
