{% comment %}
NOT USED.
{% endcomment %}

{% load ratings_extras %}

{% for root in roots %}
<li>
<form method="post" action="/add/events/">
    <a href="#" onclick="toggle_visiblity('add-{{root.id}}'); set_focus('inp-{{root.id}}');"
        style="text-decoration: none;">+</a>
    {% if root|eventchildren %}
        <a href="#" onclick="toggle_visibility('list-{{root.id}}');">{{ root.name }}</a>
    {% else %}
        {{ root.name }}
    {% endif %}
    <span id="add-{{root.id}}" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="parent" value="{{root.id}}" />
        — add child event:
        <input type="text" id="inp-{{root.id}}" name="name" style="width: 20em;" />
        <input type="submit" value="Add" />
    </span></form>
{% if root|eventchildren and level < 3 %}
<ul id="list-{{root.id}}" style="display: none;">
    {% with tname="eventnodes.html" %}
    {% include tname with roots=root|eventchildren level=level|add:"1" %}
    {% endwith %}
</ul>
{% endif %}
</li>
{% endfor %}
