{% extends "index.html" %}

{% comment %}
For comparing two players.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Factoids{% endblock %}

{% block content %}
{% if pla and plb %}
    <h2>{{ pla.tag }} vs. {{ plb.tag }}</h2>

    {% if sig_full_a %}
    <p>It is likely that {{ pla.tag }} is currently better than {{ plb.tag }} in every way.</p>
    {% elif sig_full_b %}
    <p>It is likely that {{ pla.tag }} is currently better than {{ plb.tag }} in every way.</p>
    {% elif sig_mu_a %}
    <p>It is likely that {{ pla.tag }} is currently better than {{ plb.tag }} against third parties, but due
    to their relative matchup ratings, a match between them might be closer than expected.</p>
    {% elif sig_mu_b %}
    <p>It is likely that {{ plb.tag }} is currently better than {{ pla.tag }} against third parties, but due
    to their relative matchup ratings, a match between them might be closer than expected.</p>
    {% elif sig_overall_a %}
    <p>It is likely that {{ pla.tag }} is currently better than {{ plb.tag }} overall, but not necessarily in
    all matchups.</p>
    {% elif sig_overall_b %}
    <p>It is likely that {{ plb.tag }} is currently better than {{ pla.tag }} overall, but not necessarily in
    all matchups.</p>
    {% else %}
    <p>Currently, {{ pla.tag }} and {{ plb.tag }} are sufficiently close in rating that it is unwise to draw
    conclusions as to who is stronger <em>overall</em>. However, {{ highest.tag }} <em>is</em> rated 
    {{ diff|ratscaled }} points higher.</p>
    {% endif %}

    <p>Facing each other, there is a {{ pdiff|ratscaled }} point gap in favor of {{ phighest.tag }},
    {% if sig_face %} which is statistically significant.{% else %} but this is not statistically
    significant.{% endif %}</p>

    <p>{{ phighest.tag }} has a {{ p_1|prob }}% chance of beating {{ plowest.tag }} in a single game
    {% if p_5 %} and a {{ p_5|prob }}% chance in a best of five.{% else %}.{% endif %}
    {% if not num_8 %}To get a lopsided result between these two, a match must be very, very long. A best of
    601 will give {{ phighest.tag }} a {{ p_601|prob }}% chance of winning.
    {% else %}To have a chance higher than 80%, the match must be a best of {{ num_8 }}.{% endif %}</p>

    {% if matchcount %}
    <p>{{ pla.tag }} and {{ plb.tag }} have faced each other {{ matchcount }} time{{ matchcount|pluralize }}, 
    playing {{ gamecount }} game{{ gamecount|pluralize }}.
    {% if hmhighest %}{{ hmhighest.tag }} is leading {{ smhighest }} to {{ smlowest }} in matches,
        {% if hmhighest == hghighest %}and {{ sghighest }} to {{ sglowest }} in games.
        {% elif hghighest %}but is lagging {{ sglowest }} to {{ sghighest }} in games.
        {% else %}but they are even in games.{% endif %}
    {% elif hghighest %}They are even {{ smhighest }} to {{ smlowest }} in matches, but {{ hghighest.tag }}
        is leading in games {{ sghighest }} to {{ sglowest }}.
    {% else %}They are tied in both matches and games, {{ smighest }} to {{ smlowest }} and {{ sghighest }} to
        {{ sglowest }} respectively.
    {% endif %}
    The last time they played was on {{ lastmatch.date|date:"F jS, Y" }} at the {{ lastmatch.eventtext }}.
    There,
    {% if lastmatch.pla_score > lastmatch.plb_score %}
    {{ lastmatch.pla_tag }} beat {{ lastmatch.plb_tag }} {{ lastmatch.pla_score }}-{{ lastmatch.plb_score }}.
    {% elif lastmatch.pla_score < lastmatch.plb_score %}
    {{ lastmatch.plb_tag }} beat {{ lastmatch.pla_tag }} {{ lastmatch.plb_score }}-{{ lastmatch.pla_score }}.
    {% else %}
    they tied {{ lastmatch.pla_score }}-{{ lastmatch.plb_score }}
    {% endif %}
    </p>
    {% else %}
    <p>{{ pla.tag }} and {{ plb.tag }} have never faced each other in a recorded match on Aligulac.com.</p>
    {% endif %}

    {% if matches %}
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="partial" %}
    </table>
    {% endif %}

{% endif %}

    <h2>Generate factoids</h2>

    {% include "messages.html" %}

    <form method="get" action="/factoids/">
    <div class="table" style="width: 50em;">
        <div class="row">
            <div class="rowel">Player A</div>
            <div class="rower">
                <input name="pla" style="width: 30em;" value="{{ plas }}" />
            </div>
        </div>
        <div class="row">
            <div class="rowel">Player B</div>
            <div class="rower">
                <input name="plb" style="width: 30em;" value="{{ plbs }}" />
            </div>
        </div>
        <div class="row">
            <div class="rowel"></div>
            <div class="rower">
                <input type="submit" value="Compare" />
            </div>
        </div>
    </div>
    </form>

    <p>The player information must uniquely identify the player, and should be space-separated list of any of
    the following:</p>

    <ul>
        <li>Player tag, e.g. &quot;DongRaeGu&quot;</li>
        <li>Race, i.e. &quot;P&quot;, &quot;T&quot;, &quot;Z&quot;, &quot;R&quot; or &quot;S&quot;</li>
        <li>A two- or three-letter <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1 alpha-2</a>
        country code. e.g. &quot;KR&quot;, or the common English name of a country</li> 
        <li>Team name, e.g. &quot;MVP&quot;</li>
        <li>Player or team aliases (we add these to the database when we feel like they're needed), e.g.
        &quot;DRG&quot;</li>
        <li>A player ID number, which you can get from the URL of the player page, e.g. &quot;4&quot;</li>
    </ul>

    <p>Note that everything is case insensitive.</p>
{% endblock %}
