{% load ratings_extras %}

{% block basic %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">{{ before }}
        <input class="{{ class }}"
               type="{{ field_type|default:"text" }}"
               name="{{ field.html_name }}" 
               id="{{ field.auto_id }}"
               value="{{ field.value|default:"" }}" />
    </td>
</tr>
{% endblock %}

{% block textarea %}
<tr>
    <td class="form_left" style="vertical-align: top;">{{ field.label_tag }}</td>
    <td class="form_right">
        <textarea class="{{ class }}"
                  name="{{ field.html_name }}"
                  id="{{ field.auto_id }}"
                  rows="15">{{ field.value }}</textarea>
    </td>
</tr>
{% endblock %}

{% block select %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">
        <select class="{{ class }}"
                name="{{ field.html_name }}"
                id="{{ field.auto_id }}">
        {% for value, label in field.field.choices %}
            <option value="{{ value }}"
                {% if field.value == value|safe %}selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}
        </select>
    </td>
</tr>
{% endblock %}

{% block selectmulti %}
<tr>
    <td class="form_left" style="vertical-align: top;">{{ field.label_tag }}</td>
    <td class="form_right">
        {% for value, label in field.field.choices %}
        <label for="{{ field.auto_id }}_{{ forloop.counter0 }}">
        <input id="{{ field.auto_id }}_{{ forloop.counter0 }}"
             {% if value|stringformat:"i" in field.value or value in field.value%}checked="checked"{% endif %}
             name="{{ field.html_name }}"
             type="checkbox" value="{{ value }}">{{ label }}</label><br />
        {% endfor %}
    </td>
</tr>
{% endblock %}

{% block checkbox %}
<tr>
    <td class="form_left"></td>
    <td class="form_right">
        <label for="{{ field.auto_id }}">
        <input {% if field.value %}checked="checked"{% endif %} id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox" /> {{ field.label }}</label>
    </td>
</tr>
{% endblock %}

{% block date %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">
        <input class="date" 
               type="text" 
               name="{{ field.html_name }}" 
               id="{{ field.auto_id }}"
               value="{{ field.value|makedate|date:"Y-m-d"|default:"" }}" />
        <script type="text/javascript">
        // <![CDATA[  
            var opts = {                            
                formElements: {"{{ field.auto_id }}" :"Y-ds-m-ds-d"},
                statusFormat: "l-cc-sp-d-sp-F-sp-Y", 
            };           
            datePickerController.createDatePicker(opts);
        // ]]>
        </script>
    </td>
</tr>
{% endblock %}

{% block daterange %}
<tr>
    <td class="form_left">{{ label }}</td>
    <td class="form_right">
        between <input type="text" class="date" name="{{ after.html_name }}" 
                       id="after" value="{{ after.value|makedate|date:"Y-m-d"|default:"" }}" />
        and     <input type="text" class="date" name="{{ before.html_name }}" 
                       id="before" value="{{ before.value|makedate|date:"Y-m-d"|default:"" }}" />
        <script type="text/javascript">
        // <![CDATA[  
            var opts = {                            
                formElements: {"before": "Y-ds-m-ds-d"},
                statusFormat: "l-cc-sp-d-sp-F-sp-Y", 
            };
            datePickerController.createDatePicker(opts);
            var opts2 = {                            
                formElements: {"after": "Y-ds-m-ds-d"},
                statusFormat: "l-cc-sp-d-sp-F-sp-Y", 
            };
            datePickerController.createDatePicker(opts2);
        // ]]>
        </script>
    </td>
</tr>
{% endblock %}

{% block hidden %}
<input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endblock %}

{% block submit %}
<tr>
    <td class="form_left"></td>
    <td class="form_right">
        <input type="submit" name="op" value="{{ text|default:"Submit" }}" />
    </td>
</tr>
{% endblock %}
