{% load ratings_extras %}
{% load i18n %}

{% block basic %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">{{ before }}
        <input class="{{ class }}"
               type="{{ field_type|default:"text" }}"
               name="{{ field.html_name }}" 
               id="{{ field.auto_id }}"
               {% if onkeypress %}onkeypress="{{ onkeypress }}"{% endif %}
               value="{{ field.value|default:"" }}" />
    </td>
</tr>
{% endblock %}

{% block textarea %}
<tr>
    <td class="form_left" style="vertical-align: top;">{{ field.label_tag }}</td>
    <td class="form_right">
        <textarea class="{{ class }}"
                  name="{{ field.html_name }}"
                  id="{{ field.auto_id }}"
                  rows="{{ rows|default:"15" }}">{{ field.value }}</textarea>
    </td>
</tr>
{% endblock %}

{% block select %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">
        <select class="{{ class }}"
                name="{{ field.html_name }}"
                {% if onchange %}onchange="{{ onchange }}"{% endif %}
                id="{{ field.auto_id }}">
        {% for value, label in field.field.choices %}
            {% if not value %}
            <option disabled>------------</option>
            {% else %}
            <option value="{{ value }}"
                {% if value == override %}selected="selected"
                {% elif not override and field.value == value|safe %}selected="selected"{% endif %}>
                {{ label }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </td>
</tr>
{% endblock %}

{% block selectmulti %}
<tr>
    <td class="form_left" style="vertical-align: top;">{{ field.label_tag }}</td>
    <td class="form_right">
        {% for value, label in field.field.choices %}
        <label for="{{ field.auto_id }}_{{ forloop.counter0 }}">
        <input id="{{ field.auto_id }}_{{ forloop.counter0 }}"
             {% if value|stringformat:"i" in field.value or value in field.value%}checked="checked"{% endif %}
             name="{{ field.html_name }}"
             type="checkbox" value="{{ value }}">{{ label }}</label><br />
        {% endfor %}
    </td>
</tr>
{% endblock %}

{% block checkbox %}
<tr>
    <td class="form_left"></td>
    <td class="form_right">
        <label for="{{ field.auto_id }}">
        <input {% if field.value %}checked="checked"{% endif %} id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox" /> {{ field.label }}</label>
    </td>
</tr>
{% endblock %}

{% block date %}
<tr>
    <td class="form_left">{{ field.label_tag }}</td>
    <td class="form_right">
        <input class="date" 
               type="text" 
               name="{{ field.html_name }}" 
               id="{{ field.auto_id }}"
               value="{{ field.value|makedate|date:"Y-m-d"|default:"" }}" />
        <script type="text/javascript">
        // <![CDATA[  
            $("#{{field.auto_id}}").datepicker();
        // ]]>
        </script>
    </td>
</tr>
{% endblock %}

{% block daterange %}
<tr>
    <td class="form_left">{{ label }}</td>
    <td class="form_right">
        {% trans "between" context "between x and y inclusive" %}
        <input type="text" class="date" name="{{ after.html_name }}" 
               id="after" value="{{ after.value|makedate|date:"Y-m-d"|default:"" }}" />
        {% trans "and" context "between x and y inclusive" %}
        <input type="text" class="date" name="{{ before.html_name }}" 
               id="before" value="{{ before.value|makedate|date:"Y-m-d"|default:"" }}" />
        {% trans "inclusive" context "between x and y inclusive" %}
        <script type="text/javascript">
        // <![CDATA[  
            $("#after").datepicker();
            $("#before").datepicker();
        // ]]>
        </script>
    </td>
</tr>
{% endblock %}

{% block hidden %}
<input type="hidden" name="{{ name }}" value="{{ value }}" {% if id %}id="{{ id }}"{% endif %} />
{% endblock %}

{% block submit %}
{% trans "Submit" as submit %}
<tr>
    <td class="form_left"></td>
    <td class="form_right">
        <input type="submit"
               name="{{ name|default:"op" }}"
               {% if onclick %}onclick="{{ onclick }}"{% endif %}
               {% if id %}id="{{ id }}"{% endif %}
               {% if disabled %}disabled{% endif %}
               value="{{ text|default:submit }}" />
    </td>
</tr>
{% endblock %}

{% block text %}
<tr>
    <td class="form_left" {% if left_id %}id="{{ left_id }}"{% endif %}>
        {{ left|default:"" }}
    </td>
    <td class="form_right" {% if right_id %}id="{{ right_id }}"{% endif %}>
        {{ right|default:"" }}
    </td>
</tr>
{% endblock %}
