{% extends "index.html" %}

{% comment %}
This shows the rating history of a player. It's called from ratings.views.player_historical.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ player.tag }} rating history{% endblock %}

{% block content %}

<h2>{{ player.tag }}: Rating history</h2>

<p>Return to <a href="/players/{{ player.id }}-{{ player.tag|urlfilter }}/">player page</a>.</p>

{% comment %}
Could the ratinglist.html template be extended and called from here?
{% endcomment %}
<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 11em;">List</div>
        <div class="rowe" style="width: 9em; text-align: right;">Rating</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">Rating vP</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">Rating vT</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">Rating vZ</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 6em; text-align: right;">Matches</div>
        <div class="rowe" style="width: 6em; text-align: right;">Games</div>
        <div class="rowe" style="width: 4em;"></div>
    </div>
    {% for rating in historical %}
        {% if rating %}
        <div href="/periods/{{ rating.period.id }}" class="row {% cycle 'row2' 'row1' %}">
            <div class="rowe">
                <a href="/periods/{{ rating.period.id }}/">{{ rating.period.end }}</a>
                {% if rating.period.is_preview %}*{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">{{ rating.rating|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                    {% if rating.prev.rating > rating.rating %}
                    <img src="{{ "downarrow.png"|static }}" 
                         alt="down" style="vertical-align: text-bottom;" />
                    {% elif rating.prev.rating < rating.rating %}
                    <img src="{{ "uparrow.png"|static }}" 
                         alt="up" style="vertical-align: text-bottom;" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vp|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                    {% if rating.prev.get_totalrating_vp > rating.get_totalrating_vp %}
                    <img src="{{ "downarrow.png"|static }}" 
                         alt="down" style="vertical-align: text-bottom;" />
                    {% elif rating.prev.get_totalrating_vp < rating.get_totalrating_vp %}
                    <img src="{{ "uparrow.png"|static }}" 
                         alt="up" style="vertical-align: text-bottom;" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vt|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                    {% if rating.prev.get_totalrating_vt > rating.get_totalrating_vt %}
                    <img src="{{ "downarrow.png"|static }}" 
                         alt="down" style="vertical-align: text-bottom;" />
                    {% elif rating.prev.get_totalrating_vt < rating.get_totalrating_vt %}
                    <img src="{{ "uparrow.png"|static }}" 
                         alt="up" style="vertical-align: text-bottom;" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vz|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                    {% if rating.prev.get_totalrating_vz > rating.get_totalrating_vz %}
                    <img src="{{ "downarrow.png"|static }}" 
                         alt="down" style="vertical-align: text-bottom;" />
                    {% elif rating.prev.get_totalrating_vz < rating.get_totalrating_vz %}
                    <img src="{{ "uparrow.png"|static }}" 
                         alt="up" style="vertical-align: text-bottom;" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.nmatches }}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.ngames }}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if rating.decay == 0 %}
                    <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ rating.period.id }}/">→</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="row" style="background: #555555;">
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
