{% extends "index.html" %}

{% comment %}
This is the Hall of Fame template. It's called from ratings.views.records.
{% endcomment %}

{% load ratings_extras %}

{% block title %}History{% endblock %}

{% block content %}
<h2>History</h2>


<form method="get" action="/records/history/">
    <p>Show the:
    <select name="numPlayers">
        <option value=5 {% if numPlayers == 5 %}selected{% endif %}>5</option>
        <option value=10 {% if numPlayers == 10 %}selected{% endif %}>10</option>
        <option value=20 {% if numPlayers == 20 %}selected{% endif %}>20</option>
        <option value=50 {% if numPlayers == 50 %}selected{% endif %}>50</option>
        <option value=100 {% if numPlayers == 100 %}selected{% endif %}>100</option>
    </select>
    best players by races:
    <select name="race">
        <option value="ptzrs" {% if race == "ptzrs" %}selected{% endif %}>All</option>
        <option value="p" {% if race == "p" %}selected{% endif %}>Protoss</option>
        <option value="t" {% if race == "t" %}selected{% endif %}>Terran</option>
        <option value="z" {% if race == "z" %}selected{% endif %}>Zerg</option>
        <option value="tzrs" {% if race == "tzrs" %}selected{% endif %}>No Protoss</option>
        <option value="pzrs" {% if race == "pzrs" %}selected{% endif %}>No Terran</option>
        <option value="ptrs" {% if race == "ptrs" %}selected{% endif %}>No Zerg</option>
    </select>
    and nationalities:
    <select name="nats">
        <option value="all" {% if nats == "all" %}selected{% endif %}>All</option>
        <option value="foreigners" {% if nats == "foreigners" %}selected{% endif %}>Non-Koreans</option>
        {% for c in countries %}
        <option value="{{ c.cc }}" {% if nats == c.cc %}selected{% endif %}>{{ c.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter" />
    </p>
</form>

<script type="text/javascript">
    $(document).ready(function() { 
        var chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-alltime',
                type: 'spline',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            subtitle: {
                text: 'Click and drag to zoom'
            },
            xAxis: {
                type: 'datetime',
                plotLines: [
                {% for p in patches %}
                {
                    value: {{ p.0|milliseconds }},
                    color: '#cccccc',
                    width: 2,
                    label: {
                        text: '{{ p.1 }}',
                        verticalAlign: 'bottom',
                        textAlign: 'right',
                        y: -2,
                        style: {
                            fontSize: '0.8em',
                        }
                    }
                },
                {% endfor %}]
            },
            yAxis: {
                title: {
                    text: 'Ranking' 
                },
                min: 800,
                max: 2100
            },
            tooltip: {
                enabled: true,
                formatter: function () {
                    return this.series.name;
                }
            },
            plotOptions: {
                series: {
                    events: {
                        mouseOver: function() {                      
                            this.hasCustomFlag = this.color;
                        },
                        mouseOut: function() {
                            this.graph.attr('stroke', this.hasCustomFlag);
                        }
                    },
                    states: {
                        hover: {
                            lineWidth : 6
                        }
                    },
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                              enabled: false,
                            }
                        }
                    },
                },
            },
             series: [

             {% for player, rating in records %}
             { 
                name: '{{ player.player__tag }}',
                {% if player.player__race == "T" %}
                    color: '#0000dd',
                {% elif player.player__race == "Z" %}
                    color: '#dd0000',
                {% elif player.player__race == "P" %}
                    color: '#00dd00',
                {% else %}
                    color: '#000000',
                {% endif %}
                lineWidth: 1,
                data: [{% for r in rating %} {
                          name: '{{ r.period.end }}: {{r.bf_rating|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|ratscale }}
                      },{% endfor %}]

                
            },
            {% endfor %}] 
           
        });
    });
</script>
<div style="width: 67em; height: 40em;" id="chart-alltime"></div>

{% endblock %}
