{% extends "index.html" %}

{% comment %}
This shows the rating history of a player. It's called from ratings.views.player_historical.
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

{% block title %}{% blocktrans with pl=player.tag %}{{ pl }} rating history{% endblocktrans %}{% endblock %}

{% block content %}

{% comment %}
Could the ratinglist.html template be extended and called from here?
{% endcomment %}
<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 11em;">{% trans "List" %}</div>
        <div class="rowe" style="width: 9em; text-align: right;">{% trans "Rating" %}</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">{% trans "Rating vP" %}</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">{% trans "Rating vT" %}</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 9em; text-align: right;">{% trans "Rating vZ" %}</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 6em; text-align: right;">{% trans "Matches" %}</div>
        <div class="rowe" style="width: 6em; text-align: right;">{% trans "Games" %}</div>
        <div class="rowe" style="width: 4em;"></div>
    </div>
    {% for rating in historical %}
        {% if rating %}
        <div href="/periods/{{ rating.period.id }}" class="row {% cycle 'row2' 'row1' %}">
            <div class="rowe">
                <a href="/periods/{{ rating.period.id }}/">{{ rating.period.end }}</a>
                {% if rating.period.is_preview %}*{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">{{ rating.rating|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                <img src="{{ rating.rating_diff|makearrows|img }}" style="vertical-align: text-bottom;"
                     title="{{ rating.rating_diff|ratscalediff|signify }}" />
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vp|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                <img src="{{ rating.rating_diff_vp|makearrows|img }}" style="vertical-align: text-bottom;"
                     title="{{ rating.rating_diff_vp|ratscalediff|signify }}" />
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vt|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                <img src="{{ rating.rating_diff_vt|makearrows|img }}" style="vertical-align: text-bottom;"
                     title="{{ rating.rating_diff_vt|ratscalediff|signify }}" />
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.rating|addf:rating.rating_vz|ratscale }}</div>
            <div class="rowe">
                {% if rating.prev %}
                <img src="{{ rating.rating_diff_vz|makearrows|img }}" style="vertical-align: text-bottom;"
                     title="{{ rating.rating_diff_vz|ratscalediff|signify }}" />
                {% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.nmatches }}
            </div>
            <div class="rowe" style="text-align: right;">
                {{ rating.ngames }}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if rating.decay == 0 %}
                    <a href="{{ player|player_url }}period/{{ rating.period.id }}/">→</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="row" style="background: #555555;">
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
            <div class="rowe"></div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
