{% extends "index.html" %}

{% comment %}
This is the Hall of Fame template. It's called from ratings.views.records.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Hall of Fame{% endblock %}

{% block content %}
    <h2>Hall of Fame</h2>

    <p>This list ranks players by <em>periods of domination</em>. The relevant score is called PP
    (<em>period-points</em>), and is the sum over a range of lists of the signed distance from a player to
    number ten on the list.</p>

    <p>For most players, their PP is equal to the sum of the rating gaps for each list in which they were
    in the top ten. If a player has been there more than once, the optimal range of lists is chosen, and it
    can include times when the player was not in the top ten, if these are sufficiently brief and
    negligible.</p>

    <p>In short, this is a list of players who have ever been top ten, rewarding both large rating gaps and
    long periods of rule. Think of it as a king-of-the-hill hall of fame.</p>

    <p>To avoid rating artifacts, these records are only counted after 25 periods (i.e. list 25, on February
    9th, 2011).</p>

<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 2.5em; text-align: right;">#</div>
        <div class="rowe" style="width: 18em;">Name</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 8.5em; text-align: right;">PP</div>
        <div class="rowe" style="width: 4em;"></div>
        <div class="rowe" style="width: 20em;">Start</div>
        <div class="rowe" style="width: 10em;">Length</div>
        <div class="rowe" style="width: 2em;"></div>
    </div>
{% for h in high %}
<div class="row {% cycle 'row2' 'row1' %}">
    <div class="rowe" style="text-align: right;">{{ forloop.counter }}.</div>
    <div class="rowe">
        <a href="/players/{{ h.id }}-{{ h.tag|urlfilter }}/">{{ h.tag }}</a>
    </div>
    <div class="rowe">
        {% if h.country != "" %}
            <img src="{{ h.country|lower|imgfolder:"flags"|static }}" alt="{{ h.country }}" />
        {% endif %}
    </div>
    <div class="rowe">
        <img src="{{ h.race|imgfolder|static }}" class="btm" />
    </div>
    <div class="rowe" style="text-align: right;">
        {{ h.dom_val|ratscalediff }}
    </div>
    <div class="rowe"></div>
    <div class="rowe">
        <a href="/periods/{{ h.dom_start.id }}/">{{ h.dom_start.start|date:"F jS, Y" }}</a>
    </div>
    <div class="rowe">
        {{ h.dom_end.id|sub:h.dom_start.id|add:h.dom_end.id|sub:h.dom_start.id }} weeks
        {% if h.dom_end.id > curp.id %}*{% endif %}
    </div>
    <div class="rowe"> </div>
</div>
{% endfor %}
</div>

{% endblock %}
