{% comment %}
This template defines both the main site layout and the front page. It's extended by all other templates.
Changes here will mostly be visible on the entire site.
{% endcomment %}

{% load ratings_extras %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="StarCraft 2 Progaming Statistics, Ratings, Rankings and Predictions" />
        <meta name="keywords" content="StarCraft,StarCraft 2,Blizzard,Ratings,Rankings,Teams,Progaming,Proscene,Statistics,Stats,Predictions" />
        <meta name="author" content="Eivind Fonn" />

        <title>{% block title %}Aligulac{% endblock %}</title>
        <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{ "base"|css }}" rel="stylesheet" type="text/css"/>
        <link href="{{ "datepicker"|css }}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{{ "jquery-1.10.2.min"|js }}"></script>
        <script type="text/javascript" src="{{ "jquery-ui.min"|js }}"></script>
        <script type="text/javascript" src="{{ "general"|js }}"></script>
        <script type="text/javascript" src="{{ "datepicker"|js }}" /></script>
        {% if charts %}
            <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
            <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
        {% endif %}
        {% if curpage == "Predict" %}
            <script type="text/javascript" src="{{ "lp-bracket-parser"|js }}" ></script>
        {% endif %}

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36949125-1']);
            _gaq.push(['_trackPageview']);

            (function() { 
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script type="text/javascript">
        <!--
        $(document).ready(function() {
            $(".menu > .menu").mouseenter(function(){
                $(".menu span").each(function() {$(this).hide();});
                $("#submenu_" + $(this).attr("data-sub-menu")).show();
            });
        });
        //-->
        </script>
        <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Donegal+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <table id="main">
            <tr>
                <td id="heading"><a href="/" id="title" />ALIGULAC</a></td>
            </tr>
            <tr>
                <td id="subheading">
                    {% if debug %}
                        <span style="color: #ff0000; font-weight: bold;">DEVELOPMENT SERVER</span>
                    {% else %}
                        StarCraft 2 Progaming Statistics and Predictions
                    {% endif %}
                </td>
            </tr>
            <tbody id="menu_container">
            <tr>
                <td class="menu">
                    <ul>
                        {% for main in menu %}
                            <li>
                                <div>
                                    <a href="{{ main.url }}" class="{% if curpage == main.name %} menucur{% endif %}">{{ main.name }}</a>
                                    <a href="#" class="actionSelector" style="display: none;">.</a>
                                </div>
                                <ul>
                                {% for subname, suburl in main.submenu %}               
                                    <li>
                                        {% if cursubpage == subname and curpage == main.name %}
                                        <a href="{{ suburl }}" class="menu menucur">{{ subname }}</a>
                                        {% else %}
                                        <a href="{{ suburl }}" class="menu">{{ subname }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
            <tr>
                <td style="text-align: right;"> <form action="/search/" method="get">
                    Find player, team or event: <input type="text" name="q" />
                </form> </td>
            </tr>
            <tr>
                <td id="content">
                    {% if title %}
                    <h2>
                        {{ title }}
                        {% if subnav %}
                        {% for subname, suburl in subnav %}
                            {% if cursubpage == subname %}
                            <a href="{{ suburl }}" style="font-size: small" class="menu menucur">{{ subname }}</a>
                            {% else %}
                            <a href="{{ suburl }}" style="font-size: small" class="menu">{{ subname }}</a>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </h2>
                    {% endif %}
                    {% block content %}
                    <h2>Current top 10</h2>

                    {% include "ratinglist.html" with localcount=1 rl_pos_arrow=1 displayteams=1 %}

                    {% if curp.is_preview %}
                    <p>The above list is a preview of the next rating list, which will be finalized on 
                    {{ curp.end|date:"F jS" }}.</p>
                    {% endif %}

                    {% include "blogposts.html" %}
                    {% endblock %}
                </td>
            </tr>
            <tr>
                <td id="footer">
                    Find us on
                    <a target="_blank" href="http://twitter.com/Sc2Aligulac">Twitter</a>,
                    <a target="_blank" href="https://github.com/TheBB/aligulac">GitHub</a> and
                    #aligulac on quakenet.<br/><br/>
                    
                    Powered by 
                    <a target="_blank" href="http://www.djangoproject.com/">Django 1.6</a>, 
                    <a target="_blank" href="http://python.org">Python 3.2</a>, 
                    <a target="_blank" href="http://httpd.apache.org">Apache 2</a> and
                    <a target="_blank" href="http://debian.org">Debian GNU/Linux 6</a>.<br/><br/>

                    Icons by Mark James. 
                    Race icons by
                    <a target="_blank" href="http://wiki.teamliquid.net/starcraft2/Main_Page">Liquipedia</a>.
                    Date widget by
                    <a target="_blank" href="http://www.frequency-decoder.com/">Frequency Decoder</a>.
                    Charts by
                    <a target="_blank" href="http://highcharts.com/">Highcharts</a>.<br/><br/>

                    <span id="genshort">
                    <input type="submit" value="Generate short URL for this page" 
                           onclick="gen_short();" />
                    </span>
                    <span id="dispshort" style="display: none;">
                    </span>
                    <script type="text/javascript">
                        function gen_short()
                        {
                            var http = new XMLHttpRequest();
                            http.open("GET", "/m/new/?url=" + encodeURIComponent("{{ cur_path }}", false));

                            http.onreadystatechange = function() {
                                if (http.readyState == 4 & http.status == 200)
                                {
                                    togvis('genshort', 'none');
                                    document.getElementById('dispshort').innerHTML = 
                                        "<a href=\"/m/" + http.responseText + "/\">/m/" + 
                                        http.responseText + "</a>";
                                    togvis('dispshort', 'inline');
                                }
                            }

                            http.send(null);
                        }
                    </script>
                </td>
            </tr>
        </table>
    </body>
</html>
