{% extends "index.html" %}

{% comment %}
This page shows the results by date. Called from ratings.views.results.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Integrity warnings{% endblock %}


{% block content %}

<h2>Integrity warnings</h3>

    {% if adm %}
    <p>You are logged in as: {{ user }}.
    (<a href="/logout/">logout</a>, <a href="/changepwd/">change password</a>)</p>
    {% else %}
    <p>You are not logged in. The submitted results will be pending review before being accepted.
    (<a href="/login/">login</a>)</p>
    {% endif %}


{% if matches %}
<p>There are {{ num }} possibly duplicated matches in the database. Showing the first {{ matches|length }}.</p>

<table class="results">
{% for g in matches %}
<form method="post" action="/add/integrity/" >
    {% csrf_token %}
    <input type="hidden" name="warning" value="{{ g.0 }}" />
    <tr class="header">
        <td colspan="4">
            {{ g.1.0.pla.tag }} vs. {{ g.1.0.plb.tag }}
        </td>
        <td colspan="3" style="text-align: right;">
            <input type="submit" name="false" value="False alarm" />
            <input type="submit" name="del_ok" value="Delete marked and approve" />
            <input type="submit" name="del" value="Delete marked" />
        </td>
    </tr>
    {% include "list_matches.html" with lm_list=g.1 lm_show_date=1 lm_adm=1 %}
</form>
{% endfor %}
</table>
{% else %}
    <p>There are currently no warnings pending resolution.</p>
{% endif %}

{% endblock %}
