{% extends "index.html" %}

{% comment %}
Login template. Called from any admin-specific page if the user is not logged in. (Mostly in
ratings.submitviews.)
{% endcomment %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

{% include "messages.html" %}

<p>{% blocktrans with email="evfonn(at)gmail(dot)com" %}To submit results, please log in with your submitter account. If you don't have a submitter account, but still want to contribute, please let me know at: {{ email }}.{% endblocktrans %}</p>

<form method="post" action="/add/">
{% csrf_token %}
<div class="table" style="width: 30em;">
    <div class="row">
        <div class="rowe" style="width: 10em; text-align: right;">{% trans "Username:" %}</div>
        <div class="rowe" style="width: 20em;"><input type="text" name="username" /></div>
    </div>
    <div class="row">
        <div class="rowe" style="width: 10em; text-align: right;">{% trans "Password:" %}</div>
        <div class="rowe" style="width: 20em;"><input type="password" name="password" /></div>
    </div>
    <div class="row">
        <div class="rowe" style="width: 10em; text-align: right;"></div>
        <div class="rowe" style="width: 20em;"><input type="submit" value="{% trans "Login" %}" /></div>
    </div>
</div>
</form>

{% endblock %}
