{% extends "index.html" %}

{% comment %}
This is the page for miscellaneous administrative functions. Called from ratings.submitviews.manage.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}

{% block title %}Miscellaneous{% endblock %}

{% block content %}
<h2>Miscellaneous administration</h2>

{% include "messages.html" %}

<h2>Merge players</h2>

<form method="post" action="/add/misc/">
{% csrf_token %}
{% if mergeform.is_bound and mergeform.is_valid and not mergeform.cleaned_data.confirm %}
<table class="bigform">
    <tr>
        <td class="form_left"></td>
        <td class="form_right">
            <span style="color: #ff0000; font-weight: bold;">CAREFUL:</span> This will merge 
            {% with pl=mergeform.cleaned_data.source %}
                <a href="/players/{{ pl.id }}-{{ pl.tag|urlfilter }}/">{{ pl.tag }}</a>
                {% if pl.country != "" %}
                    <img src="{{ pl.country|lower|img:"flags" }}" alt="{{ pl.country }}" />
                {% endif %}
                <img src="{{ pl.race|img }}" alt="{{ pl.race }}" class="btm" />
            {% endwith %}
            into
            {% with pl=mergeform.cleaned_data.target %}
                <a href="/players/{{ pl.id }}-{{ pl.tag|urlfilter }}/">{{ pl.tag }}</a>
                {% if pl.country != "" %}
                    <img src="{{ pl.country|lower|img:"flags" }}" alt="{{ pl.country }}" />
                {% endif %}
                <img src="{{ pl.race|img }}" alt="{{ pl.race }}" class="btm" />
            {% endwith %}.
        </td>
    </tr>
{% form "forms.html" %}
    {% use "hidden" name=mergeform.source.html_name value=mergeform.cleaned_data.source.id %}
    {% use "hidden" name=mergeform.target.html_name value=mergeform.cleaned_data.target.id %}
    {% field "checkbox" mergeform.confirm %}
    {% use "submit" text="Merge" name="merge" %}
{% endform %}
</table>
{% else %}
<table class="bigform">
{% form "forms.html" %}
    {% field "basic"        mergeform.source        class="narrowinput" %}
    {% field "basic"        mergeform.target        class="narrowinput" %}
    {% use "submit" text="Merge" name="merge" %}
{% endform %}
</table>
{% endif %}
</form>

<h2>Move events</h2>

<form method="post" action="/add/misc/">
{% csrf_token %}
{% if moveform.is_bound and moveform.is_valid and not moveform.cleaned_data.confirm %}
<table class="bigform">
    <tr>
        <td class="form_left"></td>
        <td class="form_right">
            <span style="color: #ff0000; font-weight: bold;">CAREFUL:</span> This will move
            {{ moveform.cleaned_data.subject.fullname }} and all events under it 
            ({{ moveform.cleaned_data.subject.get_children.count }}) to
            {{ moveform.cleaned_data.target.fullname }}.
        </td>
    </tr>
{% form "forms.html" %}
    {% use "hidden" name=moveform.subject.html_name value=moveform.cleaned_data.subject.id %}
    {% use "hidden" name=moveform.target.html_name value=moveform.cleaned_data.target.id %}
    {% field "checkbox" moveform.confirm %}
    {% use "submit" text="Move" name="move" %}
{% endform %}
</table>
{% else %}
<table class="bigform">
{% form "forms.html" %}
    {% field "basic"        moveform.subject        class="narrowinput" %}
    {% field "basic"        moveform.target         class="narrowinput" %}
    {% use "submit" text="Move" name="move" %}
{% endform %}
</table>
{% endif %}
</form>

{% endblock %}
