{% extends "index.html" %}

{% comment %}

{% endcomment %}

{% load ratings_extras %}

{% block title %}Miscellaneous Statistics{% endblock %}

{% block content %}

<div class="table" style="width: 67em;">
{% for group in miscpages  %}
    <div class="row">
    {% for page in group %}
        <div class="rowevent" style="width: 34em;">
        {% if page %}
            <div class="eventh"><a href="{{ page.url }}">{{ page.title }}</a></div>
            <div class="events">
              {{ page.desc }}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>


{% endblock %}
