{% comment %}
This is a very useful subroutine that is called from many different template files. It prints a list of
matches. It expects a number of "arguments", all prefixed with lm_, to avoid naming collision.

- lm_list: The list of matches to print.
- lm_header_event: True if the title row should be event information, false otherwise.
- lm_header_info: True if the title row should be column headings, false otherwise.
- lm_sorted: True if the player on the left should be consistent, false to show the order in the database. Set
             this to true if the list is included on a player page, so one player will always be shown on one
             side. If true, the lm_player argument must be given.
- lm_player: The player that should be shown to the left. Has no effect unless lm_sorted is true.
- lm_show_date: Set to true to show the date of each match, false otherwise.
- lm_autohide: Set to true to automatically collapse the matches under the header, false otherwise.
- lm_adm: Set to true to show admin links on the far right. (A checkbox and a link to the admin interface.)

NB! The calling code is responsible for starting and ending the HTML table:

<table class="results">
    {% include "list_matches.html" with .... %}
</table>
{% endcomment %}

{% load ratings_extras %}

{% if lm_header_info %}
    <tr class="header">
        <td class="lm_date">{% if lm_show_date %}Date{% endif %}</td>
        <td class="lm_rta">Rating</td>
        <td class="lm_pla">Player A</td>
        <td class="lm_score">Score</td>
        <td class="lm_plb">Player B</td>
        <td class="lm_rtb">Rating</td>
        <td class="lm_right"></td>
    </tr>
{% endif %}
<!--
{% if lm_header_event %} 
<tbody id="lm-{{ lm_list.0.id }}" {% if lm_autohide %}style="display: none;"{% endif %}> 
{% endif %}

{% if lm_adm and lm_list.0.group %}
<tr class="nonheader row1">
    <td colspan="1" style="vertical-align: top;">Date:</td>
    <td colspan="6">{{ lm_list.0.group.date|date:"F jS, Y" }}</td>
</tr>
<tr class="nonheader row1">
    <td colspan="1" style="vertical-align: top;">Game:</td>
    <td colspan="6">{{ lm_list.0.group.game }}</td>
</tr>
<tr class="nonheader row1">
    <td colspan="1" style="vertical-align: top;">Offline:</td>
    <td colspan="6">{% if lm_list.0.group.offline %}Yes{% else %}No{% endif %}</td>
</tr>
<tr class="nonheader row1">
    <td colspan="1">Source:</td>
    <td colspan="6"><a href="{{ lm_list.0.group.source }}">{{ lm_list.0.group.source }}</a></td>
</tr>
<tr class="nonheader row1">
    <td colspan="1">Contact:</td>
    <td colspan="6">{{ lm_list.0.group.contact }}</td>
</tr>
<tr class="nonheader row1">
    <td colspan="1" style="vertical-align: top;">Notes:</td>
    <td colspan="6"><code><pre>{{ lm_list.0.group.notes }}</pre></code></td>
</tr>
{% endif %}
 -->
{% for m in lm_list %}
{% if lm_header_event %}
{% ifchanged m.eventobj.get_event %}
<tr class="header">
    <td colspan="5">
        {% if m.eventobj %} ▸
            {% for event in m.eventobj.get_event %}
            	<a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">{{ event.name }}</a>
            {% endfor %}
        {% elif m.event %}
        	{{ m.event }}
        {% else %}
            Unknown event(s)
        {% endif %}
    </td>
    <td colspan="2" style="text-align: right;"> 
        <a id="lma-{{ m.id }}" href="#" 
            onclick="togvis_tbody('lm-{{m.id}}');togHTML('lma-{{m.id}}','hide','show');return false;">
            {% if lm_autohide %}show{% else %}hide{% endif %}
        </a>

        {% if lm_adm and not lm_nocheck %}
        <a href="#" onclick="mark_all(true, 'match-{{m.id}}-'); return false;">chk</a>
        <a href="#" onclick="mark_all(false, 'match-{{m.id}}-'); return false;">unchk</a>
        {% endif %}
    </td>
    </td>
</tr>
{% endifchanged %}
{% endif %}
<tr class="nonheader {% cycle 'row2' 'row1' %}" {% if not lm_header_event %}
                                                    {% if m.eventobj %}title="{{ m.eventobj }}"
                                                    {% elif m.event %}title="{{ m.event }}"
                                                    {% else %}title="Unknown event"
                                                    {% endif %}
                                                {% endif %}>
    <td class="lm_date">
        {% if lm_show_date %}
        	{% if m.date %}{{ m.date|date:"Y-m-d" }}{% else %}{{ m.group.date|date:"Y-m-d" }}{% endif %}
        {% endif %}
    </td>
    <td class="lm_rta">
        {% if lm_rating and m.rta %}
            {{ m.rta|ratscale }}
        {% endif %}
    </td>
    <td class="lm_pla">
        <!-- {% if lm_sorted %}
            {% if m.sc_my > m.sc_op %}<strong>{% endif %}
                <a href="/players/{{ lm_player.id }}-{{ lm_player.tag|urlfilter }}/">{{ lm_player.tag }}</a>
            {% if lm_player.country != "" %}
                <img src="{{ lm_player.country|lower|imgfolder:"flags"|static }}" alt="{{ lm_player.country }}" />
            {% endif %}
            <img src="{{ m.rc_my|imgfolder|static }}" alt="{{ m.rc_my }}" class="btm" />
            {% if m.sc_my > m.sc_op %}</strong>{% endif %}
        {% else %} -->
            {% if m.sca > m.scb %}<strong>{% endif %}
            {% if m.pla %}
                <a href="/players/{{ m.pla.id }}-{{ m.pla.tag|urlfilter }}/">{{ m.pla.tag }}</a>
                {% if m.pla.country != "" %}
                    <img src="{{ m.pla.country|lower|imgfolder:"flags"|static }}" alt="{{ lm_player.country }}" />
                {% endif %}
                <img src="{{ m.rca|imgfolder|static }}" alt="{{ m.rc_my }}" class="btm" />
            <!-- {% else %}
                {% if adm %}
                <input type="text" class="player" name="match-{{ m.id }}-pla" style="text-align: right;"
                        value="{{ m.pla_string }}" />
                {% else %}
                {{ m.pla_string }}
                {% endif %}
            {% endif %} -->
            {% if m.sca > m.scb %}</strong>{% endif %}
        <!-- {% endif %} -->
    </td>
    <td class="lm_score">
        <!-- {% if lm_sorted %}
            {{ m.sc_my }}-{{ m.sc_op }}
        {% else %} -->
            {{ m.sca }}–{{ m.scb }}
        <!-- {% endif %} -->
    </td>
    <td class="lm_plb">
        <!-- {% if lm_sorted %}
            {% if m.sc_op > m.sc_my %}<strong>{% endif %}
            <img src="{{ m.rc_op|imgfolder|static }}" alt="{{ m.rc_op }}" class="btm" />
            {% if m.opp.country != "" %}
                <img src="{{ m.opp.country|lower|imgfolder:"flags"|static }}" alt="{{ m.opp.country }}" />
            {% endif %}
            <a href="/players/{{ m.opp.id }}-{{ m.opp.tag|urlfilter }}/">{{ m.opp.tag }}</a>
            {% if m.sc_op > m.sc_my %}</strong>{% endif %}
        {% else %} -->
            {% if m.scb > m.sca %}<strong>{% endif %}
            {% if m.plb %}
                <img src="{{ m.rcb|imgfolder|static }}" alt="{{ m.rcb }}" class="btm" />
                {% if m.plb.country != "" %}
                    <img src="{{ m.plb.country|lower|imgfolder:"flags"|static }}" alt="{{ m.plb.country }}" />
                {% endif %}
                <a href="/players/{{ m.plb.id }}-{{ m.plb.tag|urlfilter }}/">{{ m.plb.tag }}</a>
            <!-- {% else %}
                {% if adm %}
                <input type="text" class="player" name="match-{{ m.id }}-plb" value="{{ m.plb_string }}" />
                {% else %}
                {{ m.plb_string }}
                {% endif %}
            {% endif %} -->
            {% if m.scb > m.sca %}</strong>{% endif %}
        <!-- {% endif %} -->
    </td>
    <td class="lm_rtb">
        {% if lm_rating and m.rtb %}
            {{ m.rtb|ratscale }}
        {% endif %}
    </td>
    <td class="lm_right">
        {% if lm_adm %}
            {% if not lm_nocheck %}<input type="checkbox" name="match-{{ lm_list.0.id }}-{{ m.id }}" value="y" />{% endif %}
            <!-- {% if m.group %}
                <a href="/admin/ratings/prematch/{{ m.id }}/">→</a>
            {% else %}
                <a href="/admin/ratings/match/{{ m.id }}/">→</a>
            {% endif %} -->
        {% else %}
            {% if m.treated %}
                <img src="{{ "yes.png"|static }}" alt="yes" class="btm" />
            {% else %}
                <img src="{{ "no.png"|static }}" alt="yes" class="btm" />
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endfor %}

<!-- {% if lm_header_event %} </tbody> {% endif %} -->
