{% extends "index.html" %}

{% comment %}
This template shows a rating list for a given period.
{% endcomment %}

{% load ratings_extras %}
{% load i18n %}

{% block title %}{% blocktrans with n=period.id %}List {{n}}{% endblocktrans %}{% endblock %}

{% block content %}

{% include "messages.html" %}

<script type="text/javascript">
<!--
    tables = ['best', 'spec', 'matchup'];
-->
</script>

<table style="width: 67em;"><tr>
<td style="width: 45em; vertical-align: top;">
<table style="width: 42em; border-collapse: collapse;">
    <tr>
        <td class="tabsel" onclick="switch_tab('best', tables);" style="width: 33%;" id="best-tab">
            {% trans "best" %}
        </td>
        <td class="tabunsel" onclick="switch_tab('spec', tables);" style="width: 33%;" id="spec-tab">
            {% trans "most specialized" %}
        </td>
        <td class="tabunsel" onclick="switch_tab('matchup', tables);" style="width: 33%;" id="matchup-tab">
            {% trans "matchups" %}
        </td>
    </tr>
    <tbody id="best">
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table class="dottedint">
    <tr>
        <td style="width: 2em;"></td>
        <td style="width: 10em; text-align: center;">{% trans "All" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Protoss" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Terran" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Zerg" %}</td>
    </tr>
    <tr>
        <td>{% trans "All" %}</td>
        <td>
            <a href="/players/{{best.player.id}}-{{best.player.tag|urlfilter}}/">{{best.player.tag}}</a>
            <br/><span class="small">({{ best.rating|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestp.player.id}}-{{bestp.player.tag|urlfilter}}/">{{bestp.player.tag}}</a>
            <br/><span class="small">({{ bestp.rating|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestt.player.id}}-{{bestt.player.tag|urlfilter}}/">{{bestt.player.tag}}</a>
            <br/><span class="small">({{ bestt.rating|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestz.player.id}}-{{bestz.player.tag|urlfilter}}/">{{bestz.player.tag}}</a>
            <br/><span class="small">({{ bestz.rating|ratscale }})</span>
        </td>
    </tr>
    <tr>
        <td>{% trans "vP" %}</td>
        <td>
            <a href="/players/{{bestvp.player.id}}-{{bestvp.player.tag|urlfilter}}/">{{bestvp.player.tag}}</a>
            <br/><span class="small">({{ bestvp.rating|addf:bestvp.rating_vp|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestpvp.player.id}}-{{bestpvp.player.tag|urlfilter}}/">{{bestpvp.player.tag}}</a>
            <br/><span class="small">({{ bestpvp.rating|addf:bestpvp.rating_vp|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{besttvp.player.id}}-{{besttvp.player.tag|urlfilter}}/">{{besttvp.player.tag}}</a>
            <br/><span class="small">({{ besttvp.rating|addf:besttvp.rating_vp|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestzvp.player.id}}-{{bestzvp.player.tag|urlfilter}}/">{{bestzvp.player.tag}}</a>
            <br/><span class="small">({{ bestzvp.rating|addf:bestzvp.rating_vp|ratscale }})</span>
        </td>
    </tr>
    <tr>
        <td>{% trans "vT" %}</td>
        <td>
            <a href="/players/{{bestvt.player.id}}-{{bestvt.player.tag|urlfilter}}/">{{bestvt.player.tag}}</a>
            <br/><span class="small">({{ bestvt.rating|addf:bestvt.rating_vt|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestpvt.player.id}}-{{bestpvt.player.tag|urlfilter}}/">{{bestpvt.player.tag}}</a>
            <br/><span class="small">({{ bestpvt.rating|addf:bestpvt.rating_vt|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{besttvt.player.id}}-{{besttvt.player.tag|urlfilter}}/">{{besttvt.player.tag}}</a>
            <br/><span class="small">({{ besttvt.rating|addf:besttvt.rating_vt|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestzvt.player.id}}-{{bestzvt.player.tag|urlfilter}}/">{{bestzvt.player.tag}}</a>
            <br/><span class="small">({{ bestzvt.rating|addf:bestzvt.rating_vt|ratscale }})</span>
        </td>
    </tr>
    <tr>
        <td>{% trans "vZ" %}</td>
        <td>
            <a href="/players/{{bestvz.player.id}}-{{bestvz.player.tag|urlfilter}}/">{{bestvz.player.tag}}</a>
            <br/><span class="small">({{ bestvz.rating|addf:bestvz.rating_vz|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestpvz.player.id}}-{{bestpvz.player.tag|urlfilter}}/">{{bestpvz.player.tag}}</a>
            <br/><span class="small">({{ bestpvz.rating|addf:bestpvz.rating_vz|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{besttvz.player.id}}-{{besttvz.player.tag|urlfilter}}/">{{besttvz.player.tag}}</a>
            <br/><span class="small">({{ besttvz.rating|addf:besttvz.rating_vz|ratscale }})</span>
        </td>
        <td>
            <a href="/players/{{bestzvz.player.id}}-{{bestzvz.player.tag|urlfilter}}/">{{bestzvz.player.tag}}</a>
            <br/><span class="small">({{ bestzvz.rating|addf:bestzvz.rating_vz|ratscale }})</span>
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="spec" style="display: none;"> 
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table class="dottedint">
    <tr>
        <td style="width: 2em;"></td>
        <td style="width: 10em; text-align: center;">{% trans "All" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Protoss" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Terran" %}</td>
        <td style="width: 10em; text-align: center;">{% trans "Zerg" %}</td>
    </tr>
    <tr>
        <td>{% trans "vP" %}</td>
        <td>
            <a href="/players/{{specvp.player.id}}-{{specvp.player.tag|urlfilter}}/">{{specvp.player.tag}}</a>
            <br/><span class="small">(+{{ specvp.rating_vp|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{specpvp.player.id}}-{{specpvp.player.tag|urlfilter}}/">{{specpvp.player.tag}}</a>
            <br/><span class="small">(+{{ specpvp.rating_vp|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{spectvp.player.id}}-{{spectvp.player.tag|urlfilter}}/">{{spectvp.player.tag}}</a>
            <br/><span class="small">(+{{ spectvp.rating_vp|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{speczvp.player.id}}-{{speczvp.player.tag|urlfilter}}/">{{speczvp.player.tag}}</a>
            <br/><span class="small">(+{{ speczvp.rating_vp|ratscalediff }})</span>
        </td>
    </tr>
    <tr>
        <td>{% trans "vT" %}</td>
        <td>
            <a href="/players/{{specvt.player.id}}-{{specvt.player.tag|urlfilter}}/">{{specvt.player.tag}}</a>
            <br/><span class="small">(+{{ specvt.rating_vt|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{specpvt.player.id}}-{{specpvt.player.tag|urlfilter}}/">{{specpvt.player.tag}}</a>
            <br/><span class="small">(+{{ specpvt.rating_vt|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{spectvt.player.id}}-{{spectvt.player.tag|urlfilter}}/">{{spectvt.player.tag}}</a>
            <br/><span class="small">(+{{ spectvt.rating_vt|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{speczvt.player.id}}-{{speczvt.player.tag|urlfilter}}/">{{speczvt.player.tag}}</a>
            <br/><span class="small">(+{{ speczvt.rating_vt|ratscalediff }})</span>
        </td>
    </tr>
    <tr>
        <td>{% trans "vZ" %}</td>
        <td>
            <a href="/players/{{specvz.player.id}}-{{specvz.player.tag|urlfilter}}/">{{specvz.player.tag}}</a>
            <br/><span class="small">(+{{ specvz.rating_vz|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{specpvz.player.id}}-{{specpvz.player.tag|urlfilter}}/">{{specpvz.player.tag}}</a>
            <br/><span class="small">(+{{ specpvz.rating_vz|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{spectvz.player.id}}-{{spectvz.player.tag|urlfilter}}/">{{spectvz.player.tag}}</a>
            <br/><span class="small">(+{{ spectvz.rating_vz|ratscalediff }})</span>
        </td>
        <td>
            <a href="/players/{{speczvz.player.id}}-{{speczvz.player.tag|urlfilter}}/">{{speczvz.player.tag}}</a>
            <br/><span class="small">(+{{ speczvz.rating_vz|ratscalediff }})</span>
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="matchup" style="display: none;"> 
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table>
    {% if pvt_wins or pvt_loss %}
    {% with p1=pvt_wins|pctg_add:pvt_loss p2=pvt_loss|pctg_add:pvt_wins %}
    <tr style="height: 2.5em;">
        <td style="width: 5em;">{% trans "PvT" %}</td>
        <td style="width: 37em;">
            <div class="progress">
                <span class="percent">{{ p1 }}%</span>
                <div class="bar" style="width: 100%; background: #88d;" title="{{ p2 }}%">
                    <div class="bar" style="width: {{ p1 }}%; background: #7c7;" title="{{ p1 }}%"></div>
                </div>
                <span class="percent percent-right">{{ p2 }}%</span>
            </div>
        </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% if pvz_wins or pvz_loss %}
    {% with p1=pvz_wins|pctg_add:pvz_loss p2=pvz_loss|pctg_add:pvz_wins %}
    <tr style="height: 2.5em;">
        <td style="width: 5em;">{% trans "PvZ" %}</td>
        <td style="width: 37em;">
            <div class="progress">
                <span class="percent">{{ p1 }}%</span>
                <div class="bar" style="width: 100%; background: #c77;" title="{{ p2 }}%">
                    <div class="bar" style="width: {{ p1 }}%; background: #7c7;" title="{{ p1 }}%"></div>
                </div>
                <span class="percent percent-right">{{ p2 }}%</span>
            </div>
        </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% if tvz_wins or tvz_loss %}
    {% with p1=tvz_wins|pctg_add:tvz_loss p2=tvz_loss|pctg_add:tvz_wins %}
    <tr style="height: 2.5em;">
        <td style="width: 5em;">{% trans "TvZ" %}</td>
        <td style="width: 37em;">
            <div class="progress">
                <span class="percent">{{ p1 }}%</span>
                <div class="bar" style="width: 100%; background: #c77;" title="{{ p2 }}%">
                    <div class="bar" style="width: {{ p1 }}%; background: #88d;" title="{{ p1 }}%"></div>
                </div>
                <span class="percent percent-right">{{ p2 }}%</span>
            </div>
        </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% if pvp_games or tvt_games or zvz_games %}
    <tr style="height: 2.5em;">
        <td style="width: 5em;">{% trans "Mirrors" %}</td>
        <td style="width: 37em;">
            <div class="progress" style="word-wrap: normal;">
                <div class="bar" style="width: 100%; background: #c77;"
                     title="{{ zvz_games|pctg_scl:tot_mirror }}%">
                    {% with tvtpvp=tvt_games|add:pvp_games %}
                    <div class="bar" style="width: {{ tvtpvp|pctg_scl:tot_mirror }}%; background: #88d;"
                         title="{{ tvt_games|pctg_scl:tot_mirror }}%">
                        <div class="bar" style="width: {{ pvp_games|pctg_scl:tvtpvp }}%; background: #7c7;"
                             title="{{ pvp_games|pctg_scl:tot_mirror }}%"></div>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </td>
    </tr>
    {% endif %}
    </table> </td> </tr> </tbody>
</table>
</td>
<td style="width: 22em; vertical-align: top;">
<div class="ibox" style="width: 22em;">
    <div class="iboxh">{% blocktrans with n=period.id %}List {{n}}{% endblocktrans %}</div>
    <div class="iboxtable">
        <div class="row">
            <div class="rowel" style="width: 11em;">{% trans "Start" %}</div>
            <div class="rower" style="width: 17em;">{{ period.start|cdate:_('F jS, Y') }}</div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "End" %}</div>
            <div class="rower">{{ period.end|cdate:_('F jS, Y') }}</div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "Active players" %}</div>
            <div class="rower">{{ period.num_retplayers|add:period.num_newplayers }} ({{ period.num_newplayers }} new)</div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "Leading race" %}</div>
            <div class="rower">
                <img src="{{ period|oprace|img }}" class="btm" alt="{{ period|oprace|racefull }}" /> 
                {{ period|oprace|racefull }} ({{ period|oppctg }}%)
            </div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "Lagging race" %}</div>
            <div class="rower">
                <img src="{{ period|uprace|img }}" class="btm" alt="{{ period|uprace|racefull }}" /> 
                {{ period|uprace|racefull}} ({{ period|uppctg }}%)
            </div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "Games" %}</div>
            <div class="rower">{{ period.num_games }}</div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "PvT" %}</div>
            <div class="rower">
                {{ pvt_wins }}–{{ pvt_loss }} ({{ pvt_wins|pctg_add:pvt_loss }}%)
            </div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "PvZ" %}</div>
            <div class="rower">
                {{ pvz_wins }}–{{ pvz_loss }} ({{ pvz_wins|pctg_add:pvz_loss }}%)
            </div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "TvZ" %}</div>
            <div class="rower">
                {{ tvz_wins }}–{{ tvz_loss }} ({{ tvz_wins|pctg_add:tvz_loss }}%)
            </div>
        </div>
        <div class="row">
            <div class="rowel">{% trans "Mirrors" %}</div>
            <div class="rower">
                {{ pvp_games }} {% trans "PvP" %}, {{ tvt_games }} {% trans "TvT" %}, {{ zvz_games }} {% trans "ZvZ" %}
            </div>
        </div>
    </div>
</div>
</td>
</tr></table>

<form method="get" action="/periods/{{ period.id }}/">
    <input type="hidden" name="page" value="{{ page }}" />
    <input type="hidden" name="sort" value="{{ sort }}" />
    <p>{% trans "Show races:" %}
    <select name="race">
        <option value="ptzrs" {% if race == "ptzrs" %}selected{% endif %}>{% trans "All" %}</option>
        <option value="p" {% if race == "p" %}selected{% endif %}>{% trans "Protoss" %}</option>
        <option value="t" {% if race == "t" %}selected{% endif %}>{% trans "Terran" %}</option>
        <option value="z" {% if race == "z" %}selected{% endif %}>{% trans "Zerg" %}</option>
        <option value="tzrs" {% if race == "tzrs" %}selected{% endif %}>{% trans "No Protoss" %}</option>
        <option value="pzrs" {% if race == "pzrs" %}selected{% endif %}>{% trans "No Terran" %}</option>
        <option value="ptrs" {% if race == "ptrs" %}selected{% endif %}>{% trans "No Zerg" %}</option>
        <option value="r" {% if race == "r" %}selected{% endif %}>{% trans "Random" %}</option>
        <option value="s" {% if race == "s" %}selected{% endif %}>{% trans "Race switchers" %}</option>
        <option value="rs" {% if race == "rs" %}selected{% endif %}>{% trans "Random and race switchers" %}</option>
    </select>
    {% trans "Nationalities:" %}
    <select name="nats">
        <option value="all" {% if nats == "all" %}selected{% endif %}>{% trans "All" %}</option>
        <option value="KR">{% trans "South Korea" %}</option>
        <option value="foreigners" {% if nats == "foreigners" %}selected{% endif %}>
            {% trans "Non-Koreans" %}
        </option>
        <option disabled>------------</option>
        {% for c in countries %}
        <option value="{{ c.cc }}" {% if nats == c.cc %}selected{% endif %}>{{ c.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans "Filter" %}" />
    </p>
</form>

{% include "ratinglist.html" with rl_pos_arrow=1 displayteams=1 %}

{% endblock %}
