{% comment %}
This is a subroutine that prints the ranking list navigation arrows on the top and bottom of each list. It
expects the arguments:

- period: The period that is being displayed.
- nperiods: The number of available periods.
- page: The page that is being displayed.
- npages: The number of available pages.
{% endcomment %}

{% load ratings_extras %}

{% if page %}
<div class="table" style="min-width: 67em;">
    <div class="row">
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if period.id > 1 %}
            <a href="/periods/{{ period.id|add:"-1" }}/?sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "prev.png"|static }}" alt="previous" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 21.5em; text-align: left;">
            {% if period.id > 1 %}
            <a href="/periods/{{ period.id|add:"-1" }}/?sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                previous period
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if page > 1 %}
            <a href="?page=1&amp;sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "first.png"|static }}" alt="first" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if page > 1 %}
            <a href="?page={{ page|add:"-1" }}&amp;sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "prev.png"|static }}" alt="previous" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 8em; text-align: center;">Page {{ page }}/{{ npages }}</div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if page < npages %}
            <a href="?page={{ page|add:"1" }}&amp;sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "next.png"|static }}" alt="next" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if page < npages %}
            <a href="?page={{ npages }}&amp;sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "last.png"|static }}" alt="last" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 21.5em; text-align: right;">
            {% if period.id < nperiods %}
            <a href="/periods/{{ period.id|add:"1" }}/?sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                next period
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if period.id < nperiods %}
            <a href="/periods/{{ period.id|add:"1" }}/?sort={{ sort }}&amp;race={{ race }}&amp;nats={{ nats }}">
                <img src="{{ "next.png"|static }}" alt="previous" class="btm" />
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
