{% extends "index.html" %}

{% comment %}
This is the template for the main player page, called from ratings.views.player.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}
{% load i18n %}

{% block title %}{{ player.tag }}{% endblock %}

{% block content %}

{% include "messages.html" %}

<script type="text/javascript">
<!--
    tables = ['alltime', 'form', 'highs', 'rivalries'];
-->
</script>

<table style="width: 67em;"><tr>
<td style="width: 42em; vertical-align: top;">
<table style="width: 42em; border-collapse: collapse;">
    <tr>
        <td class="tabsel" onclick="switch_tab('alltime', tables);" style="width: 25%;" id="alltime-tab">
            {% comment %}Translators: All-time winrates{% endcomment %}
            {% trans "all-time" %}
        </td>
        <td class="tabunsel" onclick="switch_tab('form', tables);" style="width: 25%;" id="form-tab">
            {% comment %}Translators: Recent winrates{% endcomment %}
            {% trans "form" %}
        </td>
        <td class="tabunsel" onclick="switch_tab('highs', tables);" style="width: 25%;" id="highs-tab">
            {% comment %}Translators: Highest ratings{% endcomment %}
            {% trans "highest" %}
        </td>
        <td class="tabunsel" onclick="switch_tab('rivalries', tables);" style="width: 25%;" id="rivalries-tab">
            {% trans "rivalries" %}
        </td>
    </tr>
    <tbody id="alltime">
    <tr> <td colspan="4" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">{% trans "All" %}</td>
        <td style="width: 20em;">
            <div class="progress">
                <span class="percent">
                    {{ total.0|pctg_add:total.1 }}%
                    ({{ total.0 }}/{{ total.1|add:total.0 }})
                </span>
                <div class="bar" style="width: {{ total.0|pctg_add:total.1 }}%;"></div>
            </div>
        </td>
        <td style="width: 8em;">
            {% if rating %}
            {{ rating.rating|ratscale }} ± {{ rating.dev|ratscalediff }}
            {% if rating.position %}
                <span class="small">(#{{ rating.position }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vP" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vp.0|pctg_add:vp.1 }}%
                    ({{ vp.0 }}/{{ vp.1|add:vp.0 }})
                </span>
                <div class="bar" style="width: {{ vp.0|pctg_add:vp.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vp|ratscale }} ± {{ rating|ratingdev:"P"|ratscalediff }}
            {% if rating.position_vp %}
                <span class="small">(#{{ rating.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vT" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vt.0|pctg_add:vt.1 }}%
                    ({{ vt.0 }}/{{ vt.1|add:vt.0 }})
                </span>
                <div class="bar" style="width: {{ vt.0|pctg_add:vt.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vt|ratscale }} ± {{ rating|ratingdev:"T"|ratscalediff }}
            {% if rating.position_vt %}
                <span class="small">(#{{ rating.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vZ" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vz.0|pctg_add:vz.1 }}%
                    ({{ vz.0 }}/{{ vz.1|add:vz.0 }})
                </span>
                <div class="bar" style="width: {{ vz.0|pctg_add:vz.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vz|ratscale }} ± {{ rating|ratingdev:"Z"|ratscalediff }}
            {% if rating.position_vz %}
                <span class="small">(#{{ rating.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="form" style="display: none;"> 
    <tr> <td colspan="4" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">{% trans "All" %}</td>
        <td style="width: 20em;">
            <div class="progress">
                <span class="percent">
                    {{ totalf.0|pctg_add:totalf.1 }}%
                    ({{ totalf.0 }}/{{ totalf.1|add:totalf.0 }})
                </span>
                <div class="bar" style="width: {{ totalf.0|pctg_add:totalf.1 }}%;"></div>
            </div>
        </td>
        <td style="width: 8em;">
            {% if rating %}
            {{ rating.rating|ratscale }} ± {{ rating.dev|ratscalediff }}
            {% if rating.position %}
                <span class="small">(#{{ rating.position }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vP" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vpf.0|pctg_add:vpf.1 }}%
                    ({{ vpf.0 }}/{{ vpf.1|add:vpf.0 }})
                </span>
                <div class="bar" style="width: {{ vpf.0|pctg_add:vpf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vp|ratscale }} ± {{ rating|ratingdev:"P"|ratscalediff }}
            {% if rating.position_vp %}
                <span class="small">(#{{ rating.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vT" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vtf.0|pctg_add:vtf.1 }}%
                    ({{ vtf.0 }}/{{ vtf.1|add:vtf.0 }})
                </span>
                <div class="bar" style="width: {{ vtf.0|pctg_add:vtf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vt|ratscale }} ± {{ rating|ratingdev:"T"|ratscalediff }}
            {% if rating.position_vt %}
                <span class="small">(#{{ rating.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vZ" %}</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vzf.0|pctg_add:vzf.1 }}%
                    ({{ vzf.0 }}/{{ vzf.1|add:vzf.0 }})
                </span>
                <div class="bar" style="width: {{ vzf.0|pctg_add:vzf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vz|ratscale }} ± {{ rating|ratingdev:"Z"|ratscalediff }}
            {% if rating.position_vz %}
                <span class="small">(#{{ rating.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="highs" style="display: none;"> 
    <tr> <td colspan="4" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">{% trans "All" %}</td>
        <td style="width: 12em;">
            {% if highs %}
            {{ highs.0.rating|ratscale }} 
            ± {{ highs.0.dev|ratscalediff }}
            {% if highs.0.position %}
                <span class="small">(#{{ highs.0.position }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td style="width: 20em; text-decoration: none;">
            {% if highs %}
            {% trans "on" context "on date" %}
            <a href="/periods/{{ highs.0.period.id }}/" style="text-decoration: none;">
                {{ highs.0.period.end|cdate:_('F jS, Y') }}</a>
            {% endif %}
        </td>
        <td style="width: 6em;">
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.0.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vP" %}</td>
        <td>
            {% if highs %}
            {{ highs.1.rating|addf:highs.1.rating_vp|ratscale }} 
            ± {{ highs.1|ratingdev:"P"|ratscalediff }}
            {% if highs.1.position_vp %}
                <span class="small">(#{{ highs.2.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            {% trans "on" context "on date" %}
            <a href="/periods/{{ highs.1.period.id }}/" style="text-decoration: none;">
                {{ highs.1.period.end|cdate:_('F jS, Y') }}</a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.1.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vT" %}</td>
        <td>
            {% if highs %}
            {{ highs.2.rating|addf:highs.2.rating_vt|ratscale }} 
            ± {{ highs.2|ratingdev:"T"|ratscalediff }}
            {% if highs.2.position_vt %}
                <span class="small">(#{{ highs.2.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            {% trans "on" context "on date" %}
            <a href="/periods/{{ highs.2.period.id }}/" style="text-decoration: none;">
                {{ highs.2.period.end|cdate:_('F jS, Y') }} </a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.2.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% trans "vZ" %}</td>
        <td>
            {% if highs %}
            {{ highs.3.rating|addf:highs.3.rating_vz|ratscale }} 
            ± {{ highs.3|ratingdev:"Z"|ratscalediff }}
            {% if highs.3.position_vz %}
                <span class="small">(#{{ highs.3.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            {% trans "on" context "on date" %}
            <a href="/periods/{{ highs.3.period.id }}/" style="text-decoration: none;">
                {{ highs.3.period.end|cdate:_('F jS, Y') }}</a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.3.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="rivalries" style="display: none;">
      <tr>
        <td colspan="4" style="border: solid 0.1em;">
          <table style="width: 100%;">
            {% for rival in player.rivals %}
            <tr>
              <td>
                  {% ifchanged %}{% blocktrans count player.rivals|length as cnt %}Biggest rival{% plural %}Biggest rivals{% endblocktrans %}{% endifchanged %}
              </td>
              <td>
                {% if rival.country != "" %}
                <img src="{{ rival.country|lower|img:"flags" }}" />
                {% endif %}
                <img src="{{ rival.race|img }}" class="btm"/>
                <a href="/players/{{ rival.id }}/">{{ rival.tag }}</a>
                (
                <a href="{{ player.id|vs_url:rival.id }}">
                    {% blocktrans count rival.matches as cnt %}{{ cnt }} match{% plural %}{{ cnt }} matches{% endblocktrans %}
                </a>
                )
              </td>
            </tr>
            {% endfor %}
            {% for op in player.nemesis %}
            <tr>
              <td{% ifchanged %} style="border-top: 0.1em gray dashed"{% endifchanged %}>
                  {% ifchanged %}{% blocktrans count player.nemesis|length as cnt %}Nemesis{% plural %}Nemeses{% endblocktrans %}{% endifchanged %}
              </td>
              <td{% ifchanged %} style="border-top: 0.1em gray dashed"{% endifchanged %}>
                {% if op.country != "" %}
                <img src="{{ op.country|lower|img:"flags" }}" />
                {% endif %}
                <img src="{{ op.race|img }}" class="btm"/>
                <a href="/players/{{ op.id }}/">{{ op.tag }}</a>
                (
                <a href="{{ player.id|vs_url:op.id }}">
                  {{ op.pm }}
                </a>
                )
              </td>
            </tr>
            {% endfor %}
            {% for op in player.victim %}
            <tr>
              <td{% ifchanged %} style="border-top: 0.1em gray dashed"{% endifchanged %}>
                {% ifchanged %}
                  {% ifchanged %}{% blocktrans count player.victim|length as cnt %}Victim{% plural %}Victims{% endblocktrans %}{% endifchanged %}
                <!-- This should really be Conemesis, but not every one would get it :( -->
                {% endifchanged %}
              </td>
              <td{% ifchanged %} style="border-top: 0.1em gray dashed"{% endifchanged %}>
                {% if op.country != "" %}
                <img src="{{ op.country|lower|img:"flags" }}" />
                {% endif %}
                <img src="{{ op.race|img }}" class="btm" />
                <a href="/players/{{ op.id }}/">{{ op.tag }}</a>
                (
                <a href="{{ player.id|vs_url:op.id }}">
                  +{{ op.pm }}
                </a>
                )
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </tbody>
</table>
</td>
<td style="width: 22em; vertical-align: top;">
<div class="ibox" style="width: 22em;">
    <div class="iboxh">
    {{ player.tag }}
    {% if adm %}
        (<a href="#" onclick="toggle_form('modplayer'); hide_charts(); return false;"
            title="{% trans "Edit info" %}">{% trans "edit" %}</a>,
        <a href="/admin/ratings/player/{{ player.id }}/" title="{% trans "Admin interface" %}">{% trans "admin" context "admin interface" %}</a>)
    {% endif %}
    </div>
    <div class="iboxtable">
        <div class="row">
            <div class="rowel" style="width: 11em;">{% trans "Race" %}</div>
            <div class="rower" style="width: 17em;">
                <img src="{{ player.race|img }}" class="btm" />
                {{ player.race|racefull }}
            </div>
        </div>
        {% if player.country %}
        <div class="row infobox">
            <div class="rowel">{% trans "Country" %}</div>
            <div class="rower">
                {% if player.country != "" %}
                <img src="{{ player.country|lower|img:"flags" }}" class="btm" />
                {{ countryfull }}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if player.current_rating and player.current_rating.decay < 4 %}
        {% with pid=player.current_rating.period.id %}
        <div class="row infobox">
          <div class="rowel">{% trans "Rank" %}</div>
          <div class="rower">
            <a href="/periods/{{ pid }}/">
                {% comment %}Translators: World rank.{% endcomment %}
                {% blocktrans with rank=player.world_rank %}#{{rank}} World{% endblocktrans %}
            </a>
          </div>
        </div>
        {% if player.country != "KR" %}
        <div class="row infobox">
          <div class="rowel"></div>
          <div class="rower">
            <a href="/periods/{{ pid }}/?nats=foreigners">
                {% comment %}Translators: Rank among non-Koreans.{% endcomment %}
                {% blocktrans with rank=player.foreigner_rank %}#{{rank}} Non-Korean{% endblocktrans %}
            </a>
          </div>
        </div>
        {% endif %}
        {% if player.country %}
        <div class="row infobox">
          <div class="rowel"></div>
          <div class="rower">
            <a href="/periods/{{ pid }}/?nats={{ player.country }}">
                {% comment %}Translators: Rank in a country.{% endcomment %}
                {% blocktrans with rank=player.country_rank %}#{{rank}} {{ countryfull }}{% endblocktrans %}
            </a>
          </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}
        {% if player.name %}
        <div class="row infobox">
            <div class="rowel">{% trans "Full name" %}</div>
            <div class="rower">{{ player.name }}</div>
        </div>
        {% endif %}
        {% if aliases %}
        <div class="row infobox">
            <div class="rowel">{% trans "AKA" %}</div>
            <div class="rower">{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        </div>
        {% endif %}
        {% if player.birthday %}
        <div class="row infobox">
            <div class="rowel">{% trans "Birthday" %}</div>
            <div class="rower">{{ player.birthday|cdate:_('F jS, Y') }}</div>
        </div>
        {% endif %}
        {% if team %}
        <div class="row">
            <div class="rowel">{% trans "Team" %}</div>
            <div class="rower">
                <a href="/teams/{{ team.id }}-{{ team.name|urlfilter }}/">{{ team.name }}</a>
            </div>
        </div>
        {% endif %}
        {% if first %}
        <div class="row">
            <div class="rowel">{% trans "First match" %}</div>
            <div class="rower">{{ first.date|cdate:_('F jS, Y') }}</div>
        </div>
        {% endif %}
        {% if last %}
        <div class="row">
            <div class="rowel">{% trans "Last match" %}</div>
            <div class="rower">{{ last.date|cdate:_('F jS, Y') }}</div>
        </div>
        {% endif %}
        {% if earnings %}
        <div class="row">
            <div class="rowel">{% trans "Total earnings" %}</div>
            <div class="rower">${{ earnings|add_separator }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="rowel">{% trans "Matches played" %}</div>
            <div class="rower">{{ totalmatches }} ({{ offlinematches|pctg:totalmatches }}% offline)</div>
        </div>
        {% if player.mcnum or player.mcnum == 0 %}
        <div class="row">
            <div class="rowel">{% trans "MC number" %}</div>
            <div class="rower">{{ player.mcnum }}</div>
        </div>
        {% endif %}
        {% if player.tlpd_id or player.lp_name or player.sc2e_id %}
        <div class="row infobox">
            <div class="rowel">{% trans "External" %}</div>
            <div class="rower">
                {% if player.tlpd_id %}
                    {% for tl, human in player.tlpd_db|get_tlpd_list %}
                    <a href="http://www.teamliquid.net/tlpd/{{ tl }}/players/{{ player.tlpd_id }}" target="_blank">{{ human }}</a>
                    {% endfor %}
                {% endif %}
                {% if player.sc2e_id %}
                {% comment %}Translators: SC2E = sc2earnings.com{% endcomment %}
                <a href="http://sc2earnings.com/player/{{ player.sc2e_id }}" target="_blank">{% trans "SC2E" %}</a>
                {% endif %}
                {% if player.lp_name %}
                {% comment %}Translators: LP = Liquipedia{% endcomment %}
                <a href="http://wiki.teamliquid.net/starcraft2/{{ player.lp_name }}" target="_blank">{% trans "LP" %}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</td>
</tr></table>

{% if adm %}
<div class="hiddenform" style="display: none;" id="modplayer">
<div class="close-button">
    <a href="#" onclick="$('#modplayer').hide(); return false;">{% trans "close" %}</a>
</div>
<form method="post" action="/players/{{ player.id }}-{{ player.tag|urlfilter }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% field "basic"        modform.tag        class="wideinput" %}
    {% field "select"       modform.race       class="wideinput" %}
    {% field "select"       modform.country    class="wideinput" %}
    {% field "basic"        modform.name       class="wideinput" %}
    {% field "basic"        modform.akas       class="wideinput" %}
    {% field "date"         modform.birthday   class="wideinput" %}
    {% field "basic"        modform.sc2e_id    class="wideinput" %}
    {% field "basic"        modform.lp_name    class="wideinput" %}
    {% field "basic"        modform.tlpd_id    class="wideinput" %}
    {% field "selectmulti"  modform.tlpd_db    class="wideinput" %}
    {% use "submit" name="modplayer" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

{% if charts %}
<script type="text/javascript">
    $(document).ready(function() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'spline',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: '{% blocktrans with tag=player.tag %}Rating history for {{ tag }}{% endblocktrans %}'
            },
            subtitle: {
                text: '{% trans "Click and drag to zoom" %}'
            },
            xAxis: {
                type: 'datetime',
                plotLines: [
                {% for p in patches %}
                {
                    value: {{ p.0|milliseconds }},
                    color: '#cccccc',
                    width: 2,
                    label: {
                        text: '{{ p.1 }}',
                        verticalAlign: 'bottom',
                        textAlign: 'right',
                        y: -2,
                        style: {
                            fontSize: '0.8em',
                        }
                    }
                },
                {% endfor %}]
            },
            yAxis: [{
                title: {
                    text: '{% trans "Rating" %}'
                }
            }, {
                opposite: true,
                title: {
                    text: '{% trans "Games" %}'
                }
            }],
            tooltip: {
                xDateFormat: '%B %e, %Y'
            },
            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function() {
                                if (this.hasOwnProperty('url'))
                                    window.location.href = this.url;
                            }
                        }
                    },
                    marker: {
                        enabled: false,
                        symbol: 'circle'
                    }
                },
            },
            tooltip: {
                formatter: function () {
                    return this.point.name;
                }
            },
            series: [{
                name: '{% trans "Number of games" %}',
                color: 'rgba(140,140,140,0.4)',
                lineWidth: 5,
                borderWidth: 0,
                enableMouseTracking: false,
                yAxis: 1,
                type: 'column',
                data: [{% for r in ratings %} {
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.ngames }}
                      },{% endfor %}]
            }, {
                name: '{% trans "vs. Protoss" %}',
                color: '#00dd00',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vP: {{r.bf_rating|addf:r.bf_rating_vp|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vp|ratscale }}
                      },{% endfor %}]
            }, {
                name: '{% trans "vs. Terran" %}',
                color: '#0000dd',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vT: {{r.bf_rating|addf:r.bf_rating_vt|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vt|ratscale }}
                      },{% endfor %}]
            }, {
                name: '{% trans "vs. Zerg" %}',
                color: '#dd0000',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vZ: {{r.bf_rating|addf:r.bf_rating_vz|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vz|ratscale }}
                      },{% endfor %}]
            }, {
                {% comment %}Translators: General rating{% endcomment %}
                name: '{% trans "General" %}',
                color: '#000000',
                lineWidth: 3,
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }}: {{r.bf_rating|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|ratscale }}
                      },{% endfor %}]
            }, {% if stories %}
                {
                {% comment %}Translators: Stories are the dots on a player's rating chart.{% endcomment %}
                name: '{% trans "Stories" %}',
                type: 'scatter',
                color: '#ffaa00',
                yAxis: 0,
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for s in stories %}{% if not s.skip %} {
                          name: '{{s|jsescape|safe}}<br/>{{s.date|cdate:_('F jS, Y')}}{% if s.event %}: {{s.event.fullname|jsescape|safe}}{% endif %}',
                          url: '/results/events/{{s.event.id}}-{{s.event.fullname|urlfilter|jsescape}}/',
                          x: {{ s.date|milliseconds }},
                          y: {{ s.rating|ratscale }}
                      },{% endif %}{% endfor %}]
            }, {% endif %}{% if teampoints %}
                {
                name: '{% trans "Team switches" %}',
                type: 'scatter',
                color: '#FF0000',
                yAxis: 0,
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for t in teampoints %} {
                          name: '{% for d in t.data %}{{d.date|cdate:_('F jS, Y')}}: {{player.tag|jsescape}} {{d.jol}} {{d.team.name|jsescape}}<br/>{% endfor %}',
                          x: {{ t.date|milliseconds }},
                          y: {{ t.rating|ratscale }}
                      },{% endfor %}]
            } {% endif %}]
        });
    });
</script>
<div id="chart" style="width: 67em; height: 30em; margin-top: 0em;"> </div>
{% endif %}

{% if matches %}
<h3>{% trans "Most recent results" %}</h3>
<table class="results">
{% include "matchlist.html" with lm_list=matches lm_header="info" %}
</table>
{% endif %}

{% if teammems %}
<h3>{% trans "Team history" %}</h3>
<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 30em;">{% trans "Team" %}</div>
        <div class="rowe" style="width: 30em;">{% trans "Joined" %}</div>
        <div class="rowe" style="width: 30em;">{% trans "Left" %}</div>
        <div class="rowe" style="width: 7em; text-align: right;">{% trans "Current" %}</div>
    </div>
    {% for tm in teammems %}
    <div class="row {% cycle 'row2' 'row1' %}">
        <div class="rowe">
            <a href="/teams/{{ tm.group.id }}-{{ tm.group.name|urlfilter }}/">{{ tm.group.name }}</a>
        </div>
        <div class="rowe">{{ tm.start|cdate:_('F jS, Y') }}</div>
        <div class="rowe">{{ tm.end|cdate:_('F jS, Y') }}</div>
        <div class="rowe" style="text-align: right;">
            {% if tm.current %}
                <img src="{{ "yes"|img }}" alt="yes" class="btm" />
            {% else %}
                <img src="{{ "no"|img }}" alt="yes" class="btm" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
