{% extends "index.html" %}

{% comment %}
This is the template for the earnings of a player. It's called from ratings.views.player_earnings.
{% endcomment %}

{% load ratings_extras %}
{% load humanize %}

{% block title %}{{ player.tag }} earnings{% endblock %}

{% block content %}
<h2>{{ player.tag }} earnings</h2>
<p>In total, {{ player.tag }} has earned ${{ totalearnings|add_separator }}.
{% if earningsByCurrency %}<br>Broken down by currency, that's 
{% for currency, earnings in earningsByCurrency.items %}
    {{ earnings|add_sep_and_cur:currency }}{% if forloop.revcounter == 2 %} and  
    {% elif forloop.last %}.
    {% else %}, {% endif %} 
{% endfor %}
{% endif %}</p>
<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 6em; text-align: right;">Placement</td>
        <td style="width: 0.1em;"></td>
        <td>Tournament</td>
        <td style="width: 13em; text-align: right;">Earnings</td>
        <td style="width: 2em;"></td>
        <td style="width: 19em;">Dates</td>
    </tr>
    {% for earning in earnings %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td style="text-align: right;">
            {% if earning.min != 0 %}
                {% if earning.min != earning.max %}
                    {{ earning.min|ordinal }}&ndash;{{ earning.max|ordinal }}
                {% else %}
                    {{ earning.min|ordinal }}
                {% endif %}
            {% endif %}
            </td>
            <td></td>
            <td>
                {% for event in earning.event.get_event_path %}
                    <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">{{ event.name }}</a>
                {% endfor %}
            </td>
            <td style="text-align: right;">
                {{ earning.origearnings|add_sep_and_cur:earning.currency }} 
                {% if earning.origearnings != earning.earnings %}
                    ({{ earning.earnings|add_sep_and_cur:"USD" }})
                {% endif %}
            </td>
            <td></td>
            <td>
            {% if earning.event.earliest != earning.event.latest %}
                {{ earning.event.earliest }} &ndash; {{ earning.event.latest }}
            {% else %}
                {{ earning.event.latest }}
            {% endif %}             
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
