{% extends "index.html" %}

{% comment %}
This is the template for the main player page, called from ratings.views.player.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}

{% block title %}{{ player.tag }}{% endblock %}

{% block content %}

{% include "messages.html" %}

<script type="text/javascript">
<!--
    tables = ['alltime', 'form', 'highs'];
-->
</script>

<table style="width: 67em;"><tr>
<td style="width: 42em; vertical-align: top;">
<table style="width: 42em; border-collapse: collapse;">
    <tr>
        <td class="tabsel" onclick="switch_tab('alltime', tables);" style="width: 33%;" id="alltime-tab">
            all-time
        </td>
        <td class="tabunsel" onclick="switch_tab('form', tables);" style="width: 33%;" id="form-tab">
            form
        </td>
        <td class="tabunsel" onclick="switch_tab('highs', tables);" style="width: 33%;" id="highs-tab">
            highest
        </td>
    </tr>
    <tbody id="alltime">
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">All</td>
        <td style="width: 20em;">
            <div class="progress">
                <span class="percent">
                    {{ total.0|pctg_add:total.1 }}%
                    ({{ total.0 }}/{{ total.1|add:total.0 }})
                </span>
                <div class="bar" style="width: {{ total.0|pctg_add:total.1 }}%;"></div>
            </div>
        </td>
        <td style="width: 8em;">
            {% if rating %}
            {{ rating.rating|ratscale }} ± {{ rating.dev|ratscalediff }}
            {% if rating.position %}
                <span class="small">(#{{ rating.position }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vP</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vp.0|pctg_add:vp.1 }}%
                    ({{ vp.0 }}/{{ vp.1|add:vp.0 }})
                </span>
                <div class="bar" style="width: {{ vp.0|pctg_add:vp.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vp|ratscale }} ± {{ rating|ratingdev:"P"|ratscalediff }}
            {% if rating.position_vp %}
                <span class="small">(#{{ rating.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vT</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vt.0|pctg_add:vt.1 }}%
                    ({{ vt.0 }}/{{ vt.1|add:vt.0 }})
                </span>
                <div class="bar" style="width: {{ vt.0|pctg_add:vt.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vt|ratscale }} ± {{ rating|ratingdev:"T"|ratscalediff }}
            {% if rating.position_vt %}
                <span class="small">(#{{ rating.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vZ</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vz.0|pctg_add:vz.1 }}%
                    ({{ vz.0 }}/{{ vz.1|add:vz.0 }})
                </span>
                <div class="bar" style="width: {{ vz.0|pctg_add:vz.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vz|ratscale }} ± {{ rating|ratingdev:"Z"|ratscalediff }}
            {% if rating.position_vz %}
                <span class="small">(#{{ rating.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="form" style="display: none;"> 
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">All</td>
        <td style="width: 20em;">
            <div class="progress">
                <span class="percent">
                    {{ totalf.0|pctg_add:totalf.1 }}%
                    ({{ totalf.0 }}/{{ totalf.1|add:totalf.0 }})
                </span>
                <div class="bar" style="width: {{ totalf.0|pctg_add:totalf.1 }}%;"></div>
            </div>
        </td>
        <td style="width: 8em;">
            {% if rating %}
            {{ rating.rating|ratscale }} ± {{ rating.dev|ratscalediff }}
            {% if rating.position %}
                <span class="small">(#{{ rating.position }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vP</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vpf.0|pctg_add:vpf.1 }}%
                    ({{ vpf.0 }}/{{ vpf.1|add:vpf.0 }})
                </span>
                <div class="bar" style="width: {{ vpf.0|pctg_add:vpf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vp|ratscale }} ± {{ rating|ratingdev:"P"|ratscalediff }}
            {% if rating.position_vp %}
                <span class="small">(#{{ rating.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vT</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vtf.0|pctg_add:vtf.1 }}%
                    ({{ vtf.0 }}/{{ vtf.1|add:vtf.0 }})
                </span>
                <div class="bar" style="width: {{ vtf.0|pctg_add:vtf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vt|ratscale }} ± {{ rating|ratingdev:"T"|ratscalediff }}
            {% if rating.position_vt %}
                <span class="small">(#{{ rating.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vZ</td>
        <td>
            <div class="progress">
                <span class="percent">
                    {{ vzf.0|pctg_add:vzf.1 }}%
                    ({{ vzf.0 }}/{{ vzf.1|add:vzf.0 }})
                </span>
                <div class="bar" style="width: {{ vzf.0|pctg_add:vzf.1 }}%;"></div>
            </div>
        </td>
        <td>
            {% if rating %}
            {{ rating.rating|addf:rating.rating_vz|ratscale }} ± {{ rating|ratingdev:"Z"|ratscalediff }}
            {% if rating.position_vz %}
                <span class="small">(#{{ rating.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
    <tbody id="highs" style="display: none;"> 
    <tr> <td colspan="3" style="border: solid 0.1em;"> <table style="width: 42em;">
    <tr style="height: 2.5em;">
        <td style="width: 3em;">All</td>
        <td style="width: 12em;">
            {% if highs %}
            {{ highs.0.rating|ratscale }} 
            ± {{ highs.0.dev|ratscalediff }}
            {% if highs.0.position %}
                <span class="small">(#{{ highs.0.position }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td style="width: 20em; text-decoration: none;">
            {% if highs %}
            on <a href="/periods/{{ highs.0.period.id }}/" style="text-decoration: none;">
                {{ highs.0.period.end|date:"F jS, Y" }} </a>
            {% endif %}
        </td>
        <td style="width: 6em;">
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.0.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vP</td>
        <td>
            {% if highs %}
            {{ highs.1.rating|addf:highs.1.rating_vp|ratscale }} 
            ± {{ highs.1|ratingdev:"P"|ratscalediff }}
            {% if highs.1.position_vp %}
                <span class="small">(#{{ highs.2.position_vp }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            on <a href="/periods/{{ highs.1.period.id }}/" style="text-decoration: none;">
                {{ highs.1.period.end|date:"F jS, Y" }} </a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.1.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vT</td>
        <td>
            {% if highs %}
            {{ highs.2.rating|addf:highs.2.rating_vt|ratscale }} 
            ± {{ highs.2|ratingdev:"T"|ratscalediff }}
            {% if highs.2.position_vt %}
                <span class="small">(#{{ highs.2.position_vt }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            on <a href="/periods/{{ highs.2.period.id }}/" style="text-decoration: none;">
                {{ highs.2.period.end|date:"F jS, Y" }} </a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.2.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    <tr style="height: 2.5em;">
        <td>{% if player.race in "PTZ" %}{{ player.race }}{% endif %}vZ</td>
        <td>
            {% if highs %}
            {{ highs.3.rating|addf:highs.3.rating_vz|ratscale }} 
            ± {{ highs.3|ratingdev:"Z"|ratscalediff }}
            {% if highs.3.position_vz %}
                <span class="small">(#{{ highs.3.position_vz }})</span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if highs %}
            on <a href="/periods/{{ highs.3.period.id }}/" style="text-decoration: none;">
                {{ highs.3.period.end|date:"F jS, Y" }} </a>
            {% endif %}
        </td>
        <td>
            {% if highs %}
            <a href="/players/{{ player.id }}-{{player.tag|urlfilter}}/period/{{ highs.3.period.id }}/"
               style="text-decoration: none;">→</a>
           {% endif %}
        </td>
    </tr>
    </table> </td> </tr> </tbody>
</table>
</td>
<td style="width: 22em; vertical-align: top;">
<div class="ibox" style="width: 22em;">
    <div class="iboxh">
    {{ player.tag }}
    {% if adm %}
        (<a href="#" onclick="toggle_form('modplayer'); hide_charts(); return false;"
          title="Edit info">edit</a>,
        <a href="/admin/ratings/player/{{ player.id }}/" title="Admin interface">admin</a>)
    {% endif %}
    </div>
    <div class="iboxtable">
        <div class="row">
            <div class="rowel" style="width: 11em;">Race</div>
            <div class="rower" style="width: 17em;">
                <img src="{{ player.race|imgfolder|static }}" class="btm" />
                {{ player.race|racefull }}
            </div>
        </div>
        {% if player.country %}
        <div class="row infobox">
            <div class="rowel">Country</div>
            <div class="rower">
                {% if player.country != "" %}
                <img src="{{ player.country|lower|imgfolder:"flags"|static }}" class="btm" />
                {{ countryfull }}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if player.current_rating and player.current_rating.decay < 4 %}
        {% with pid=player.current_rating.period.id %}
        <div class="row infobox">
          <div class="rowel">
            Rank
          </div>
          <div class="rower">
            <a href="/periods/{{ pid }}/">
              #{{ player.world_rank }} World
            </a>
          </div>
        </div>
        {% if player.country != "KR" %}
        <div class="row infobox">
          <div class="rowel"></div>
          <div class="rower">
            <a href="/periods/{{ pid }}/?nats=foreigners">
              #{{ player.foreigner_rank }} Non-Korean
            </a>
          </div>
        </div>
        {% endif %}
        {% if player.country %}
        <div class="row infobox">
          <div class="rowel"></div>
          <div class="rower">
            <a href="/periods/{{ pid }}/?nats={{ player.country }}">
              #{{ player.country_rank }} {{ countryfull }}
            </a>
          </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}
        {% if player.name %}
        <div class="row infobox">
            <div class="rowel">Full name</div>
            <div class="rower">{{ player.name }}</div>
        </div>
        {% endif %}
        {% if aliases %}
        <div class="row infobox">
            <div class="rowel">AKA</div>
            <div class="rower">{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        </div>
        {% endif %}
        {% if player.birthday %}
        <div class="row infobox">
            <div class="rowel">Birthday</div>
            <div class="rower">{{ player.birthday|date:"F jS, Y" }}</div>
        </div>
        {% endif %}
        {% if team %}
        <div class="row">
            <div class="rowel">Team</div>
            <div class="rower">
                <a href="/teams/{{ team.id }}-{{ team.name|urlfilter }}/">{{ team.name }}</a>
            </div>
        </div>
        {% endif %}
        {% if first %}
        <div class="row">
            <div class="rowel">First match</div>
            <div class="rower">{{ first.date|date:"F jS, Y" }}</div>
        </div>
        {% endif %}
        {% if last %}
        <div class="row">
            <div class="rowel">Last match</div>
            <div class="rower">{{ last.date|date:"F jS, Y" }}</div>
        </div>
        {% endif %}
        {% if earnings %}
        <div class="row">
            <div class="rowel">Total earnings</div>
            <div class="rower">${{ earnings|add_separator }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="rowel">Matches played</div>
            <div class="rower">{{ totalmatches }} ({{ offlinematches|pctg:totalmatches }}% offline)</div>
        </div>
        {% if player.mcnum or player.mcnum == 0 %}
        <div class="row">
            <div class="rowel">MC number</div>
            <div class="rower">{{ player.mcnum }}</div>
        </div>
        {% endif %}
        {% if player.tlpd_id or player.lp_name or player.sc2c_id or player.sc2e_id %}
        <div class="row infobox">
            <div class="rowel">External</div>
            <div class="rower">
                {% if player.sc2c_id %}
                <a href="http://www.sc2charts.net/en/edb/players/{{ player.sc2c_id }}" 
                   target="_blank">SC2C</a>
                {% endif %}
                {% if player.tlpd_id %}
                    {% for tl, human in player.tlpd_db|get_tlpd_list %}
                    <a href="http://www.teamliquid.net/tlpd/{{ tl }}/players/{{ player.tlpd_id }}"
                       target="_blank">{{ human }}</a>
                    {% endfor %}
                {% endif %}
                {% if player.sc2e_id %}
                <a href="http://sc2earnings.com/player/{{ player.sc2e_id }}" target="_blank">SC2E</a>
                {% endif %}
                {% if player.lp_name %}
                <a href="http://wiki.teamliquid.net/starcraft2/{{ player.lp_name }}" 
                   target="_blank">LP</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</td>
</tr></table>

{% if adm %}
<div class="hiddenform" style="display: none;" id="modplayer">
<div class="close-button">
    <a href="#" onclick="$('#modplayer').hide(); return false;">close</a>
</div>
<form method="post" action="/players/{{ player.id }}-{{ player.tag|urlfilter }}/">
<table class="hiddenform bigform">
{% csrf_token %}
{% form "forms.html" %}
    {% field "basic"        form.tag        class="wideinput" %}
    {% field "select"       form.race       class="wideinput" %}
    {% field "select"       form.country    class="wideinput" %}
    {% field "basic"        form.name       class="wideinput" %}
    {% field "basic"        form.akas       class="wideinput" %}
    {% field "date"         form.birthday   class="wideinput" %}
    {% field "basic"        form.sc2c_id    class="wideinput" %}
    {% field "basic"        form.sc2e_id    class="wideinput" %}
    {% field "basic"        form.lp_name    class="wideinput" %}
    {% field "basic"        form.tlpd_id    class="wideinput" %}
    {% field "selectmulti"  form.tlpd_db    class="wideinput" %}
    {% use "submit" %}
{% endform %}
</table>
</form>
</div>
{% endif %}

{% if charts %}
<script type="text/javascript">
    $(document).ready(function() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'spline',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Rating history for {{ player.tag }}'
            },
            subtitle: {
                text: 'Click and drag to zoom'
            },
            xAxis: {
                type: 'datetime',
                plotLines: [
                {% for p in patches %}
                {
                    value: {{ p.0|milliseconds }},
                    color: '#cccccc',
                    width: 2,
                    label: {
                        text: '{{ p.1 }}',
                        verticalAlign: 'bottom',
                        textAlign: 'right',
                        y: -2,
                        style: {
                            fontSize: '0.8em',
                        }
                    }
                },
                {% endfor %}]
            },
            yAxis: [{
                title: {
                    text: 'Rating'
                }
            }, {
                opposite: true,
                title: {
                    text: 'Games'
                }
            }],
            tooltip: {
                xDateFormat: '%B %e, %Y'
            },
            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function() {
                                if (this.hasOwnProperty('url'))
                                    window.location.href = this.url;
                            }
                        }
                    },
                    marker: {
                        enabled: false,
                        symbol: 'circle'
                    }
                },
            },
            tooltip: {
                formatter: function () {
                    return this.point.name;
                }
            },
            series: [{
                name: 'Games',
                color: 'rgba(140,140,140,0.4)',
                lineWidth: 5,
                borderWidth: 0,
                enableMouseTracking: false,
                yAxis: 1,
                type: 'column',
                data: [{% for r in ratings %} {
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.ngames }}
                      },{% endfor %}]
            }, {
                name: 'vs. Protoss',
                color: '#00dd00',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vP: {{r.bf_rating|addf:r.bf_rating_vp|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vp|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'vs. Terran',
                color: '#0000dd',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vT: {{r.bf_rating|addf:r.bf_rating_vt|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vt|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'vs. Zerg',
                color: '#dd0000',
                lineWidth: 1,
                dashStyle: 'Dash',
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vZ: {{r.bf_rating|addf:r.bf_rating_vz|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vz|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'General',
                color: '#000000',
                lineWidth: 3,
                enableMouseTracking: false,
                yAxis: 0,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }}: {{r.bf_rating|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|ratscale }}
                      },{% endfor %}]
            }, {% if stories %}
                {
                name: 'Stories',
                type: 'scatter',
                color: '#ffaa00',
                yAxis: 0,
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for s in stories %}{% if not s.skip %} {
                          name: '{{s.text}}<br/>{{s.date}}{% if s.event %}: {{s.event.fullname}}{% endif %}',
                          url: '/results/events/{{s.event.id}}-{{s.event.fullname|urlfilter}}/',
                          x: {{ s.date|milliseconds }},
                          y: {{ s.rating|ratscale }}
                      },{% endif %}{% endfor %}]
            }, {% endif %}{% if teampoints %}
                {
                name: 'Team switches',
                type: 'scatter',
                color: '#FF0000',
                yAxis: 0,
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for t in teampoints %} {
                          name: '{% for d in t.data %}{{d.date}}: {{player.tag}} {{d.jol}} {{d.team.name}}<br/>{% endfor %}',
                          x: {{ t.date|milliseconds }},
                          y: {{ t.rating|ratscale }}
                      },{% endfor %}]
            } {% endif %}]
        });
    });
</script>
<div id="chart" style="width: 67em; height: 30em; margin-top: 0em;"> </div>
{% endif %}

{% if matches %}
<h3>Most recent results</h3>
<table class="results">
{% include "matchlist.html" with lm_list=matches lm_header="info" %}
</table>
{% endif %}

{% if teammems %}
<h3>Team history</h3>
<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 30em;">Team</div>
        <div class="rowe" style="width: 30em;">Joined</div>
        <div class="rowe" style="width: 30em;">Left</div>
        <div class="rowe" style="width: 7em; text-align: right;">Current</div>
    </div>
    {% for tm in teammems %}
    <div class="row {% cycle 'row2' 'row1' %}">
        <div class="rowe">
            <a href="/teams/{{ tm.group.id }}-{{ tm.group.name|urlfilter }}/">{{ tm.group.name }}</a>
        </div>
        <div class="rowe">{{ tm.start|date:"F jS, Y" }}</div>
        <div class="rowe">{{ tm.end|date:"F jS, Y" }}</div>
        <div class="rowe" style="text-align: right;">
            {% if tm.current %}
                <img src="{{ "yes.png"|static }}" alt="yes" class="btm" />
            {% else %}
                <img src="{{ "no.png"|static }}" alt="yes" class="btm" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
