{% extends "index.html" %}

{% comment %}
This is the template for the earnings of a player. It's called from ratings.views.player_earnings.
{% endcomment %}

{% load ratings_extras %}
{% load humanize %}

{% block title %}{{ player.tag }} earnings{% endblock %}

{% block content %}
<h2>{{ player.tag }} earnings</h2>
<p>{{ player.tag }} has earned a total of ${{ totalearnings|add_separator }}.</p>
<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 6em; text-align: right;">Placement</td>
        <td style="width: 0.1em;"></td>
        <td>Tournament</td>
        <td style="width: 5em; text-align: right;">Earnings</td>
        <td style="width: 2em;"></td>
        <td style="width: 19em;">Dates</td>
    </tr>
    {% for earning in earnings %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td style="text-align: right;">
            {% if earning.min != earning.max %}
                {{ earning.min|ordinal }}&ndash;{{ earning.max|ordinal }}
            {% else %}
                {{ earning.min|ordinal }}
            {% endif %}
            </td>
            <td></td>
            <td>
                {% for event in earning.event.get_event_path %}
                    <a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">{{ event.name }}</a>
                {% endfor %}
            </td>
            <td style="text-align: right;">${{ earning.earnings|add_separator }}</td>
            <td></td>
            <td>
            {% if earning.earliest != earning.latest %}
            	{{ earning.earliest }} &ndash; {{ earning.latest }}
			{% else %}
            	{{ earning.latest }}
			{% endif %}             
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
