{% extends "index.html" %}

{% load ratings_extras %}
{% load i18n %}

{% block title %}{% trans "Recent player transfers" %}{% endblock %}

{% block content %}
<table class="results">
    <tr class="header">
        <td class="rl_name" style="width: 8em;">{% trans "Player" %}</td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        {% comment %}Translators: As in "to leave", not "not right".{% endcomment %}
        <td class="rl_name" style="width: 20em; text-align: right;">{% trans "Left" %}</td>
        <td class="rl_name" style="width: 2em; text-align: center;"></td>
        <td class="rl_name" style="width: 20em;">{% trans "Joined" %}</td>
        <td class="lm_date" style="width: 12em;">{% trans "Date" %}</td>
    </tr>
    {% for trade in trades %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
    <td class="rl_name">
        <a href="/players/{{ trade.player.id }}-{{ trade.player.tag|urlfilter }}/">{{ trade.player.tag }}</a>
    </td>
    <td class="rl_icon">
        {% if trade.player.country %}
        <img src="{{ trade.player.country|lower|img:"flags" }}" alt="{{ trade.player.country }}" />
        {% endif %}
    </td>
    <td class="rl_icon">
        <img src="{{ trade.player.race|img }}" alt="{{ trade.player.race }}" class="btm" />
    </td>
    <td style="text-align: right;">
        {% if trade.left %}
        <a href="/teams/{{ trade.left.id }}-{{ trade.left.name|urlfilter }}/">
            {{ trade.left.name }}
        </a>
        {% endif %}
    </td>
    <td style="text-align: center;">
        →
    </td>
    <td>
        {% if trade.joined %}
        <a href="/teams/{{ trade.joined.id }}-{{ trade.joined.name|urlfilter }}/">
            {{ trade.joined.name }}
        </a>
        {% endif %}
    </td>
    <td class="lm_date">{{ trade.date }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
