{% extends "index.html" %}

{% comment %}
This is the template for the main player page, called from ratings.views.player.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ player.tag }}{% endblock %}

{% block content %}
    <h2>{{ player.tag }}</h2>
    <form method="post" action="/players/{{ player.id }}-{{ player.tag|urlfilter }}/">
    {% csrf_token %}
    <div class="ibox" style="width: 25em;">
        <div class="iboxh">
            {{ player.tag }}
            {% if adm %} 
            (<a href="#" onclick="toggle_infobox(); hide_charts(); return false;">edit</a>, 
            <a href="/admin/ratings/player/{{ player.id }}/">admin</a>)
            {% endif %}
        </div>
        <div class="iboxtable">
            {% if adm %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">Player tag</div>
                    <div class="rower"><input type="text" name="tag" value="{{ player.tag }}" /></div>
                </div>
            {% endif %}
            <div class="row">
                <div class="rowel" style="width: 10em;">Race</div>
                <div class="rower" style="width: 20em;">
                    <img src="{{ player.race|imgfolder|static }}" class="btm" />
                    {{ player.race|racefull }}
                </div>
            </div>
            {% if player.country != "" %}
            <div class="row infobox">
                <div class="rowel">Country</div>
                <div class="rower">
                    {% if player.country != "" %}
                    <img src="{{ player.country|lower|imgfolder:"flags"|static }}" class="btm" />
                    {{ countryfull }}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if adm %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">Country</div>
                    <div class="rower">
                        <select name="country">
                            {% for country in countries %}
                            <option value="{{ country.2 }}" 
                                {% ifequal country.2 player.country %}selected{% endifequal %}>
                                {{ country.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
            {% if player.name %}
            <div class="row infobox">
                <div class="rowel">Full name</div>
                <div class="rower">{{ player.name }}</div>
            </div>
            {% endif %}
            {% if adm %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">Full name</div>
                    <div class="rower"><input type="text" name="fullname" {% if player.name %}value="{{ player.name }}"{% endif %} /></div>
                </div>
            {% endif %}
            {% if aliases %}
            <div class="row infobox">
                <div class="rowel">AKA</div>
                <div class="rower">{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            </div>
            {% endif %}
            {% if adm %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">AKA</div>
                    <div class="rower"><input type="text" name="AKA"
                            {% if aliases%} value=
                                "{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %}, {% endif %}{% endfor %}"
                            {% endif %} /></div>
                </div>
            {% endif %}
            {% if player.birthday %}
            <div class="row infobox">
                <div class="rowel">Birthday</div>
                <div class="rower">{{ player.birthday|date:"F jS, Y" }}</div>
            </div>
            {% endif %}
            {% if adm %}
                <div class="row edit" style="display: none;">
                <div class="rowel">Birthday</div>
                <div class="rower"><input type="text" name="birthday" class="date" id="date"
                                    value="{% if player.birthday %}{{ player.birthday|date:"Y-m-d" }}{% endif %}" />
                    <script type="text/javascript" src="/js/datepicker.js" /></script>
                    <script type="text/javascript">
                        // <![CDATA[  
                        var opts = {                            
                        formElements:{"date":"Y-ds-m-ds-d"},
                            statusFormat:"l-cc-sp-d-sp-F-sp-Y", 
                        };           
                        datePickerController.createDatePicker(opts);
                        // ]]>
                    </script></div>
                </div>
            {% endif %}
            {% if team %}
            <div class="row">
                <div class="rowel">Team</div>
                <div class="rower"><a href="/teams/{{ team.id }}-{{ team.name|urlfilter }}/">{{ team.name }}</a></div>
            </div>
            {% endif %}
            {% if first %}
            <div class="row">
                <div class="rowel">First match</div>
                <div class="rower">{{ first.date|date:"F jS, Y" }}</div>
            </div>
            {% endif %}
            {% if last %}
            <div class="row">
                <div class="rowel">Last match</div>
                <div class="rower">{{ last.date|date:"F jS, Y" }}</div>
            </div>
            {% endif %}
            {% if earnings %}
            <div class="row">
                <div class="rowel">Total earnings</div>
                <div class="rower">${{ earnings|add_separator }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="rowel">Matches played</div>
                <div class="rower">{{ totalmatches }}</div>
            </div>
            <div class="row">
                <div class="rowel">Offline matches</div>
                <div class="rower">{{ offlinematches|pctg3:totalmatches }}%</div>
            </div>
            {% if player.goodynum or player.goodynum == 0 %}
            <div class="row">
                <div class="rowel">MC number</div>
                <div class="rower">{{ player.goodynum }}</div>
            </div>
            {% endif %}
            {% if player.tlpd_id or player.lp_name or player.sc2c_id or player.sc2e_id %}
                <div class="row infobox">
                    <div class="rowel">External</div>
                    <div class="rower">
                        {% if player.sc2c_id %}
                        <a href="http://www.sc2charts.net/en/edb/players/{{ player.sc2c_id }}" target="_blank">SC2C</a>
                        {% endif %}
                        {% with tlpds=player.get_tlpd_id %}
                        	{% if tlpds.KR %}
	                        <a href="http://www.teamliquid.net/tlpd/sc2-korean/players/{{ tlpds.KR }}" target="_blank">TLPD:KR</a>
                        	{% endif %}
                        	{% if tlpds.IN %}
	                        <a href="http://www.teamliquid.net/tlpd/sc2-international/players/{{ tlpds.IN }}" target="_blank">TLPD:IN</a>
                        	{% endif %}
                        	{% if tlpds.HotS %}
	                        <a href="http://www.teamliquid.net/tlpd/hots/players/{{ tlpds.HotS }}" target="_blank">TLPD:HotS</a>
                        	{% endif %}
                        	{% if tlpds.HotSbeta %}
	                        <a href="http://www.teamliquid.net/tlpd/hots-beta/players/{{ tlpds.HotSbeta }}" target="_blank">TLPD:HotS beta</a>
                        	{% endif %}
                        {% endwith %}
                        {% if player.sc2e_id %}
                        <a href="http://sc2earnings.com/player/{{ player.sc2e_id }}" target="_blank">SC2E</a>
                        {% endif %}
                        {% if player.lp_name %}
                        <a href="http://wiki.teamliquid.net/starcraft2/{{ player.lp_name }}" target="_blank">LP</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if adm %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">sc2charts.net</div>
                    <div class="rower"><input type="number" name="SC2C" {% if player.sc2c_id %}value="{{ player.sc2c_id }}"{% endif %} /></div>
                </div>
                <div class="row edit" style="display: none;">
                    <div class="rowel">TLPD ID</div>
                    <div class="rower"><input type="number" name="TLPD" {% if player.tlpd_id %}value="{{ player.tlpd_id }}"{% endif %} /></div>
                </div>
				{% with tlpds=player.get_tlpd_id %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">TLPD Databases</div>
                    <div class="rower">
                    	<label for="TLPDKR">Korea</label>
                    	<input type="checkbox" id="TLPDKR" name="TLPDKR" value="TLPDKR" {% if tlpds.KR %}checked{% endif %}>
                    	<label for="TLPDIN">International</label>
                    	<input type="checkbox" id="TLPDIN" name="TLPDIN" value="TLPDIN" {% if tlpds.IN %}checked{% endif %}><br>
                    	<label for="TLPDHOTS">HotS</label>
                    	<input type="checkbox" id="TLPDHOTS" name="TLPDHOTS" value="TLPDHOTS" {% if tlpds.HotS %}checked{% endif %}>
                    	<label for="TLPDHOTSBETA">HotS beta</label>
                    	<input type="checkbox" id="TLPDHOTSBETA" name="TLPDHOTSBETA" value="TLPDHOTSBETA" {% if tlpds.HotSbeta %}checked{% endif %}>
                    </div>
                </div>
				{% endwith %}
                <div class="row edit" style="display: none;">
                    <div class="rowel">sc2earnings.com</div>
                    <div class="rower"><input type="number" name="SC2E" {% if player.sc2e_id %}value="{{ player.sc2e_id }}"{% endif %} /></div>
                </div>
                <div class="row edit" style="display: none;">
                    <div class="rowel">Liquipedia</div>
                    <div class="rower"><input type="text" name="LP" {% if player.lp_name %}value="{{ player.lp_name }}"{% endif %} /></div>
                </div>
                <div class="row edit" style="display: none;">
                    <div class="rowel"></div>
                    <div class="rower"><input type="submit" name="op" value="Submit" /></div>
                </div>
            {% endif %}
        </div>
    </div>
    </form>

{% if message %}
	<p>{{ message }}</p>
{% endif %}
{% if rating %}
<p>Standings:</p>

<div class="table" style="width: 30em;">
    <div class="row">
        <div class="rowel" style="width: 10em;">General</div>
        <div class="rower" style="width: 10em;">{{ rating.rating|ratscale }} 
            ± {{ rating.dev|ratscaled }}
            {% if rating.position %}
                <span class="small">(#{{ rating.position }})</span>
            {% endif %}
        </div>
        <div class="rower" style="width: 10em">
            {% if total %}
            {{ total.0 }}/{{ total.1|add:total.0 }}
            <span class="small">({{ total.0|pctg:total.1 }}%)</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="rowel">vP</div>
        <div class="rower">{{ rating.rating|addf:rating.rating_vp|ratscale }} 
            ± {{ rating|devrange:"P"|ratscaled }}
            {% if rating.position_vp %}
                <span class="small">(#{{ rating.position_vp }})</span>
            {% endif %}
        </div>
        <div class="rower">
            {% if vp %}
            {{ vp.0 }}/{{ vp.1|add:vp.0 }}
            <span class="small">({{ vp.0|pctg:vp.1 }}%)</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="rowel">vT</div>
        <div class="rower">{{ rating.rating|addf:rating.rating_vt|ratscale }} 
            ± {{ rating|devrange:"T"|ratscaled }}
            {% if rating.position_vt %}
                <span class="small">(#{{ rating.position_vt }})</span>
            {% endif %}
        </div>
        <div class="rower">
            {% if vt %}
            {{ vt.0 }}/{{ vt.1|add:vt.0 }}
            <span class="small">({{ vt.0|pctg:vt.1 }}%)</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="rowel">vZ</div>
        <div class="rower">{{ rating.rating|addf:rating.rating_vz|ratscale }} 
            ± {{ rating|devrange:"Z"|ratscaled }}
            {% if rating.position_vz %}
                <span class="small">(#{{ rating.position_vz }})</span>
            {% endif %}
        </div>
        <div class="rower">
            {% if vz %}
            {{ vz.0 }}/{{ vz.1|add:vz.0 }}
            <span class="small">({{ vz.0|pctg:vz.1 }}%)</span>
            {% endif %}
        </div>
    </div>
</div>

<p>Career highs:</p>

<div class="table" style="width: 30em;">
    <div class="row">
        <div class="rowel" style="width: 10em;">General</div>
        <div class="rower" style="width: 10em;">{{ highs.0.rating|ratscale }} 
            ± {{ highs.0.dev|ratscaled }}
            {% if highs.0.position %}
                <span class="small">(#{{ highs.0.position }})</span>
            {% endif %}
        </div>
        <div class="rower" style="width: 10em">
            <a href="/periods/{{ highs.0.period.id }}/">{{ highs.0.period.end }}</a>
        </div>
    </div>
    <div class="row">
        <div class="rowel">vP</div>
        <div class="rower">{{ highs.1.rating|addf:highs.1.rating_vp|ratscale }} 
            ± {{ highs.1|devrange:"P"|ratscaled }}
            {% if highs.1.position_vp %}
                <span class="small">(#{{ highs.1.position_vp }})</span>
            {% endif %}
        </div>
        <div class="rower">
            <a href="/periods/{{ highs.1.period.id }}/">{{ highs.1.period.end }}</a>
        </div>
    </div>
    <div class="row">
        <div class="rowel">vT</div>
        <div class="rower">{{ highs.2.rating|addf:highs.2.rating_vt|ratscale }} 
            ± {{ highs.2|devrange:"T"|ratscaled }}
            {% if highs.2.position_vt %}
                <span class="small">(#{{ highs.2.position_vt }})</span>
            {% endif %}
        </div>
        <div class="rower">
            <a href="/periods/{{ highs.2.period.id }}/">{{ highs.2.period.end }}</a>
        </div>
    </div>
    <div class="row">
        <div class="rowel">vZ</div>
        <div class="rower">{{ highs.3.rating|addf:highs.3.rating_vz|ratscale }} 
            ± {{ highs.3|devrange:"Z"|ratscaled }}
            {% if highs.3.position_vz %}
                <span class="small">(#{{ highs.3.position_vz }})</span>
            {% endif %}
        </div>
        <div class="rower">
            <a href="/periods/{{ highs.3.period.id }}/">{{ highs.3.period.end }}</a>
        </div>
    </div>
</div>

{% if charts %}
<script type="text/javascript">
    $(document).ready(function() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'spline',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Rating history for {{ player.tag }}'
            },
            subtitle: {
                text: 'Click and drag to zoom'
            },
            xAxis: {
                type: 'datetime',
                plotLines: [
                {% for p in patches %}
                {
                    value: {{ p.0|milliseconds }},
                    color: '#cccccc',
                    width: 2,
                    label: {
                        text: '{{ p.1 }}',
                        verticalAlign: 'bottom',
                        textAlign: 'right',
                        y: -2,
                        style: {
                            fontSize: '0.8em',
                        }
                    }
                },
                {% endfor %}]
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                xDateFormat: '%B %e, %Y'
            },
            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function() {
                                if (this.hasOwnProperty('url'))
                                    window.location.href = this.url;
                            }
                        }
                    },
                    marker: {
                        enabled: false,
                        symbol: 'circle'
                    }
                },
            },
            tooltip: {
                formatter: function () {
                    return this.point.name;
                }
            },
            series: [{
                name: 'vs. Protoss',
                color: '#00dd00',
                lineWidth: 1,
                dashStyle: 'Dash',
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vP: {{r.bf_rating|addf:r.bf_rating_vp|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vp|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'vs. Terran',
                color: '#0000dd',
                lineWidth: 1,
                dashStyle: 'Dash',
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vT: {{r.bf_rating|addf:r.bf_rating_vt|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vt|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'vs. Zerg',
                color: '#dd0000',
                lineWidth: 1,
                dashStyle: 'Dash',
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }} vZ: {{r.bf_rating|addf:r.bf_rating_vz|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|addf:r.bf_rating_vz|ratscale }}
                      },{% endfor %}]
            }, {
                name: 'General',
                color: '#000000',
                lineWidth: 3,
                data: [{% for r in ratings %} {
                          name: '{{ r.period.end }}: {{r.bf_rating|ratscale }}',
                          x: {{ r.period.end|milliseconds }},
                          y: {{ r.bf_rating|ratscale }}
                      },{% endfor %}]
            }, {% if stories %}
                {
                name: 'Stories',
                type: 'scatter',
                color: '#ffaa00',
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for s in stories %} {
                          name: '{{s.text}}<br/>{{s.date}}{% if s.event %}: {{s.event.fullname}}{% endif %}',
                          url: '/results/events/{{s.event.id}}-{{s.event.fullname|urlfilter}}/',
                          x: {{ s.date|milliseconds }},
                          y: {{ s.rating|ratscale }}
                      },{% endfor %}]
            } {% endif %}
            {% if teampoints %}
                {
                name: 'Team switches',
                type: 'scatter',
                color: '#FF0000',
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 5
                },
                data: [{% for t in teampoints %} {
                          name: '{% for d in t.data %}{{d.date}}: {{player.tag}} {{d.jol}} {{d.team.name}}<br/>{% endfor %}',
                          x: {{ t.date|milliseconds }},
                          y: {{ t.rating|ratscale }}
                      },{% endfor %}]
            } {% endif %}]
        });
    });
</script>
<div id="chart" style="width: 67em; height: 30em; margin-top: 2em;"> </div>
{% endif %}
{% endif %}

<h3>More information</h3>
<ul>
{% if rating %}
<li><a href="/players/{{ player.id }}-{{ player.tag }}/historical/">Rating history</a></li>
<li><a href="/players/{{ player.id }}-{{ player.tag }}/period/{{ recentchange.period.id }}/">Recent rating adjustments</a></li>
{% endif %}
<li><a href="/players/{{ player.id }}-{{ player.tag }}/results/">Match history</a></li>
{% if earnings %}
<li><a href="/players/{{ player.id }}-{{ player.tag }}/earnings/">Earnings</a></li>
{% endif %}
</ul>

{% if matches %}
<h3>Most recent results</h3>
<table class="results">
{% include "matchlist.html" with lm_list=matches lm_header="info" %}
</table>
{% endif %}

{% if teammems %}
<h3>Team history</h3>
<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 30em;">Team</div>
        <div class="rowe" style="width: 30em;">Joined</div>
        <div class="rowe" style="width: 30em;">Left</div>
        <div class="rowe" style="width: 7em; text-align: right;">Current</div>
    </div>
    {% for tm in teammems %}
    <div class="row {% cycle 'row2' 'row1' %}">
        <div class="rowe">
            <a href="/teams/{{ tm.team.id }}-{{ tm.team.name|urlfilter }}/">{{ tm.team.name }}</a>
        </div>
        <div class="rowe">{{ tm.start|date:"F jS, Y" }}</div>
        <div class="rowe">{{ tm.end|date:"F jS, Y" }}</div>
        <div class="rowe" style="text-align: right;">
            {% if tm.current %}
                <img src="{{ "yes.png"|static }}" alt="yes" class="btm" />
            {% else %}
                <img src="{{ "no.png"|static }}" alt="yes" class="btm" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
