{% extends "index.html" %}

{% comment %}
This is the prediction page for single elimination brackets. It's called from ratings.predict.pred_sebracket.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Single elimination bracket{% endblock %}

{% block content %}

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 2.5em; text-align: right;">#</td>
        <td style="width: 10em;">Player</td>
        <td style="width: 1em;"></td>
        <td style="width: 1em;"></td>
        {% for t in table.0.probs %}
        <td style="width: 8em; text-align: right;">
            {% if forloop.first %}Win{%else %}Top {{ 2|pow:forloop.counter0 }}{% endif %}
        </td>
        {% endfor %}
    </tr>
    {% for e in table %}
    {% if e.player.id %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td style="text-align: right;">
            {{ forloop.counter }}.
        </td>
        <td>
            <a href="/players/{{ e.player.id }}-{{ e.player.tag|urlfilter }}/">
                {{ e.player.tag }}
            </a>
        </td>
        <td>
        {% if e.player.country != "" %}
        <img src="{{ e.player.country|lower|imgfolder:"flags"|static }}" alt="{{ e.player.country }}" />
        {% endif %}
        </td>
        <td>
            <img src="{{ e.player.race|imgfolder|static }}" alt="{{ e.player.race }}" class="btm" />
        </td>
        {% for t in e.probs %}
        <td style="text-align: right;">
            {% if t > 0 %}{{ t|pctg_one }}%{% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

<h3>Median outcome</h3>

<p>This is the median outcome <em>assuming the already entered results</em>.</p>

<table class="results">
{% include "matchlist.html" with lm_list=meanres lm_header="custom" lm_noright=True %}
</table>

<h3>Update bracket progress</h3>

<p>To modify a result, click on the score in the table below. To view detailed predictions for a match, click
the arrow.</p>

<form method="get" action="/inference/sebracket/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="custom" lm_predict=True %}
    </table>
    <div style="margin-top: 0.2em; text-align: right;">
        <input type="submit" value="Update results" />
    </div>
</form>
<div style="margin-top: 0.2em; text-align: right;">
    <form method="get" action="/inference/sebracket/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <input type="submit" value="Clear results" />
    </form>
</div>

<h3>Postable</h3>

<script type="text/javascript">
<!--
    var togs = ['tl', 'reddit', 'bracketreddit'];
//-->
</script>

<div id="tl">
    <textarea style="width: 100%;" rows="10">{{ postable_tl }}</textarea>
</div>
<div id="reddit" style="display: none;">
    <textarea style="width: 100%;" rows="10">{{ postable_reddit }}</textarea>
</div>
<div id="bracketreddit" style="display: none;">
    <textarea style="width: 100%;" rows="10">{{ postable_bracket_reddit }}</textarea>
</div>

<a href="#" onclick="switch_to('tl',togs); return false;">Team Liquid (all)</a>,
<a href="#" onclick="switch_to('reddit',togs); return false;">Reddit (table)</a>,
<a href="#" onclick="switch_to('bracketreddit',togs); return false;">Reddit (median bracket)</a>.</p>

{% endblock %}
