{% extends "index.html" %}

{% comment %}
This is the prediction page for BoN matches. It's called from ratings.predict.pred_match.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ dbpl.0.tag }} vs. {{ dbpl.1.tag }}{% endblock %}

{% block content %}
    <h2>{{ dbpl.0.tag }} vs. {{ dbpl.1.tag }}</h2>

    <p>Verdict: 
    {% if   max <= 0.55 %}Even chances.
    {% elif max <= 0.65 %}Slight advantage for {{ fav.tag }}.
    {% elif max <= 0.75 %}Advantage for {{ fav.tag }}.
    {% elif max <= 0.90 %}Large advantage for {{ fav.tag }}.
    {% else %}Overwhelming advantage for {{ fav.tag }}.{% endif %}</p>

    <table class="results" style="width: 67em;">
        <tr class="header">
            <td style="width: 26em; text-align: right;">
                ({{ rta|ratscale }}) 
                <a href="/players/{{ dbpl.0.id }}-{{ dbpl.0.tag|urlfilter }}/">
                    {{ dbpl.0.tag }}</a>
            </td>
            <td style="width: 5em;">
                <img src="{{ dbpl.0.country|lower|imgfolder:"flags"|static }}" alt="{{ dbpl.0.country }}" />
                <img src="{{ dbpl.0.race|add:"m"|imgfolder|static }}" alt="{{ dbpl.0.race|racefull }}" class="btm" />
            </td>
            <td style="width: 5em; text-align: center;">
                {{ match.get_result.0 }}–{{ match.get_result.1 }}
            </td>
            <td style="width: 5em; text-align: right;">
                <img src="{{ dbpl.1.race|add:"m"|imgfolder|static }}" alt="{{ dbpl.1.race|racefull }}" class="btm" />
                <img src="{{ dbpl.1.country|lower|imgfolder:"flags"|static }}" alt="{{ dbpl.1.country }}" />
            </td>
            <td style="width: 26em;">
                <a href="/players/{{ dbpl.1.id }}-{{ dbpl.1.tag|urlfilter }}/">
                    {{ dbpl.1.tag }}</a>
                ({{ rtb|ratscale }})
            </td>
        </tr>
        {% for r in res %}
        {% if r.0 or r.1 %}
        <tr class="nonheader {% cycle 'row2' 'row1' %}">
            <td style="text-align: right; padding-right: 2em;">
                {% if r.0 %}{{ r.0.prob|pctg_one }}%{% endif %}
            </td>
            <td style="text-align: left;">
                {% if r.0 %}{{ r.0.sca }}–{{ r.0.scb }}{% endif %}
            </td>
            <td></td>
            <td style="text-align: right;">
                {% if r.1 %}{{ r.1.sca }}–{{ r.1.scb }}{% endif %}
            </td>
            <td style="padding-left: 2em;">
                {% if r.1 %}{{ r.1.prob|pctg_one }}%{% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="header">
            <td style="text-align: right; padding-right: 2em;">{{ proba|pctg_one }}%</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding-left: 2em;">{{ probb|pctg_one }}%</td>
        </tr>
        <tr class="nonheader row2">
            <td style="text-align: right; padding-right: 2em;">
            {% if tot_w_a|pctg_add_f:tot_l_a > tot_w_b|pctg_add_f:tot_l_b %}<strong>{% endif %}
                {{ tot_w_a }}–{{ tot_l_a }} ({{ tot_w_a|pctg_add:tot_l_a }}%)
            {% if tot_w_a|pctg_add_f:tot_l_a > tot_w_b|pctg_add_f:tot_l_b %}</strong>{% endif %}
            </td>
            <td style="text-align: center;" colspan="3">Historical score</td>
            <td style="padding-left: 2em;">
            {% if tot_w_a|pctg_add_f:tot_l_a < tot_w_b|pctg_add_f:tot_l_b %}<strong>{% endif %}
                ({{ tot_w_b|pctg_add:tot_l_b }}%) {{ tot_w_b }}–{{ tot_l_b }} 
            {% if tot_w_a|pctg_add_f:tot_l_a < tot_w_b|pctg_add_f:tot_l_b %}</strong>{% endif %}
            </td>
        </tr>
        <tr class="nonheader row1">
            <td style="text-align: right; padding-right: 2em;">
            {% if mu_w_a|pctg_add_f:mu_l_a > mu_w_b|pctg_add_f:mu_l_b %}<strong>{% endif %}
                {{ mu_w_a }}–{{ mu_l_a }} ({{ mu_w_a|pctg_add:mu_l_a }}%)
            {% if mu_w_a|pctg_add_f:mu_l_a > mu_w_b|pctg_add_f:mu_l_b %}</strong>{% endif %}
            </td>
            <td style="text-align: center;" colspan="3">Score vs. opposing race</td>
            <td style="padding-left: 2em;">
            {% if mu_w_a|pctg_add_f:mu_l_a < mu_w_b|pctg_add_f:mu_l_b %}<strong>{% endif %}
                ({{ mu_w_b|pctg_add:mu_l_b }}%) {{ mu_w_b }}–{{ mu_l_b }} 
            {% if mu_w_a|pctg_add_f:mu_l_a < mu_w_b|pctg_add_f:mu_l_b %}</strong>{% endif %}
            </td>
        </tr>
        <tr class="nonheader row2">
            <td style="text-align: right; padding-right: 2em;">
            {% if frm_w_a|pctg_add_f:frm_l_a > frm_w_b|pctg_add_f:frm_l_b %}<strong>{% endif %}
                {{ frm_w_a }}–{{ frm_l_a }} ({{ frm_w_a|pctg_add:frm_l_a }}%)
            {% if frm_w_a|pctg_add_f:frm_l_a > frm_w_b|pctg_add_f:frm_l_b %}</strong>{% endif %}
            </td>
            <td style="text-align: center;" colspan="3">Form</td>
            <td style="padding-left: 2em;">
            {% if frm_w_a|pctg_add_f:frm_l_a < frm_w_b|pctg_add_f:frm_l_b %}<strong>{% endif %}
                ({{ frm_w_b|pctg_add:frm_l_b }}%) {{ frm_w_b }}–{{ frm_l_b }} 
            {% if frm_w_a|pctg_add_f:frm_l_a < frm_w_b|pctg_add_f:frm_l_b %}</strong>{% endif %}
            </td>
        </tr>
        <tr class="nonheader row1">
            <td style="text-align: right; padding-right: 2em;">
            {% if fmu_w_a|pctg_add_f:fmu_l_a > fmu_w_b|pctg_add_f:fmu_l_b %}<strong>{% endif %}
                {{ fmu_w_a }}–{{ fmu_l_a }} ({{ fmu_w_a|pctg_add:fmu_l_a }}%)
            {% if fmu_w_a|pctg_add_f:fmu_l_a > fmu_w_b|pctg_add_f:fmu_l_b %}</strong>{% endif %}
            </td>
            <td style="text-align: center;" colspan="3">Form vs. opposing race</td>
            <td style="padding-left: 2em;">
            {% if fmu_w_a|pctg_add_f:fmu_l_a < fmu_w_b|pctg_add_f:fmu_l_b %}<strong>{% endif %}
                ({{ fmu_w_b|pctg_add:fmu_l_b }}%) {{ fmu_w_b }}–{{ fmu_l_b }} 
            {% if fmu_w_a|pctg_add_f:fmu_l_a < fmu_w_b|pctg_add_f:fmu_l_b %}</strong>{% endif %}
            </td>
        </tr>
        <tr class="nonheader row2">
            <td style="text-align: right; padding-right: 2em;">
            {% if vs_a > vs_b %}<strong>{% endif %}
                {{ vs_a }}–{{ vs_b }} ({{ vs_a|pctg_add:vs_b }}%)
            {% if vs_a > vs_b %}</strong>{% endif %}
            </td>
            <td style="text-align: center;" colspan="3">Score vs. each other</td>
            <td style="padding-left: 2em;">
            {% if vs_a < vs_b %}<strong>{% endif %}
                ({{ vs_b|pctg_add:vs_a }}%) {{ vs_b }}–{{ vs_a }} 
            {% if vs_a < vs_b %}</strong>{% endif %}
            </td>
        </tr>
    </table>
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="fixed" lm_fixedheader="Match history" lm_autohide=True %}
    </table>

    <h3>Update match progress</h3>

    <form method="get" action="/inference/match/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <table class="bigform">
        <tr>
            <td class="form_left">Score for {{ dbpl.0.tag }}</td>
            <td class="form_right">
                <input name="s1" type="text" class="narrowform" value="{{ match.get_result.0 }}" />
            </td>
        </tr>
        <tr>
            <td class="form_left">Score for {{ dbpl.1.tag }}</td>
            <td class="form_right">
                <input name="s2" type="text" class="narrowform" value="{{ match.get_result.1 }}" />
            </td>
        </tr>
        <tr>
            <td class="form_left"></td>
            <td class="form_right">
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
    <!--
        var togs = ['tl', 'reddit'];
    //-->
    </script>

    <h3>Postable</h3>

    <div id="tl">
        <textarea style="width: 100%;" rows="10">{{ postable_tl }}</textarea>
    </div>
    <div id="reddit" style="display: none;">
        <textarea style="width: 100%;" rows="10">{{ postable_reddit }}</textarea>
    </div>

    <p>Formats: 
    <a href="#" onclick="switch_to('tl',togs); return false;">Team Liquid</a>,
    <a href="#" onclick="switch_to('reddit',togs); return false;">Reddit</a>.</p>

{% endblock %}
