{% extends "index.html" %}

{% comment %}
This is the prediction page for single elimination brackets. It's called from ratings.predict.pred_sebracket.
{% endcomment %}

{% load ratings_extras %}
{% load humanize %}

{% block title %}Round robin group{% endblock %}

{% block content %}
<h2>Round robin group</h2>

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 2.5em; text-align: right;">#</td>
        <td style="width: 10em;">Player</td>
        <td style="width: 1em;"></td>
        <td style="width: 1em;"></td>
        {% for t in players.0.tally %}
        <td style="width: 8em; text-align: right;">
            {{ forloop.counter|ordinal }}
        </td>
        {% endfor %}
    </tr>
    {% for p in players %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td style="text-align: right;">
            {{ forloop.counter }}.
        </td>
        <td>
            <a href="/players/{{ p.dbpl.id }}-{{ p.dbpl.tag|urlfilter }}/">{{ p.dbpl.tag }}</a>
        </td>
        <td>
            {% if p.dbpl.country != "" %}
            <img src="{{ p.dbpl.country|lower|imgfolder:"flags"|static }}" alt="{{ p.dbpl.country }}" />
            {% endif %}
        </td>
        <td>
            <img src="{{ p.dbpl.race|imgfolder|static }}" alt="{{ p.dbpl.race }}" class="btm" />
        </td>
        {% for t in p.tally %}
        <td style="text-align: right;">
            {% if t > 0 %}{{ t|pctg_one }}%{% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h3>Median outcome</h3>

<p>This is the median outcome <em>assuming the already entered results</em>.</p>

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 2.5em; text-align: right;">#</td>
        <td style="width: 14em;">Player</td>
        <td style="width: 1em;"></td>
        <td style="width: 1em;"></td>
        <td style="width: 9em; text-align: right;">Matches</td>
        <td style="width: 5em; text-align: right;">Sets</td>
        <td style="width: 25.5em;"></td>
    </tr>
    {% for p in mplayers %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td style="text-align: right;">
            {{ forloop.counter }}.
        </td>
        <td>
            <a href="/players/{{ p.dbpl.id }}-{{ p.dbpl.tag|urlfilter }}/">{{ p.dbpl.tag }}</a>
        </td>
        <td>
            {% if p.dbpl.country != "" %}
            <img src="{{ p.dbpl.country|lower|imgfolder:"flags"|static }}" alt="{{ p.dbpl.country }}" />
            {% endif %}
        </td>
        <td>
            <img src="{{ p.dbpl.race|imgfolder|static }}" alt="{{ p.dbpl.race }}" class="btm" />
        </td>
        <td style="text-align: right;">
            {{ p.mtally.exp_mscore.0|floatformat:"0" }}–{{ p.mtally.exp_mscore.1|floatformat:"0" }}
        </td>
        <td style="text-align: right;">
            {{ p.mtally.exp_sscore.0|floatformat:"0" }}–{{ p.mtally.exp_sscore.1|floatformat:"0" }}
        </td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<table class="results">
{% include "matchlist.html" with lm_list=meanres lm_header="custom" lm_noright=True lm_autohide=True %}
</table>

<h3>Update group progress</h3>

<p>To modify a result, click on the score in the table below. To view detailed predictions for a match, click
the arrow.</p>

<form method="get" action="/inference/rrgroup/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="custom" lm_predict=True %}
    </table>
    <div style="margin-top: 0.2em; text-align: right;">
        <input type="submit" value="Update results" />
    </div>
</form>
<div style="margin-top: 0.2em; text-align: right;">
    <form method="get" action="/inference/rrgroup/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <input type="submit" value="Clear results" />
    </form>
</div>

<h3>Postable</h3>

<script type="text/javascript">
<!--
    var togs = ['tl', 'reddit'];
//-->
</script>

<div id="tl">
    <textarea style="width: 100%;" rows="10">{{ postable_tl }}</textarea>
</div>
<div id="reddit" style="display: none;">
    <textarea style="width: 100%;" rows="10">{{ postable_reddit }}</textarea>
</div>

<a href="#" onclick="switch_to('tl',togs); return false;">Team Liquid</a>,
<a href="#" onclick="switch_to('reddit',togs); return false;">Reddit</a>.</p>

{% endblock %}
