{% extends "index.html" %}

{% comment %}
This is the prediction page for four player Swiss groups. It's called from ratings.predict.pred_4pswiss.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Dual tournament{% endblock %}

{% block content %}

<table class="results" style="width: 67em;">
    <tr class="header">
        <td style="width: 2.5em; text-align: right;">#</td>
        <td style="width: 18em;">Player</td>
        <td style="width: 1em;"></td>
        <td style="width: 1em;"></td>
        <td style="width: 12.5em; text-align: right;">Top 2</td>
        <td style="width: 8em; text-align: right;">1st</td>
        <td style="width: 8em; text-align: right;">2nd</td>
        <td style="width: 8em; text-align: right;">3rd</td>
        <td style="width: 8em; text-align: right;">4th</td>
    </tr>
    {% for e in table %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td style="text-align: right;">
            {{ forloop.counter }}.
        </td>
        <td>
            <a href="/players/{{ e.player.id }}-{{ e.player.tag|urlfilter }}/">
                {{ e.player.tag }}
            </a>
        </td>
        <td style="width: 1em;">
        {% if e.player.country %}
        <img src="{{ e.player.country|lower|img:"flags" }}" alt="{{ e.country }}" />
        {% endif %}
        </td>
        <td style="width: 1em;">
            <img src="{{ e.player.race|img }}" alt="{{ e.player.race }}" class="btm" />
        </td>
        <td style="text-align: right;">
            {% if e.probs.1 > 0 or e.probs.0 > 0 %}{{ e.probs.1|addf:e.probs.0|pctg_one }}%{% endif %}
        </td>
        <td style="text-align: right;">
            {% if e.probs.0 > 0 %}{{ e.probs.0|pctg_one }}%{% endif %}
        </td>
        <td style="text-align: right;">
            {% if e.probs.1 > 0 %}{{ e.probs.1|pctg_one }}%{% endif %}
        </td>
        <td style="text-align: right;">
            {% if e.probs.2 > 0 %}{{ e.probs.2|pctg_one }}%{% endif %}
        </td>
        <td style="text-align: right;">
            {% if e.probs.3 > 0 %}{{ e.probs.3|pctg_one }}%{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Median outcome</h3>

<p>This is the median outcome <em>assuming the already entered results</em>.</p>

<table class="results">
{% include "matchlist.html" with lm_list=meanres lm_header="custom" lm_noright=True %}
</table>

<h3>Update group progress</h3>

<p>To modify a result, click on the score in the table below. To view detailed predictions for a match, click
the arrow.</p>

<form method="get" action="/inference/dual/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="custom" lm_predict=True %}
    </table>
    <div style="margin-top: 0.2em; text-align: right;">
        <input type="submit" value="Update results" />
    </div>
</form>
<div style="margin-top: 0.2em; text-align: right;">
    <form method="get" action="/inference/dual/">
    <input type="hidden" name="bo" value="{{ form.bo.value }}" />
    <input type="hidden" name="ps" value="{{ form.ps.value }}" />
    <input type="submit" value="Clear results" />
    </form>
</div>

<h3>Postable</h3>

<script type="text/javascript">
<!--
    togs = ['tl','reddit'];
//-->
</script>

<div id="tl">
    <textarea style="width: 100%;" rows="10">{{ postable_tl }}</textarea>
</div>
<div id="reddit" style="display: none;">
    <textarea style="width: 100%;" rows="10">{{ postable_reddit }}</textarea>
</div>

<p>Formats: 
<a href="#" onclick="switch_to('tl',togs); return false;">Team Liquid</a>,
<a href="#" onclick="switch_to('reddit',togs); return false;">Reddit</a>.</p>

{% endblock %}
