{% extends "index.html" %}

{% comment %}
This is the main prediction page, showing all available options. It's called from ratings.predict.predict.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Predict{% endblock %}

{% block content %}
    <h2>Predict</h2>

    {% include "messages.html" %}

    <form method="get" action="/predict/">
    <div class="table" style="width: 50em;">
        <div class="row">
            <div class="rowel" style="width: 10em;">Format</div>
            <div class="rower" style="width: 40em;">
                <select name="format" style="width: 20em;">
                    {% for format in formats %}
                    <option value="{{ forloop.counter0 }}"
                        {% if forloop.counter0 == fmt %}selected{% endif %}>{{ format }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="rowel">Best of</div>
            <div class="rower">
                <input name="bo" style="width: 20em;" value="{{ bo|default:"1" }}" />
            </div>
        </div>
        <div class="row">
            <div class="rowel" style="vertical-align: top;">Players</div>
            <div class="rower">
                <textarea id="players" name="players" rows="10" style="width: 40em;">{{ pls }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="rowel"></div>
            <div class="rower">
                <input type="submit" value="Show me the future!" />
            </div>
        </div>
    </div>
    </form>

    <p>Enter one player per line. The player information must uniquely identify the player, and should be
    space-separated list of any of the following:</p>

    <ul>
        <li>Player tag, e.g. &quot;DongRaeGu&quot;</li>
        <li>Race, i.e. &quot;P&quot;, &quot;T&quot;, &quot;Z&quot;, &quot;R&quot; or &quot;S&quot;</li>
        <li>A two- or three-letter <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1 alpha-2</a>
        country code. e.g. &quot;KR&quot;, or the common English name of a country</li> 
        <li>Team name, e.g. &quot;MVP&quot;</li>
        <li>Player or team aliases (we add these to the database when we feel like they're needed), e.g. &quot;DRG&quot;</li>
        <li>A player ID number, which you can get from the URL of the player page, e.g. &quot;4&quot;</li>
    </ul>

    <p>Note that everything is case insensitive.</p>

    <p>For <b>single elimination brackets</b> the following is possible:</p>

    <ul>
        <li>Use a different match format for each round. For example, "5,5,7" means best-of-5 for the first
        two rounds, and best-of-7 for the final. You can still enter a single number to apply to all rounds.</li>
        <li>To indicate a BYE, enter "bye" or a single hyphen.</li>
    </ul>

    <p>For <b>proleague matches</b> enter first all the player of one team, and then all the players of the
    other team. There must be an equal number of each, but it doesn't have to be odd.</p>
{% endblock %}
