{% extends "index.html" %}

{% comment %}
This is the main prediction page, showing all available options. It's called from ratings.predict.predict.
{% endcomment %}

{% load ratings_extras %}
{% load formulation %}
{% load i18n %}

{% block title %}{% trans "Predict" %}{% endblock %}

{% block content %}

{% include "messages.html" %}

<form method="get" action="/inference/">
<table class="bigform">
{% form "forms.html" %}
    {% use "hidden" name="submitted" value="" %}
    {% field "select"       form.format     class="wideinput" %}
    {% field "basic"        form.bestof     class="wideinput" %}
    {% field "textarea"     form.players    class="wideinput" rows="10" %}
    <tr>
        <td class="form_left"></td>
        <td class="form_right">
            <input type="submit" value="{% trans "Show me the future!" %}" />
            <input type="submit" value="{% trans "Parse Liquipedia Bracket!" %}"
            onclick="parseLP(); return false;" id="lp_button"
            style="display:none;" />
        </td>
    </tr>
{% endform %}
</table>
</form>

<p>{% blocktrans %}Enter one player per line. The player information must uniquely identify the player, and should be space-separated list of any of the following:{% endblocktrans %}</p>

<ul>
    <li>{% blocktrans %}Player tag, e.g. "DongRaeGu".{% endblocktrans %}</li>
    <li>{% blocktrans %}Race, i.e. "P", "T", "Z", "R" or "S".{% endblocktrans %}</li>
    <li>{% blocktrans with a="<a href=\"http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">" %}A two- or three-letter {{a}}ISO 3166-1 alpha-2</a> country code. e.g. "KR", or the common English name of a country.{% endblocktrans %}</li>
    <li>{% blocktrans %}Team name, e.g. "MVP".{% endblocktrans %}</li>
    <li>{% blocktrans %}Player or team aliases (we add these to the database when we feel like they're needed), e.g. "DRG".{% endblocktrans %}</li>
    <li>{% blocktrans %}A player ID number, which you can get from the URL of the player page, e.g. "4".{% endblocktrans %}</li>
</ul>

<p>{% blocktrans %}Note that everything is case insensitive.{% endblocktrans %}</p>

<p>{% blocktrans %}For <b>single elimination brackets</b> the following is possible:{% endblocktrans %}</p>

<ul>
    <li>{% blocktrans %}Use a different match format for each round. For example, "5,5,7" means best-of-5 for the first two rounds, and best-of-7 for the final. You can still enter a single number to apply to all rounds.{% endblocktrans %}</li>
    <li>{% blocktrans %}To indicate a BYE, enter "bye" or a single hyphen.{% endblocktrans %}</li>
    <li>{% blocktrans %}You can copy bracket code from Liquipedia and attempt to parse it. Mediawiki syntax is fairly stretchy, so we make no guarantees, however. Note: you have to copy the bracket <em>code</em>.{% endblocktrans %}</li>
</ul>

<p>{% blocktrans %}For <b>proleague matches</b> enter first all the player of one team, and then all the players of the other team. There must be an equal number of each, but it doesn't have to be odd.{% endblocktrans %}</li>

{% endblock %}
