{% extends "index.html" %}

{% load ratings_extras %}

{% block title %}Four-player Swiss group{% endblock %}

{% block content %}
    <h2>Four-player Swiss group</h2>

    <div class="table numtable" style="width: 67em;">
        <div class="rowh">
            <div class="rowe" style="width: 2.5em; text-align: right;">#</div>
            <div class="rowe" style="width: 18em;">Player</div>
            <div class="rowe" style="width: 1em;"></div>
            <div class="rowe" style="width: 1em;"></div>
            <div class="rowe" style="width: 12.5em; text-align: right;">Top 2</div>
            <div class="rowe" style="width: 8em; text-align: right;">1st</div>
            <div class="rowe" style="width: 8em; text-align: right;">2nd</div>
            <div class="rowe" style="width: 8em; text-align: right;">3rd</div>
            <div class="rowe" style="width: 8em; text-align: right;">4th</div>
        </div>
        {% for p in players %}
        <div class="row {% cycle 'row2' 'row1' %}">
            <div class="rowe" style="text-align: right;">
                {{ forloop.counter }}.
            </div>
            <div class="rowe">
                <a href="/players/{{ p.dbpl.id }}/">{{ p.dbpl.tag }}</a>
            </div>
            <div class="rowe" style="width: 1em;">
                {% if p.dbpl.country != "" %}
                <img src="http://aligulac.com:81/al/flags/{{ p.dbpl.country|lower }}.png" 
                    alt="{{ p.dbpl.country }}" />
                {% endif %}
            </div>
            <div class="rowe" style="width: 1em;">
                <img src="http://aligulac.com:81/al/{{ p.dbpl.race }}.png" alt="{{ p.dbpl.race }}" class="btm" />
            </div>
            <div class="rowe" style="text-align: right;">
                {% if p.tally.2 > 0 or p.tally.3 > 0 %}{{ p.tally.2|addf:p.tally.3|prob }}%{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if p.tally.3 > 0 %}{{ p.tally.3|prob }}%{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if p.tally.2 > 0 %}{{ p.tally.2|prob }}%{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if p.tally.1 > 0 %}{{ p.tally.1|prob }}%{% endif %}
            </div>
            <div class="rowe" style="text-align: right;">
                {% if p.tally.0 > 0 %}{{ p.tally.0|prob }}%{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Update group progress</h3>

    <script type="text/javascript">
    <!--
    function toggle_to(id) 
    {
        document.getElementById('round1').style.display = (id=='round1') ? 'block' : 'none';
        document.getElementById('round2').style.display = (id=='round2') ? 'block' : 'none';
        document.getElementById('round3').style.display = (id=='round3') ? 'block' : 'none';
    }
    //-->
    </script>

    {% if mod2nd %}
    <p>Show: <a href="#" onclick="toggle_to('round1'); return false;">First round</a> 
        → <a href="#" onclick="toggle_to('round2'); return false;">Second round</a>
        {% if mod3rd %}
        → <a href="#" onclick="toggle_to('round3'); return false;">Final match</a>
        {% endif %}
    </p>
    {% endif %}

    <div id="round1" {% if mod2nd %}style="display: none;"{% endif %}>
        <form method="get" action="/predict/4pswiss/">
        <input type="hidden" name="bo" value="{{ bo }}" />
        <input type="hidden" name="ps" value="{{ ps }}" />
        <div class="table" style="width: 30em;">
            <div class="row">
                <div class="rowel" style="width: 15em;">Score for {{ first.0|accessplayer:"0" }}</div>
                <div class="rower" style="width: 15em;">
                    <input name="f11" type="text" style="width: 150px;" value="{{ first.0|accessscore:"0" }}" />
                </div>
            </div>
            <div class="row" style="border-style: none none dotted none; border-width: 0.1em;">
                <div class="rowel">Score for {{ first.0|accessplayer:"1" }}</div>
                <div class="rower">
                    <input name="f12" type="text" style="width: 150px;" value="{{ first.0|accessscore:"1" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel" style="width: 15em;">Score for {{ first.1|accessplayer:"0" }}</div>
                <div class="rower" style="width: 15em;">
                    <input name="f21" type="text" style="width: 150px;" value="{{ first.1|accessscore:"0" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel">Score for {{ first.1|accessplayer:"1" }}</div>
                <div class="rower">
                    <input name="f22" type="text" style="width: 150px;" value="{{ first.1|accessscore:"1" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel"></div>
                <div class="rower">
                    <input type="submit" value="Update" />
                </div>
            </div>
        </div>
        </form>
    </div>

    {% if mod2nd %}
    <div id="round2" {% if mod3rd %}style="display: none;"{% endif %}>
        <form method="get" action="/predict/4pswiss/">
        <input type="hidden" name="bo" value="{{ bo }}" />
        <input type="hidden" name="ps" value="{{ ps }}" />
        <input type="hidden" name="f11" value="{{ first.0|accessscore:"0" }}" />
        <input type="hidden" name="f12" value="{{ first.0|accessscore:"1" }}" />
        <input type="hidden" name="f21" value="{{ first.1|accessscore:"0" }}" />
        <input type="hidden" name="f22" value="{{ first.1|accessscore:"1" }}" />
        <div class="table" style="width: 30em;">
            <div class="row">
                <div class="rowel" style="width: 15em;">Score for {{ second.0|accessplayer:"0" }}</div>
                <div class="rower" style="width: 15em;">
                    <input name="s11" type="text" style="width: 150px;" value="{{ second.0|accessscore:"0" }}" />
                </div>
            </div>
            <div class="row" style="border-style: none none dotted none; border-width: 0.1em;">
                <div class="rowel">Score for {{ second.0|accessplayer:"1" }}</div>
                <div class="rower">
                    <input name="s12" type="text" style="width: 150px;" value="{{ second.0|accessscore:"1" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel" style="width: 15em;">Score for {{ second.1|accessplayer:"0" }}</div>
                <div class="rower" style="width: 15em;">
                    <input name="s21" type="text" style="width: 150px;" value="{{ second.1|accessscore:"0" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel">Score for {{ second.1|accessplayer:"1" }}</div>
                <div class="rower">
                    <input name="s22" type="text" style="width: 150px;" value="{{ second.1|accessscore:"1" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel"></div>
                <div class="rower">
                    <input type="submit" value="Update" />
                </div>
            </div>
        </div>
        </form>
    </div>
    {% endif %}

    {% if mod3rd %}
    <div id="round3">
        <form method="get" action="/predict/4pswiss/">
        <input type="hidden" name="bo" value="{{ bo }}" />
        <input type="hidden" name="ps" value="{{ ps }}" />
        <input type="hidden" name="f11" value="{{ first.0|accessscore:"0" }}" />
        <input type="hidden" name="f12" value="{{ first.0|accessscore:"1" }}" />
        <input type="hidden" name="f21" value="{{ first.1|accessscore:"0" }}" />
        <input type="hidden" name="f22" value="{{ first.1|accessscore:"1" }}" />
        <input type="hidden" name="s11" value="{{ second.0|accessscore:"0" }}" />
        <input type="hidden" name="s12" value="{{ second.0|accessscore:"1" }}" />
        <input type="hidden" name="s21" value="{{ second.1|accessscore:"0" }}" />
        <input type="hidden" name="s22" value="{{ second.1|accessscore:"1" }}" />
        <div class="table" style="width: 30em;">
            <div class="row">
                <div class="rowel" style="width: 15em;">Score for {{ third|accessplayer:"0" }}</div>
                <div class="rower" style="width: 15em;">
                    <input name="fi1" type="text" style="width: 150px;" value="{{ third|accessscore:"0" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel">Score for {{ third|accessplayer:"1" }}</div>
                <div class="rower">
                    <input name="fi2" type="text" style="width: 150px;" value="{{ third|accessscore:"1" }}" />
                </div>
            </div>
            <div class="row">
                <div class="rowel"></div>
                <div class="rower">
                    <input type="submit" value="Update" />
                </div>
            </div>
        </div>
        </form>
    </div>
    {% endif %}

    <p>Show match predictions for: 
        {% for m in details %}
        <a target="new" href="{{ m.1|makematchlink|safe }}">{{ m.0 }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>

    <h3>Team Liquid postable</h3>
    <textarea style="width: 100%;" rows="10">{{ postable }}</textarea>

{% endblock %}
