{% comment %}
This is the rating list subroutine, used on every page that needs players listed by rating. It expects the
arguments:

- entries: A list of rating objects.
- sortable: True if the list should be sortable, false otherwise. If given, the page, race and nats arguments
            should also be provided.
- startcount: The count for the first player on the list. (Usually 1, except when showing other pages, for
              example.)
- displayteams: Display teams
{% endcomment %}

{% load ratings_extras %}

{% include "periodpagenav.html" %}

<table class="results">
    <tr class="header">
        <td class="rl_number">#</td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_name">Name</td>
        <td class="rl_team">{% if displayteams %}Team{% endif %}</td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=&amp;race={{ race }}&amp;nats={{ nats }}">Rating↓</a>
            {% else %}Rating{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vp&amp;race={{ race }}&amp;nats={{ nats }}">vP↓</a>
            {% else %}vP{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vt&amp;race={{ race }}&amp;nats={{ nats }}">vT↓</a>
            {% else %}vT{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vz&amp;race={{ race }}&amp;nats={{ nats }}">vZ↓</a>
            {% else %}vZ{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_arrow"></td>
    </tr>
    {% if entries %}
    {% for entry in entries %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td class="rl_number">
            {% if startcount %}
                {{ forloop.counter|add:startcount }}.
            {% else %}
                {{ forloop.counter }}.
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.player.id == 341 and joke %}
                <img src="{{ "star_P"|img }}" class="btm" title="{{ "asdf"|combatex }}" />
            {% elif entry.position and entry.prev.position and rl_pos_arrow %}
                {% if entry.prev.position < entry.position %}
                <img src="{{ "downarrow"|img }}" alt="down" class="btm" 
                     title="{{ entry.prev.position|sub:entry.position }}" />
                {% elif entry.prev.position > entry.position %}
                <img src="{{ "uparrow"|img }}" alt="up" class="btm"
                     title="+{{ entry.prev.position|sub:entry.position }}" />
                {% endif %}
            {% elif rl_pos_arrow %}
            <img src="{{ "new"|img }}" alt="new" style="vertical-align: text-bottom;" />
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.player.country %}
            <img src="{{ entry.player.country|lower|img:"flags" }}" alt="{{ entry.player.country }}" />
            {% endif %}
        </td>
        <td class="rl_icon">
            <img src="{{ entry.player.race|img }}" alt="{{entry.player.race}}" class="btm" />
        </td>
        <td class="rl_name">
            <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/">{{ entry.player.tag }}</a>
        </td>
        <td class="rl_team">
            {% if displayteams and entry.team %}
                <a href="/teams/{{ entry.teamid }}-{{ entry.teamfull|urlfilter }}/">{{ entry.team }}</a>
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
                {% if entry.prev.rating > entry.rating %}
                <img src="{{ "downarrow"|img }}" alt="down" style="vertical-align: text-bottom;" 
                     title="{{ entry.rating_diff|ratscalediff }}" />
                {% elif entry.prev.rating < entry.rating %}
                <img src="{{ "uparrow"|img }}" alt="up" style="vertical-align: text-bottom;" 
                     title="+{{ entry.rating_diff|ratscalediff }}" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vp|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
                {% if entry.prev.rating|addf:entry.prev.rating_vp > entry.rating|addf:entry.rating_vp %}
                <img src="{{ "downarrow"|img }}" alt="down" style="vertical-align: text-bottom;" 
                     title="{{ entry.rating_diff_vp|ratscalediff }}" />
                {% elif entry.prev.rating|addf:entry.prev.rating_vp < entry.rating|addf:entry.rating_vp %}
                <img src="{{ "uparrow"|img }}" alt="up" style="vertical-align: text-bottom;" 
                     title="+{{ entry.rating_diff_vp|ratscalediff }}" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vt|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
                {% if entry.prev.rating|addf:entry.prev.rating_vt > entry.rating|addf:entry.rating_vt %}
                <img src="{{ "downarrow"|img }}" alt="down" style="vertical-align: text-bottom;" 
                     title="{{ entry.rating_diff_vt|ratscalediff }}" />
                {% elif entry.prev.rating|addf:entry.prev.rating_vt < entry.rating|addf:entry.rating_vt %}
                <img src="{{ "uparrow"|img }}" alt="up" style="vertical-align: text-bottom;" 
                     title="+{{ entry.rating_diff_vt|ratscalediff }}" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vz|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.prev %}
                {% if entry.prev.rating|addf:entry.prev.rating_vz > entry.rating|addf:entry.rating_vz %}
                <img src="{{ "downarrow"|img }}" alt="down" style="vertical-align: text-bottom;" 
                     title="{{ entry.rating_diff_vz|ratscalediff }}" />
                {% elif entry.prev.rating|addf:entry.prev.rating_vz < entry.rating|addf:entry.rating_vz %}
                <img src="{{ "uparrow"|img }}" alt="up" style="vertical-align: text-bottom;" 
                     title="+{{ entry.rating_diff_vz|ratscalediff }}" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_arrow">
            {% if entry.decay == 0 %}
                <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/period/{{ entry.period.id }}/">→</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="nonheader row2">
        <td colspan="15">No entries found.</td>
    </tr>
    {% endif %}
</table>

{% include "periodpagenav.html" %}
