{% extends "index.html" %}

{% comment %}
This is the page showing the details of a rating adjustment. It's called from ratings.views.rating_details.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ player.tag }} list {{ period.id }}{% endblock %}

{% block content %}
<h2>{{ player.tag }} (list {{ period.id }})</h2>

{% if prevlink or nextlink %}
<div class="table" style="min-width: 67em;">
    <div class="row">
        <div class="rowe" style="width: 22.5em;"></div>
        <div class="rowe" style="width: 1em; text-align: left;">
            {% if prevlink %}
            <a href="/players/{{ prevlink.player.id }}-{{prevlink.player.tag|urlfilter}}/period/{{ prevlink.period.id }}/">
                <img src="{{ "prev.png"|static }}" alt="previous" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 10em; text-align: center;"></div>
        <div class="rowe" style="width: 1em; text-align: right;">
            {% if nextlink %}
            <a href="/players/{{ nextlink.player.id }}-{{ nextlink.player.tag|urlfilter }}/period/{{ nextlink.period.id }}/">
                <img src="{{ "next.png"|static }}" alt="next" class="btm" />
            </a>
            {% endif %}
        </div>
        <div class="rowe" style="width: 22.5em;"></div>
    </div>
</div>
{% endif %}

{% if matches %}
{% if has_treated %}
{% if period.is_preview %}
<p>This period started on {{ period.start|date:"F jS, Y" }} and will end on {{ period.end|date:"F jS" }}. The
numbers given below are projected adjustments and can change before then.</p>
{% else %}
<p>This period started on {{ period.start|date:"F jS, Y" }} and ended on {{ period.end|date:"F jS, Y" }}.</p>
{% endif %}

<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 3em;"></div>
        <div class="rowe" style="width: 6em; text-align: right;">Old rtg.</div>
        <div class="rowe" style="width: 9em; text-align: right;">Opposition</div>
        <div class="rowe" style="width: 11em; text-align: right;">Expected score</div>
        <div class="rowe" style="width: 10em; text-align: right;">Actual score</div>
        <div class="rowe" style="width: 9em; text-align: right;">Performance</div>
        <div class="rowe" style="width: 9em; text-align: right;">New rtg.</div>
        <div class="rowe" style="width: 10em; text-align: right;">Adjustment</div>
    </div>
    <div class="row row1">
        <div class="rowe">vP</div>
        <div class="rowe" style="text-align: right;">
            {{ rating.prev.rating|addf:rating.prev.rating_vp|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">{% if ngames.P > 0 %}
            {{ tot_rating.P|ratscale }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.P > 0 %}
            {{ expwins.P|floatformat:1 }}–{{ ngames.P|subf:expwins.P|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.P > 0 %}
            {{ nwins.P|floatformat:1 }}–{{ ngames.P|subf:nwins.P|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.P > 0 %}
            {{ rating.comp_rat_vp|ratscaleplus }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{{ rating.rating|addf:rating.rating_vp|ratscale }}</div>
        <div class="rowe" style="text-align: right;">
            {% if rating.rating_diff_vp < 0 %}<span style="color: #aa0000;">
            {% else %}<span style="color: #00aa00;">+{% endif %}{{ rating.rating_diff_vp|ratscalediff }}</span>
        </div>
    </div>
    <div class="row row2">
        <div class="rowe">vT</div>
        <div class="rowe" style="text-align: right;">
            {{ rating.prev.rating|addf:rating.prev.rating_vt|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">{% if ngames.T > 0 %}
            {{ tot_rating.T|ratscale }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.T > 0 %}
            {{ expwins.T|floatformat:1 }}–{{ ngames.T|subf:expwins.T|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.T > 0 %}
            {{ nwins.T|floatformat:1 }}–{{ ngames.T|subf:nwins.T|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.T > 0 %}
            {{ rating.comp_rat_vt|ratscaleplus }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{{ rating.rating|addf:rating.rating_vt|ratscale }}</div>
        <div class="rowe" style="text-align: right;">
            {% if rating.rating_diff_vt < 0 %}<span style="color: #aa0000;">
            {% else %}<span style="color: #00aa00;">+{% endif %}{{ rating.rating_diff_vt|ratscalediff }}</span>
        </div>
    </div>
    <div class="row row1">
        <div class="rowe">vZ</div>
        <div class="rowe" style="text-align: right;">
            {{ rating.prev.rating|addf:rating.prev.rating_vz|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">{% if ngames.Z > 0 %}
            {{ tot_rating.Z|ratscale }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.Z > 0 %}
            {{ expwins.Z|floatformat:1 }}–{{ ngames.Z|subf:expwins.Z|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.Z > 0 %}
            {{ nwins.Z|floatformat:1 }}–{{ ngames.Z|subf:nwins.Z|floatformat:1 }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">{% if ngames.Z > 0 %}
            {{ rating.comp_rat_vz|ratscaleplus }}
        {% endif %}</div>
        <div class="rowe" style="text-align: right;">
            {{ rating.rating|addf:rating.rating_vz|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">
            {% if rating.rating_diff_vz < 0 %}<span style="color: #aa0000;">
            {% else %}<span style="color: #00aa00;">+{% endif %}{{ rating.rating_diff_vz|ratscalediff }}</span>
        </div>
    </div>
    <div class="row row2">
        <div class="rowe"></div>
        <div class="rowe" style="text-align: right;">
            {{ rating.prev.rating|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">
            {{ tot_rating.M|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">
            {{ expwins.M|floatformat:1 }}–{{ ngames.M|subf:expwins.M|floatformat:1 }}
        </div>
        <div class="rowe" style="text-align: right;">
            {{ nwins.M|floatformat:1 }}–{{ ngames.M|subf:nwins.M|floatformat:1 }}
        </div>
        <div class="rowe" style="text-align: right;">
            {{ rating.comp_rat|ratscaleplus }}
        </div>
        <div class="rowe" style="text-align: right;">
            {{ rating.rating|ratscale }}
        </div>
        <div class="rowe" style="text-align: right;">
            {% if rating.rating_diff < 0 %}<span style="color: #aa0000;">
            {% else %}<span style="color: #00aa00;">+{% endif %}{{ rating.rating_diff|ratscalediff }}</span>
        </div>
    </div>
</div>
{% endif %}
    
<p>Exact game details:</p>
    <table class="results">
    {% include "matchlist.html" with lm_list=matches lm_header="info" %}
    </table>
    {% if has_nontreated %} 
        <p><strong>Note:</strong> Some games have not been included in the rating calculations because they
        were just recently submitted or modified. They will be included in the next update. This happens every
        six hours. The time of the last update can be found <a href="/db/">here</a>.</p>
    {% endif %}
{% else %}
    <p>{{ player.tag }} played no games in this period.</p>
{% endif %}
{% endblock %}
