{% comment %}
This is the rating list subroutine, used on every page that needs players listed by rating. It expects the
arguments:

- entries: A list of rating objects.
- sortable: True if the list should be sortable, false otherwise. If given, the page, race and nats arguments
            should also be provided.
- startcount: The count for the first player on the list. (Usually 1, except when showing other pages, for
              example.)
{% endcomment %}

{% load ratings_extras %}

{% include "periodpagenav.html" %}

<table class="results">
    <tr class="header">
        <td class="rl_number">#</td>
        <td class="rl_arrow"></td>
        <td class="rl_icon"></td>
        <td class="rl_icon"></td>
        <td class="rl_name">Name</td>
        <td class="rl_team">Team</td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=&amp;race={{ race }}&amp;nats={{ nats }}">Rating↓</a>
            {% else %}Rating{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vp&amp;race={{ race }}&amp;nats={{ nats }}">Rating vP↓</a>
            {% else %}Rating vP{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vt&amp;race={{ race }}&amp;nats={{ nats }}">Rating vT↓</a>
            {% else %}Rating vT{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_rating">
            {% if sortable %}
            <a href="?page={{ page }}&amp;sort=vz&amp;race={{ race }}&amp;nats={{ nats }}">Rating vZ↓</a>
            {% else %}Rating vZ{% endif %}
        </td>
        <td class="rl_icon"></td>
        <td class="rl_arrow"></td>
    </tr>
    {% for entry in entries %}
    <tr class="nonheader {% cycle 'row2' 'row1' %}">
        <td class="rl_number">
            {% if startcount %}
                {{ forloop.counter|add:startcount }}.
            {% else %}
                {{ forloop.counter }}.
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.position and entry.get_prev.position and rl_pos_arrow %}
                {% if entry.prev.position < entry.position %}
                <img src="{{ "downarrow.png"|static }}" alt="down" class="btm" />
                {% elif entry.get_prev.position > entry.position %}
                <img src="{{ "uparrow.png"|static }}" alt="up" class="btm" />
                {% endif %}
            {% elif rl_pos_arrow %}
            <img src="{{ "new.png"|static }}" alt="new" style="vertical-align: text-bottom;" />
            {% endif %}
        </td>
        <td class="rl_icon">
            {% if entry.player.country != "" %}
            <img src="{{ entry.player.country|lower|imgfolder:"flags"|static }}" alt="{{ entry.player.country }}" />
            {% endif %}
        </td>
        <td class="rl_icon">
            <img src="{{ entry.player.race|imgfolder|static }}" alt="{{entry.player.race}}" class="btm" />
        </td>
        <td class="rl_name">
            <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/">{{ entry.player.tag }}</a>
        </td>
        <td class="rl_team">
        	{% if entry.team %}
            	<a href="/teams/{{ entry.teamid }}-{{ entry.team|urlfilter }}/"> {{ entry.team }} </a>
            {% else %}
            	Teamless
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.get_prev %}
                {% if entry.get_prev.rating > entry.rating %}
                <img src="{{ "downarrow.png"|static }}" alt="down" style="vertical-align: text-bottom;" />
                {% elif entry.get_prev.rating < entry.rating %}
                <img src="{{ "uparrow.png"|static }}" alt="up" style="vertical-align: text-bottom;" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vp|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.get_prev %}
                {% if entry.get_prev.rating|addf:entry.get_prev.rating_vp > entry.rating|addf:entry.rating_vp %}
                <img src="{{ "downarrow.png"|static }}" alt="down" style="vertical-align: text-bottom;" />
                {% elif entry.get_prev.rating|addf:entry.get_prev.rating_vp < entry.rating|addf:entry.rating_vp %}
                <img src="{{ "uparrow.png"|static }}" alt="up" style="vertical-align: text-bottom;" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vt|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.get_prev %}
                {% if entry.get_prev.rating|addf:entry.get_prev.rating_vt > entry.rating|addf:entry.rating_vt %}
                <img src="{{ "downarrow.png"|static }}" alt="down" style="vertical-align: text-bottom;" />
                {% elif entry.get_prev.rating|addf:entry.get_prev.rating_vt < entry.rating|addf:entry.rating_vt %}
                <img src="{{ "uparrow.png"|static }}" alt="up" style="vertical-align: text-bottom;" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_rating">{{ entry.rating_vz|addf:entry.rating|ratscale }}</td>
        <td class="rl_icon">
            {% if entry.get_prev %}
                {% if entry.get_prev.rating|addf:entry.get_prev.rating_vz > entry.rating|addf:entry.rating_vz %}
                <img src="{{ "downarrow.png"|static }}" alt="down" style="vertical-align: text-bottom;" />
                {% elif entry.get_prev.rating|addf:entry.get_prev.rating_vz < entry.rating|addf:entry.rating_vz %}
                <img src="{{ "uparrow.png"|static }}" alt="up" style="vertical-align: text-bottom;" />
                {% endif %}
            {% endif %}
        </td>
        <td class="rl_arrow">
            {% if entry.decay == 0 %}
                <a href="/players/{{ entry.player.id }}-{{ entry.player.tag|urlfilter }}/period/{{ entry.period.id }}/">→</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% include "periodpagenav.html" %}
