{% extends "index.html" %}

{% comment %}
This is the basic records page, called from ratings.views.records.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Records{% if race %} for {{ race|racefull }}{% endif %}{% endblock %}

{% block content %}
    <h2>Records{% if race %} for {{ race|racefull }}{% endif %}</h2>

    <p>To avoid rating artifacts, the earliest periods are not counted.</p>

    <h3>Highest ratings ever achieved{% if race %} by {{ race|racefull }}{% endif %}</h3>
    {% include "recordlist.html" with high=hightot rt="Rating" %}

    <h3>Highest ratings ever achieved by matchup</h3>
    {% include "recordlist.html" with high=highp rt="Rating "|add:race|add:"vP" race="P" %}
    {% include "recordlist.html" with high=hight rt="Rating "|add:race|add:"vT" race="T" %}
    {% include "recordlist.html" with high=highz rt="Rating "|add:race|add:"vZ" race="Z" %}
{% endblock %}
