{% comment %}
This is the subroutine for printing a record list, used by records.html.
{% endcomment %}

{% load ratings_extras %}

<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 2.5em; text-align: right;">#</div>
        <div class="rowe" style="width: 18em;">Name</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 8.5em; text-align: right;">{{ rt }}</div>
        <div class="rowe" style="width: 2em;"></div>
        <div class="rowe" style="width: 20em;">List</div>
        <div class="rowe" style="width: 14em; text-align: right;"></div>
    </div>
{% for h in high %}
<div class="row {% cycle 'row2' 'row1' %}">
    <div class="rowe" style="text-align: right;">{{ forloop.counter }}.</div>
    <div class="rowe">
        <a href="/players/{{ h.player.id }}-{{ h.player.tag|urlfilter }}/">{{ h.player.tag }}</a>
    </div>
    <div class="rowe">
        {% if h.player.country != "" %}
            <img src="{{ h.player.country|lower|imgfolder:"flags"|static }}" alt="{{ h.player.country }}" />
        {% endif %}
    </div>
    <div class="rowe">
        <img src="{{ h.player.race|imgfolder|static }}" class="btm" />
    </div>
    <div class="rowe" style="text-align: right;">
        {% if race == "P" %}
            {{ h.get_totalrating_vp|ratscale }}
        {% elif race == "T" %}
            {{ h.get_totalrating_vt|ratscale }}
        {% elif race == "Z" %}
            {{ h.get_totalrating_vz|ratscale }}
        {% else %}
            {{ h.rating|ratscale }}
        {% endif %}
    </div>
    <div class="rowe"></div>
    <div class="rowe">
        <a href="/periods/{{ h.period.id }}/">{{ h.period.end|date:"F jS, Y" }}</a>
    </div>
    <div class="rowe" style="text-align: right;">
        <a href="/players/{{ h.player.id }}-{{ h.player.tag|urlfilter }}/period/{{ h.period.id }}/">→</a>
    </div>
</div>
{% endfor %}
</div>
