{% extends "index.html" %}

{% comment %}
This is the template for the main player page, called from ratings.views.player.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Balance report{% endblock %}

{% block content %}
<h2>Balance report</h2>

<p>These graphs show the historical month-by-month winrates for each non-mirror matchup in the database.</p>

<p>Note that this yields information about <em>metagame</em> balance near the <em>top of the skill
    ladder</em>, and is not to be confused with (although likely correlated to) actual game balance throughout
the whole player population.</p>

<p>The winrate is shown with respect to the race listed first, so if the Protoss vs. Terran graph shoots up,
that means Protoss is doing well and Terran poorly.</p>

<script type="text/javascript">
    $(document).ready(function() { 
        var chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-pvt',
                type: 'spline',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Balance report'
            },
            subtitle: {
                text: 'Click and drag to zoom'
            },
            xAxis: {
                type: 'datetime',
            },
            yAxis: {
                title: {
                    text: 'Winrate [%]' 
                },
                min: 30,
                max: 70
            },
            tooltip: {
                xDateFormat: '%B %Y',
                valueDecimals: 1,
                valueSuffix: '%'
            },
            plotOptions: {
                series: {
                    marker: {
                        enabled: true,
                        symbol: 'circle'
                    },
                },
            },
            series: [{ 
                name: 'PvT',
                color: '#00aaaa',
                data: [{% for r in pvt %}[ {{r.1|milliseconds}}, {{r.0}} ],{% endfor %}]
            }, {
                name: 'PvZ',
                color: '#aaaa00',
                data: [{% for r in pvz %}[ {{r.1|milliseconds}}, {{r.0}} ],{% endfor %}]
            }, {
                name: 'TvZ',
                color: '#aa00aa',
                data: [{% for r in tvz %}[ {{r.1|milliseconds}}, {{r.0}} ],{% endfor %}]
            }] 
        });
    });
</script>
<div style="width: 67em; height: 30em;" id="chart-pvt"></div>

<!--
<h3>Protoss vs. Zerg</h3>
<div style="text-align: center;">
    <a href="/reports/balance/plot/?matchup=pvz&big">
        <img src="/reports/balance/plot/?matchup=pvz" alt="Protoss vs. Zerg" class="longplot" id="pvzplot" />
    </a>
</div>

<h3>Terran vs. Zerg</h3>
<div style="text-align: center;">
    <a href="/reports/balance/plot/?matchup=tvz&big">
        <img src="/reports/balance/plot/?matchup=tvz" alt="Terran vs. Zerg" class="longplot" id="tvzplot" />
    </a>
</div>-->

{% endblock %}
