{% extends "index.html" %}

{% comment %}
This is the template for reviewing publicly submitted matches. It's called from
ratings.submitviews.review.
{% endcomment %}

{% load ratings_extras %}
{% load markup %}

{% block title %}Review results{% endblock %}

{% block content %}
    <h2>Review results</h2>

    {% if adm %}
    <p>You are logged in as: {{ user }}.
    (<a href="/logout/">logout</a>, <a href="/changepwd/">change password</a>)</p>
    {% endif  %}

    {% if success %}
    <p>The following matches were successfully approved:</p>
    <table class="results">
    {% include "matchlist.html" with lm_list=success lm_adm=adm lm_nocheck=0 %}
    </table>
    <p></p>
    {% endif %}

    {% if messages %}
    <p style="color: #ff0000;"><strong>The following problems occured:</strong></p>
        <ul>
            {% for m in messages %}<li>{{ m }}</li>{% endfor %}
        </ul>
    {% endif %}

    {% if groups %}
    <form method="post" action="/add/review/">
    {% csrf_token %}

    <table class="results">
    {% for g in groups %}
        <tr class="header">
            <td colspan="5">{{ g.event }}</td>
            <td colspan="2" style="text-align: right;">
            <a id="lma-{{ g.id }}" href="#" 
                onclick="togvis_tbody('lm-{{g.id}}');togHTML('lma-{{g.id}}','hide','show');return false;">
                show</a>
            <a href="#" onclick="mark_all(true, 'match-{{g.id}}-'); return false;">chk</a>
            <a href="#" onclick="mark_all(false, 'match-{{g.id}}-'); return false;">unchk</a>
            </td>
        </tr>
    <tbody id="lm-{{g.id}}" style="display: none;">
        <tr class="nonheader row1">
            <td colspan="1" style="vertical-align: top;">Date:</td>
            <td colspan="6">{{ g.date|date:"F jS, Y" }}</td>
        </tr>
        <tr class="nonheader row1">
            <td colspan="1" style="vertical-align: top;">Game:</td>
            <td colspan="6">{{ g.game }}</td>
        </tr>
        <tr class="nonheader row1">
            <td colspan="1" style="vertical-align: top;">Type:</td>
            <td colspan="6">{{ lm_list.0.group.offline|yesno:"Offline,Online" }}</td>
        </tr>
        <tr class="nonheader row1">
            <td colspan="1">Source:</td>
            <td colspan="6"><a href="{{ g.source }}">{{ g.source }}</a></td>
        </tr>
        <tr class="nonheader row1">
            <td colspan="1">Contact:</td>
            <td colspan="6">{{ lm_list.0.group.contact }}</td>
        </tr>
        <tr class="nonheader row1">
            <td colspan="1" style="vertical-align: top;">Notes:</td>
            <td colspan="6">{{ g.notes|markdown }}</td>
        </tr>
        {% include "matchlist.html" with lm_list=g.prematches lm_adm=1 lm_check=1 %}
    </tbody>
    {% endfor %}
    </table>
    {% else %}
    <p>There are no results awaiting review.</p>
    {% endif %}

    {% if groups %}
    <p>To all checked submissions, do the following:</p>

    <table class="bigform">
        <tr>
            <td class="form_left">
                <label for="event">Event</label>
            </td>
            <td class="form_right">
                <input type="text" name="event" id="event" style="width: 40em;" value="{{ event }}" />
            </td>
        </tr>
        <tr>
            <td class="form_left">
                <label for="eobj">Event object</label>
            </td>
            <td class="form_right">
                <select name="eobj" id="eobj">
                    {% for event in events %}
                    <option value="{{ event.id }}" {% if eobj == event.id %}selected{% endif %}>{{ event }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="form_left">
                <label for="date">Date</label>
            </td>
            <td class="form_right">
                <input type="text" class="date" name="date" id="date" value="" />
                <script type="text/javascript">
                    // <![CDATA[  
                    var opts = {                            
                        formElements:{"date":"Y-ds-m-ds-d"},
                        statusFormat:"l-cc-sp-d-sp-F-sp-Y", 
                    };
                    datePickerController.createDatePicker(opts);
                    // ]]>
                </script>
            </td>
        </tr>
        <tr>
            <td class="form_left">
                <label for="act">Action</label>
            </td>
            <td class="form_right">
                <select name="act" id="act">
                    <option value="approve">Approve</option>
                    <option value="reject">Reject (delete)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="form_left"></td>
            <td class="form_right">
                <input type="submit" value="Go" />
            </td>
        </tr>
    </table>

    </form>
    {% endif %}

{% endblock %}
