{% extends "index.html" %}

{% comment %}
This is the template for reviewing publicly submitted matches. It's called from
ratings.submitviews.review.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Review results{% endblock %}

{% block content %}
    <h2>Review results</h2>

    {% if adm %}
    <p>You are logged in as: {{ user }}.
    (<a href="/logout/">logout</a>, <a href="/changepwd/">change password</a>)</p>
    {% endif  %}

    {% if success %}
    <p>The following matches were successfully approved:</p>
        <table class="results">
        {% for g in success %}
        {% include "list_matches.html" with lm_list=g lm_show_date=0 lm_adm=adm lm_header_event=1 lm_nocheck=1 %}
        {% endfor %}
        </table>
        <p></p>
    {% endif %}

    {% if messages %}
    <p style="color: #ff0000;"><strong>The following problems occured:</strong></p>
        <ul>
            {% for m in messages %}<li>{{ m }}</li>{% endfor %}
        </ul>
    {% endif %}

    {% if groups %}
    <form method="post" action="/add/review/">
    {% csrf_token %}

    <table class="results">
    {% for g in groups %}
        {% if g %}
        {% include "list_matches.html" with lm_list=g.prematch_set.all lm_show_date=1 lm_adm=1 lm_header_event=1 lm_autohide=1 %}
        {% endif %}
    {% endfor %}
    </table>
    {% else %}
    <p>There are no results awaiting review.</p>
    {% endif %}

    {% if groups %}
    <p>To all checked submissions, do the following:</p>

    <table class="bigform">
        <tr>
            <td class="form_left">
                <label for="event">Event</label>
            </td>
            <td class="form_right">
                <input type="text" name="event" id="event" style="width: 40em;" value="{{ event }}" />
            </td>
        </tr>
        <tr>
            <td class="form_left">
                <label for="eobj">Event object</label>
            </td>
            <td class="form_right">
                <select name="eobj" id="eobj">
                    {% for event in events %}
                    <option value="{{ event.id }}" {% if eobj == event.id %}selected{% endif %}>{{ event }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="form_left">
                <label for="act">Action</label>
            </td>
            <td class="form_right">
                <select name="act" id="act">
                    <option value="approve">Approve</option>
                    <option value="reject">Reject (delete)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="form_left"></td>
            <td class="form_right">
                <input type="submit" value="Go" />
            </td>
        </tr>
    </table>

    </form>
    {% endif %}

{% endblock %}
