{% extends "index.html" %}

{% comment %}
This is the search results page (from the search box in the top right corner). Called from
aligulac.views.search.
{% endcomment %}

{% load ratings_extras %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search results</h2>

    {% if players.count == 0  and teams.count == 0 %}
        No such player or team '{{ query }}' found.
    {% else %}
        {% if teams %}
            <h3>Teams</h3>
            <ul>
            {% for team in teams %}
            <li><a href="/teams/{{ team.id }}-{{ team.name|urlfilter }}/">{{ team.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if players %}
            <h3>Players</h3>
            <ul>
                {% for player in players %}
                <li><a href="/players/{{ player.id }}-{{ player.tag|urlfilter }}/">{{ player.tag }}</a> 
                <img src="{{ player.country|lower|imgfolder:"flags"|static }}" alt="{{ player.country }}" />
                <img src="{{ player.race|imgfolder|static }}" alt="{{ player.race|racefull }}" /></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if events %}
            <h3>Events</h3>
            <ul>
                {% for event in events %}
                <li><a href="/results/events/{{ event.id }}-{{ event.fullname|urlfilter }}/">{{ event.fullname }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
