{% extends "index.html" %}

{% comment %}
This shows a team page. Called from ratings.teamviews.team.
{% endcomment %}

{% load ratings_extras %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
    <script type="text/javascript">
    function toggle_visibility()
    {
    if (document.getElementsByClassName('infobox'))
    {
        var elements = document.getElementsByClassName('infobox');
        for(var i = 0, length = elements.length; i < length; i++)
        {
            elements[i].style.display = 'none';
        }
    }
    var elements = document.getElementsByClassName('edit');
    for(var i = 0, length = elements.length; i < length; i++)
        {
            elements[i].style.display = 'table-row';
        }
    }
    </script>

    <h2>{{ team.name }}</h2>
    <form method="post" action="/teams/{{ team.id }}-{{ team.name|urlfilter }}/">
    {% csrf_token %}
    <div class="ibox" style="width: 25em;">
        <div class="iboxh">{{ team.name }}{% if adm %} (<a href="#" onclick="toggle_visibility(); return false;">Edit</a>){% endif %}</div>
        <div class="iboxtable">
        {% if adm %}
            <div class="row edit" style="display: none;">
                <div class="rowel">Team name</div>
                <div class="rower"><input type="text" name="name" value="{{ team.name }}" /></div>
            </div>
        {% endif %}
        {% if aliases %}
            <div class="row infobox">
                <div class="rowel" style="width: 10em;">AKA</div>
                <div class="rower" style="width: 20em;">{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            </div>
        {% endif %}
        {% if adm %}
            <div class="row edit" style="display: none;">
                <div class="rowel">AKA</div>
                <div class="rower"><input type="text" name="AKA"
                    {% if aliases%} value=
                        "{% for alias in aliases %}{{ alias.name }}{% if not forloop.last %},{% endif %}{% endfor %}"
                    {% endif %} /></div>
            </div>
        {% endif %}
        {% if team.shortname and adm %}
            <div class="row infobox">
                <div class="rowel" style="width: 10em;">Short name</div>
                <div class="rower" style="width: 20em;">{{ team.shortname }}</div>
            </div>
        {% endif %}
        {% if adm %}
            <div class="row edit" style="display: none;">
                <div class="rowel">Short name</div>
                <div class="rower"><input type="text" name="shortname" {% if team.shortname %}value="{{ team.shortname }}"{% endif %} /></div>
            </div>
        {% endif %}
        {% if team.founded %}
            <div class="row">
                <div class="rowel" style="width: 10em;">Founded</div>
                <div class="rower" style="width: 20em;">{{ team.founded|date:"F jS, Y" }}</div>
            </div>
        {% endif %}
        {% if team.disbanded %}
            <div class="row">
                <div class="rowel" style="width: 10em;">Disbanded</div>
                <div class="rower" style="width: 20em;">{{ team.disbanded|date:"F jS, Y" }}</div>
            </div>
        {% endif %}
        {% if players %}
            <div class="row">
                <div class="rowel" style="width: 10em;">Players</div>
                <div class="rower" style="width: 20em;">
                    {{ players.count }}
                    ({{ protoss.count }} <img src="{{ 'P'|imgfolder|static }}" alt="Protoss" class="btm" />, 
                    {{ terran.count }} <img src="{{ 'T'|imgfolder|static }}" alt="Terran" class="btm" />, 
                    {{ zerg.count }} <img src="{{ 'Z'|imgfolder|static }}" alt="Zerg" class="btm" />)
                </div>
            </div>
            <div class="row">
                <div class="rowel" style="width: 10em;">Offline matches</div>
                <div class="rower" style="width: 20em;">{{ offline }}%</div>
            </div>
        {% endif %}
        {% if team.homepage or team.lp_name %}
            <div class="row infobox" id="external">
                <div class="rowel">External</div>
                <div class="rower">
                        {% if team.homepage %}
                        <a href="{{ team.homepage }}" target="_blank">Homepage</a>
                        {% endif %} 
                        {% if team.lp_name %}
                        <a href="http://wiki.teamliquid.net/starcraft2/{{ team.lp_name }}" target="_blank">LP</a>
                        {% endif %}
                </div>
            </div>
        {% endif %}
        {% if adm %}
            <div class="row edit" style="display: none;">
                <div class="rowel">Homepage</div>
                <div class="rower"><input type="text" name="homepage" {% if team.homepage %}value="{{ team.homepage}}"{% endif %} /></div>
            </div>
            <div class="row edit" style="display: none;">
                <div class="rowel">Liquipedia</div>
                <div class="rower"><input type="text" name="lp_name" {% if team.lp_name %}value="{{ team.lp_name }}"{% endif %} /></div>
            </div>
            <div class="row edit" style="display: none;"">
                <div class="rowel"></div>
                <div class="rower"><input type="submit" name="op" value="Submit" /></div>
            </div>
        {% endif %}
        </div>
    </div>
    </form>
    
    {% comment %}
    <p style="text-align: center;">
    {% if team.id|haslogo %}
    <img style="margin-bottom: 15px; float: right;" src="{{ team.id|imgfolder:"teams"|static }}" alt="{{ team.name }}" title="{{ team.name }}" />
    {% endif %}
    </p>
    {% endcomment %}

    {% if team.founded and team.disbanded %}
    <p>{{ team.name }} was founded on {{ team.founded|date:"F jS, Y" }} and disbanded on {{ team.disbanded|date:"F jS, Y" }}.</p>
    {% elif team.founded %}
    <p>{{ team.name }} was founded on {{ team.founded|date:"F jS, Y" }}.</p>
    {% elif team.disbanded %}
    <p>{{ team.name }} was disbanded on {{ team.disbanded|date:"F jS, Y" }}.</p>
    {% endif %}

    {% if active %}
        <h3>Active roster</h3>
        <p>{{ team.name }} has {{ active.count }} players who have played a ranked game within the last
        two months.</p>
        {% include "ratinglist.html" with entries=active rl_pos_arrow=0 displayteams=0 %}
    {% endif %}

    {% if inactive %}
        <h3>Inactive roster</h3>
        <p>{{ team.name }} has {{ inactive.count }} players who have been temporarily removed from the
        ranking due to inactivity.</p>
        {% include "ratinglist.html" with entries=inactive rl_pos_arrow=0 displayteams=0 %}
    {% endif %}

    {% if nonplaying %}
        <h3>Non-playing members</h3>
        <p>{% for p in nonplaying %}
        <a href="/players/{{ p.player.id }}-{{ p.player.tag|urlfilter }}/">{{ p.player.tag }}</a>{% if forloop.revcounter > 2 %}, 
        {% elif forloop.revcounter == 2 %} and {% endif %}{% endfor %} 
        {% if nonplaying|length > 1 %}are{% else %}is{% endif %} assigned to {{ team.name }} in a
        non-playing capacity.</p>
    {% endif %}

    {% if past %}
        <h3>Past members</h3>

<div class="table numtable" style="width: 67em;">
    <div class="rowh">
        <div class="rowe" style="width: 19em;">Name</div>
        <div class="rowe" style="width: 1em;"></div>
        <div class="rowe" style="width: 6em;"></div>
        <div class="rowe" style="width: 15em;">Joined</div>
        <div class="rowe" style="width: 26em;">Left</div>
    </div>
    {% for tm in past %}
    <div class="row {% cycle 'row2' 'row1' %}">
        <div class="rowe">
            <a href="/players/{{ tm.player.id }}-{{ tm.player.tag|urlfilter }}/">{{ tm.player.tag }}</a>
        </div>
        <div class="rowe">
            {% if tm.player.country != "" %}
                <img src="{{ tm.player.country|lower|imgfolder:"flags"|static }}" alt="{{ tm.player.country }}" />
            {% endif %}
        </div>
        <div class="rowe">
            <img src="{{ tm.player.race|imgfolder|static }}" alt="{{tm.player.race}}" class="btm" />
        </div>
        <div class="rowe">{{ tm.start|date:"F jS, Y" }}</div>
        <div class="rowe">{{ tm.end|date:"F jS, Y" }}</div>
    </div>
    {% endfor %}
</div>
    {% endif %}
{% endblock %}
