{% extends "index.html" %}

{% comment %}
The list of all registered shortened URLs called from miniURL.views.list.
{% endcomment %}

{% load i18n %}

{% block title %}{% trans "Short URLs list" %}{% endblock %}

{% block content %}
    <ul>
    {% for mini in minis %}
    <li> 
    {{ mini.longURL }} {% trans "via" %} <a href="/m/{{ mini.code }}/">/m/{{ mini.code }}</a>
    {% if mini.submitter %}{% blocktrans with sub=mini.submitter %}created by {{sub}}{% endblocktrans %}{% endif %}
    {% blocktrans count mini.nb_access as ntimes  %}(accessed {{ ntimes }} time){% plural %}(accessed {{ ntimes }} times){% endblocktrans %}
    </li>
    {% empty %}
    <li>{% trans "No short URLs." %}</li>
    {% endfor %}
    </ul>
{% endblock %}
