{% extends "index.html" %}

{% comment %}
The list of all registered shortened URLs called from miniURL.views.list.
{% endcomment %}

{% block title %}Short URLs list{% endblock %}

{% block content %}
    <h2>List of short URLs</h2>
        <ul>
        {% for mini in minis %}
            <li> {{ mini.longURL }} via <a href="/m/{{ mini.code }}/">/m/{{ mini.code }}</a>
            {% if mini.submitter %}created by {{ mini.submitter }}{% endif %} (accessed {{ mini.nb_access }}
            time{{ mini.nb_access|pluralize }})</li>
            {% empty %}
            <li>There is currently none.</li>
        {% endfor %}
        </ul>
{% endblock %}
